[2018-11-12 09:03] kzangeli opened #3 "URI Expansion to its own file"
Right now, URI Expansion is only used in orionldPostEntities.
The functions that implement the URI expansion are static functions "tailor made" for that specific request.
Soon other requests will need URI Expansion as well and the implementation will need to get more generic.

[2018-11-12 09:06] kzangeli opened #4 "memleak of 215 bytes for functest 0000_ngsild/ngsild_entity_creation_parse_error_in_payload"
The kjson library has a memleak for JSON buffers that present a JSON Parse Error.
It's a bit tricky, but MUST be fixed

[2018-11-12 09:08] kzangeli opened #5 "Implement urhCheck()"
The function `urnCheck()` in `src/lib/orionld/common/urnCheck.cpp` only checks that the URN starts with `urn:`, nothing more.
The rest of the function needs to be implemented.

[2018-11-15 20:51] jmcanterafonseca opened #6 "If Accept is absent "application/json" shall be assumed"
Section 6.3.4 of the specification

[2018-11-15 21:07] jmcanterafonseca opened #7 "Delete Entity returns HTTP status code 200 instead of 204"

[2018-11-15 21:13] jmcanterafonseca opened #8 "When providing content which is not JSON nor JSON-LD HTTP status code shall be 415 and not 400"
(spec has to be updated)

[2018-11-15 21:24] jmcanterafonseca opened #9 "JSON-LD Link Header format is wrong"
It should be, for instance,

[code]

[2018-11-15 21:24] jmcanterafonseca opened #10 "JSON-LD Link Header should not point to the Core @context"
but to the Default @context or to the corresponding @context

[2018-11-15 21:30] jmcanterafonseca opened #11 "JSON-LD Link header in GET requests is reported to be in error but actually it is not"
Please check the input format at

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/retrieve_entity_with_ldcontext_test.js#L102

[2018-11-15 22:25] jmcanterafonseca opened #12 "@context specified by array gives an error"
[code]

[2018-11-15 22:30] jmcanterafonseca commented on #8
https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextProvision/protocol_errors_test.js

[2018-11-15 22:30] jmcanterafonseca commented on #7
https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextProvision/delete_entity_test.js

[2018-11-17 17:37] kzangeli opened #13 "Subscription creation with context in HTTP Link Header"
Subscription creation has just been implemented.
However, it works only for Content-Type "application/ld+json", i.e. with the @context in the payload.
Need to accept "application/json" as wel (i.e. @context in the Link HTTP Header).

[2018-11-17 17:59] kzangeli commented on #11
This seems to be the same as issue #9.
Well, in/out.
I assumed (from examples) that the Link HTTP Header was simply a URL string.
Now I see that was a mistake ...

[2018-11-17 18:40] kzangeli commented on #8
Fixed in https://github.com/Fiware/context.Orion-LD/commit/2e12e41f0a924115b3d17cbb6df69492e7dc20fd

[2018-11-17 18:42] kzangeli commented on #7
Fixed in https://github.com/Fiware/context.Orion-LD/commit/18a79439ac6f1e9e9a8788d44fd9ea49de170bce

[2018-11-17 19:50] kzangeli commented on #12
Contexts as arrays is implemented and working ...
I implemented a functest creating the entity in the example above and ran into problems with the three last contexts:
[code]

Replacing the last three contexts with ONE context: `https://fiware.github.io/NGSI-LD_Tests/ldContext/testFullContext.jsonld`, i.e. an Array with *two* contexts and the creation is successful.

wget got a 404 Bad Request.
or

[2018-11-17 20:14] kzangeli commented on #12
I did look at the error code (from curl_easy_perform).
However, the function returns 0 (OK) for 404 Bad Request ... :(
Thanks to SOF I found away to tell curl_easy_perform to complain on non-200 HTTP Status code, so, now the error response is better.

See commit XXX

[2018-11-17 20:16] kzangeli commented on #6
Fixed in https://github.com/Fiware/context.Orion-LD/commit/adcf7468d609a24c44831c233d8d4c6802ce8d81

[2018-11-17 23:00] kzangeli commented on #11
Fixed in https://github.com/Fiware/context.Orion-LD/commit/8b30568691b8bb1a914cca34628fd41bfc88f250.

Now the format `Link: <URL>; rel=URL; type=XXX is supported.
However, not sure what to with *rel* and *type*.
Doing nothing right now (I even stop parsing after reaching the end of the URL).
If something needs to be done about rel and type, a new issue about this should be created.

[2018-11-18 09:02] kzangeli commented on #9
Fixed in https://github.com/Fiware/context.Orion-LD/commit/ffa8e041da8d97c8e8fdb8a98e23810775181455

[2018-11-18 10:16] kzangeli commented on #10
Fixed in https://github.com/Fiware/context.Orion-LD/commit/d02ae46513f49634969180c3ddce4e529c60dedc.
Except for one case, where the core context is given literally as context in input payload:
`ngsild_contexts_case_2.test`
This might not be a problem.
If this issue ever resurfaces, we'll deal with it.

[2018-11-20 10:13] kzangeli opened #14 "StringFilter on metadata using q instead of mq"
To support the following String Filter ...:
[code]
... we will need to modify the current implementation.
 `observedAt` is a metadata and not part of the compound value for A1.
With the current implementation, this would work:
[code]
But, that doesn't follow the spec of ngsi-ld.

What needs to be done with the current implementation is to treat `observedAt`, `modifiedAt` etc as special words and d

[2018-11-20 10:17] kzangeli opened #15 "URI Expansion on attributes for String Filters"
String Filters in ngsild need to URI expand the attribute.
E.g. for the string filter `?q=A1.i==12` A1 will be URI expanded to `http:/xxx.yyy.zzz/A1` (or any other URI depending on the @context).

But, what happens if an attribute is created with APIv2?
Then its name is actually "A1" in the database and after URI expansion, A1 will not be found.
To fix this, we'd need to know that en entity/attrib

[2018-11-20 17:05] jmcanterafonseca opened #16 "Create Entity with LD Context fails"
Error:

`
{"body": {"details": "https://fiware.github.io/NGSI-LD_Tests/ldContext/testFullContext.jsonld", "title": "failure to create context from URL", "type": "http://example.org/ngsi-ld/errors/BadRequestData"}, "headers": {"connection": "close", "content-length": "188", "content-type": "application/json", "date": "Tue, 20 Nov 2018 16:50:38 GMT"}, "request": {"headers": {"Content-Type": "applica

[2018-11-20 17:06] jmcanterafonseca commented on #16
Tests that fail:

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextProvision/create_entity_with_ldcontext_test.js#L16

[2018-11-20 17:11] jmcanterafonseca commented on #11
this is not fixed

please check

[code]

[2018-11-20 21:43] kzangeli commented on #16
This seems to be a network problem:  `failure to create context from URL`.
Try again, see if it works, and make sure that `https://fiware.github.io/NGSI-LD_Tests/ldContext/testFullContext.jsonld` is visible.

[2018-11-20 21:45] kzangeli commented on #11
This seems to be a problem with the version of orionld.
The issue should be fixed.
All functests of orionld work with the "new" format of Link HTTP Header.
If it fails somehow, I'd need detailed info on the failure.

[2018-11-21 17:31] jmcanterafonseca opened #17 "When MIME type of content rendered is "application/json" @context shall not be rendered"
instead a JSON-LD Link header shall be provided as part of the HTTP response

[2018-11-21 17:33] jmcanterafonseca opened #18 "when an Entity does not incorporate @context then it shall be assigned the default @context"
and not the core NGSI-LD @context

https://forge.etsi.org/gitlab/NGSI-LD/NGSI-LD/blob/master/defaultContext/defaultContext.jsonld

[2018-11-22 15:44] jmcanterafonseca commented on #18
I create an Entity as follows:

POST /ngsi-ld/v1/entities/
{
	"id": "urn:ngsi-ld:Vehicle:V233",
	"type": "Vehicle"
}

then GET

/ngsi-ld/v1/entities/urn:ngsi-ld:Vehicle:V233

results in

[code]

[2018-11-22 15:45] jmcanterafonseca commented on #17
the test on #18 shows that this issue remains

[2018-11-22 16:01] jmcanterafonseca opened #19 "extra decimals are introduced in GeoCoordinates (longitude)"
Entity:

[code]

When retrieved, coordinates are

 'value': {
        'type': 'Point',
        'coordinates': [-30.01, 75.010002]
}

[2018-11-22 16:10] jmcanterafonseca opened #20 "Certain queries cause the broker to die"
by condition over object

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/query_entities_test.js#L98

by condition over observedAt

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/query_entities_test.js#L108

over property of a property

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/query_entities_test.js#L118

etc.

[2018-11-22 16:19] jmcanterafonseca commented on #8
verified

[2018-11-22 16:19] #8 closed

[2018-11-22 16:20] jmcanterafonseca commented on #6
verified

[2018-11-22 16:20] #6 closed

[2018-11-22 16:20] jmcanterafonseca commented on #7
verified

[2018-11-22 16:20] #7 closed

[2018-11-22 16:28] jmcanterafonseca opened #21 "When an attribute is not present a 404 error is raised incorrectly"
Example:

GET /ngsi-ld/v1/entities/urn:ngsi-ld:Vehicle:V1234?attrs=nonPresentAttribute

Response is

[code]

And it should be (as it is currently in Orion):

200 OK
[code]

[2018-11-22 16:34] jmcanterafonseca opened #22 "Error types should be only ETSI URIs"
I have noticed that sometimes error payloads are generated as follows:

[code]

Error payloads "type" member shall always contain ETSI-defined URIs:

Error Type | HTTP status
-- | --
http://uri.etsi.org/ngsi-ld/errors/InvalidRequest | 400
http://uri.etsi.org/ngsi-ld/errors/BadRequestData | 400
http://uri.etsi.org/ngsi-ld/errors/AlreadyExists | 409
http://uri.etsi.org/ngsi-ld/errors/OperationNotSup

[2018-11-22 21:02] kzangeli commented on #19
Yeah, this is no good ...
Floats are like that, unfortunately. That's kind of how a computer works. It's not apt to treat floats, only integers. There are rounding errors.
The only way to really fix this problem is to store floats as strings and during serialization, render them also as strings but without quotes. This fixes that particular problem to 100%. But, another one is introduced. The 'q'

[2018-11-22 21:07] kzangeli commented on #22
Yeah, not sometimes, more like always.
This is how the conversion to error string is implemented:
[code]
Seems like there's been a change in the spec.
Not a problem, very easy to fix.

[2018-11-22 21:44] kzangeli commented on #21
Strange, the code uses the orion code.
I did a test and it is as you say, orion works like that. orionld does not ... using (practically) the same code.
Will look into it.

[2018-11-22 22:13] kzangeli commented on #21
So. I looked into this matter a little ...
What orion does is a query to mongo about ALL entities. There might be millions of entities.
After receiving ALL entities, the 'attrs' filter is used to remove all attributes that do not match.
This is ... crazy. The filter should be made at db level and all "uninteresting" entities should be filtered out at its source.

It's like querying for an entity w

[2018-11-23 09:50] jmcanterafonseca commented on #16
closing. Now the Docker container includes all the certificates needed to resolve remote @context

[2018-11-23 09:50] #16 closed

[2018-11-23 09:51] #12 closed

[2018-11-23 09:54] jmcanterafonseca commented on #19
why the latitude does not suffer from that problem?

[2018-11-23 10:01] jmcanterafonseca commented on #17
still happening on ed9be30813c315f6c1dd6c1998c6c99c4eda9829

[2018-11-23 10:16] kzangeli commented on #19
Well, these are rounding errors.
It all depends on how the value is stored inside its float.
Sometimes a value e.g. `13` gets stored as `13.00000000001`.
Computers aren't made for floating numbers ...
Always preferable to use integers, like storing milliseconds instead of seconds etc.
That said, there is a possible fix, as I mentioned before - to store TWO values instead of one.

[2018-11-23 11:35] kzangeli commented on #22
Fixed in ec8501e

[2018-12-17 12:45] #22 closed

[2018-12-17 14:00] #17 closed

[2018-12-17 14:01] jmcanterafonseca opened #23 "If no Accept header provided --> application/json content shall be provided"
The default content to be provided in the absence of an Accept header is `application/json`

[2018-12-17 14:02] #9 closed

[2018-12-17 14:05] #10 closed

[2018-12-17 17:17] kzangeli commented on #23
I believe this is implementad already. Time ago.
If you have an example that fails, I'd love to see it :)

[2018-12-19 09:05] jmcanterafonseca opened #24 "Subscription validation logic is wrong"
POST /ngsi-ld/v1/subscriptions/

[code]
it fails with

[code]

But the spec says that `watchedAttributes` or `entities` shall be present, so in that case all attributes shall be watched and the subscription shall be created.

[2018-12-19 12:38] jmcanterafonseca opened #25 "subscription id shall be a URI"
Test failing:

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextSubscription/create_subscription_errors_test.js#L24

[2018-12-19 18:34] kzangeli commented on #24
I think I misunderstood this (from chapter 5.2.12):

if watchedAttributes is
present it shall not
appear (0 cardinality)

[2018-12-19 19:35] kzangeli commented on #24
Fixed in branch bug/92.orionld-issue-24-timeInterval-vs-watchedAttributes

[2018-12-20 10:09] jmcanterafonseca opened #26 "In timestamps trailing timezone `Z` has to be rendered always"
When rendering timestamp data, and as per the latest version of the spec the trailing timezone (always 'Z', has to be rendered). This applies for `observedAt, createdAt, modifiedAt` or any other `DateTime` attribute.

[2018-12-20 10:10] jmcanterafonseca commented on #26
in addition DateTime shall always be represented in UTC.

[2018-12-20 10:32] jmcanterafonseca commented on #23
POST /ngsi-ld/v1/entities/

{
"id": "urn:ngsi-ld:Vehicle:V233",
"type": "Vehicle"
}

GET /ngsi-ld/v1/entities/urn:ngsi-ld:Vehicle:V233
(no headers, accept, etc.)
{
    "id": "urn:ngsi-ld:Vehicle:V233",
    "type": "Vehicle",
    "@context": "https://forge.etsi.org/gitlab/NGSI-LD/NGSI-LD/raw/master/defaultContext/defaultContext.jsonld"
}

and Content-Type header incorrectly says

Content-Type →appl

[2018-12-20 10:33] jmcanterafonseca commented on #5
you need to check that the string is a valid URI ...

[2018-12-20 11:01] jmcanterafonseca commented on #18
now the default @context is assigned but issue #23 still remains

[2018-12-20 11:01] #18 closed

[2018-12-20 11:10] jmcanterafonseca opened #27 "if a target entity does not exist append entity attributes return 204 instead of 404"

[2018-12-20 11:16] jmcanterafonseca opened #28 "Attributes are not overwritten when append entity attributes"
See test at

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextProvision/append_entity_attrs_test.js#L83

[2018-12-20 11:17] jmcanterafonseca opened #29 "When payload is an empty object append entity attributes shall return 400"
See

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextProvision/append_entity_attrs_test.js#L76

[2018-12-20 11:19] jmcanterafonseca opened #30 "All query tests are failing"
See

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/query_entities_test.js

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/query_entities_with_ld_context_test.js

[2018-12-20 11:21] jmcanterafonseca opened #31 "When a subscription is not found error type shall be ResourceNotFound"

[2018-12-20 11:25] jmcanterafonseca opened #32 "observedAt is returned as number for this test"
https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextConsumption/retrieve_entity_test.js#L10

[2018-12-20 12:19] jmcanterafonseca opened #33 "Subscriptions: watchedAttributes nor entities arrays can be 0 length"

[2019-01-14 09:08] jmcanterafonseca opened #34 "array of object (URIs) is not supported for relationships"
See test at

https://github.com/Fiware/NGSI-LD_Tests/blob/master/contextProvision/create_entity_test.js#L239

[code]

[2019-01-15 09:40] jmcanterafonseca opened #35 "Point to the official ETSI Core @Context"
The official Core @context is at

http://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld

Please modify your code to point to it and remove the old forge.etsi....

Thanks

[2019-01-18 12:53] jmcanterafonseca opened #36 "either `type` or `attrs` have to be present when querying /ngsi-ld/v1/entities"

[2019-01-18 12:54] jmcanterafonseca commented on #36
section 5.7.2.3 of the specification

[2019-04-23 14:25] jmcanterafonseca opened #43 "createdAt / modifiedAt incorrectly reported as invalid"
Using

https://raw.githubusercontent.com/FIWARE/dataModels/master/specs/AgriFood/AgriCrop/example-normalized-ld.jsonld

an error is raised

{"type":"http://uri.etsi.org/ngsi-ld/errors/BadRequestData","title":"Attribute must be a JSON object","details":"createdAt"}

createdAt / modifiedAt are not reified properties, thus they are directly the date as string in ISO8601 format

[2019-04-23 14:26] jmcanterafonseca opened #44 "Orion-LD crashes with the following payload"
[code]

[2019-04-29 18:13] kzangeli opened #45 "Crash in mongoQueryTypes functests"
Something seems to have gone terribly wrong about mongo query types.
Many of the unit tests in mongoQueryTypes_test.cpp crash and I don't know why.
This is not the priority right now so I just disable the failing tests and continue.

See description of the crash in mongoQueryTypes_test.cpp, line 219:
[code]

To be revisited

[2019-04-30 21:08] kzangeli commented on #44
Just tried it, using:
[code]
_[ orionCurl is not a standard command, but I think it is clear anyway ...]_

It worked just fine. The entity is created and the broker stays alive.
I am on the newest branch, so, please checkout the "develop" branch and test again

[2019-04-30 21:45] kzangeli commented on #43
True, those two "builtins" aren't getting any special treatment by orionld as of today.
Not sure what the broker should do if encountered with them ...
There are really only three options:
1. Return Error
2. Ignore them (as the broker sets these values itself)
3. Use them and let them override the builtin values.

From this issue I assume we will go with option 3.
Do we really want that?
I mean, t

[2019-05-03 08:24] kzangeli commented on #43
PR https://github.com/FIWARE/context.Orion-LD/pull/48 should fix this problem (option 3: builtin values are overridden)

[2019-05-03 09:02] kzangeli commented on #36
This precondition was implemented long ago ...
Can you give some details on the error you have detected?

[2019-05-03 09:07] kzangeli commented on #35
Done in commit 48b566a5bf:
https://github.com/FIWARE/context.Orion-LD/commit/48b566a5bf10c3334f6736002ef69e2712076804#diff-cedb75d87dc0132bb4fded06804dea10L42

[2019-05-03 09:25] kzangeli commented on #34
This works just fine, see the funct4est of PR https://github.com/FIWARE/context.Orion-LD/pull/49

[2019-05-03 13:55] kzangeli commented on #33
This is implemented. Probably an older version of the broker that failed ...
See PR: https://github.com/FIWARE/context.Orion-LD/pull/50

[2019-05-03 13:57] kzangeli commented on #30
This is pretty weird ...
When something like this happens to me, it's normally due to network problems (as opposed to orion, orionld needs a working internet to be functional as it needs to download contexts).
Try again and let me know

[2019-05-06 08:12] kzangeli commented on #32
The PR https://github.com/FIWARE/context.Orion-LD/pull/51 shows that this issue "is no longer an issue" :)

[2019-05-06 08:32] kzangeli commented on #31
Fixed in PR https://github.com/FIWARE/context.Orion-LD/pull/52

[2019-05-06 10:09] kzangeli commented on #29
Right now, the broker responds like this:
[code]

It's not a bad response.

It is also not a bad response to complain about the empty payload.
It's all about the order in which the errors are detected.
If you think that the empty payload should be detected before the non-existing entity, I have no problem with that.
But, I would implement this check in one place only, for all possible requests.
If

[2019-05-06 10:28] kzangeli commented on #29
I implemented the check for "{}" (the resulting tree after parsing is a single object of type "Object" and with out children) and this is the new response:
[code]

Better like that?

[2019-05-06 10:29] jmcanterafonseca commented on #29
Yes, I think an empty payload is an error that should come before, as it has to do with the content of the request, which is totally incorrect. I also agree that this should be unified for any request.

[2019-05-06 10:30] kzangeli commented on #29
Good. Thanks. PR coming soon to a theater near you :)

[2019-05-06 10:31] jmcanterafonseca commented on #29
@kzangeli what happens if the content of the payload is `""`? We need to check that case as well. Also if the content of the payload is `null` or nothing inside ... (empty byte stream).

[2019-05-06 10:32] kzangeli commented on #29
NULL is already taken care of. Empty I think also.
Will add more tests in the functest of this next PR

[2019-05-06 10:33] jmcanterafonseca commented on #29
and `""` because `""` is also valid JSON but not semantically correct for our API ...

[2019-05-06 15:37] kzangeli commented on #29
Fixed in https://github.com/FIWARE/context.Orion-LD/pull/53

[2019-05-07 10:38] kzangeli commented on #27
Seems to work just fine. PR #57 adds a functest to prove it.

[2019-05-07 13:00] kzangeli commented on #26
This issue I believe I fixed a long time ago ...
Took a look in functests and all DateTime seems to end in 'Z'.
About UTC, the broker uses the syscall `time()` to obtain timestamps and `time()` returns UTC.

So, issue seems solved to me.

[2019-05-07 13:01] kzangeli commented on #20
Think this is fixed. Test again?

[2019-05-07 13:05] kzangeli commented on #23
Think I misunderstood.
What you are saying is that if a request is done without explicitly stating that it wants `application/ld+json`, the context must be returned as a HTTP header, and not in the payload and the mime type must be `application/json`.  OK, makes sense.

[2019-05-07 18:04] kzangeli commented on #23
Actually, about what we talked about, this confusion with contexts ...
No context should be returned, nor in payload nor in HTTP header.
All items in the payload should use their real names - the long ones specified by the context that was used when creating the entity (no aliases).

We still need to discuss all the intrinsics about this and then change the orionld broker "completely" ...

[2019-05-07 18:40] kzangeli commented on #23
Seems to be fixed now.
PR #58 proves it.

[2019-05-07 18:45] kzangeli commented on #19
I will make a simple test and see how the value `75.01` is stored in mongo.
But, as I  mentioned, there will always be rounding errors, not much we can do about it -
except for storing two different values, a string for rendering and a float for comparisons.

[2019-05-08 07:11] kzangeli commented on #4
This leak has been "miraculously" fixed.
valgrind test suite ran without any issue in the branch bug/133.orionld_issue_0023 (May 06 2019)

[2019-05-08 07:11] #4 closed

[2019-05-08 07:31] jmcanterafonseca commented on #35
sorry Ken, but we need to update to HTTPs

https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld

[2019-05-08 07:41] kzangeli commented on #35
Uff .. that's gonna cost me a lot of time ...
No probs. They pay me to do this kind of things too :)
I imagine the content of https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld must also change all http to https ... ? And everyehere else

[2019-05-08 07:53] kzangeli commented on #19
Said and done.
PR #59 tests the rounding problem both for what is stored in mongo and the response with GET.
In my Ubuntu laptop there is no rounding error.
However, this is no guarantee for that it will work also in other machines ...

[2019-05-08 14:19] tanktoo opened #60 "NGSI-LD subscription constant crashes: "std::bad_alloc""
Hi,
I am trying to get a subscription working for new added data sources. For this I add the following subscription:
`{
    "id": "urn:ngsi-ld:Subscription:testsubscription",
    "type": "Subscription",
    "entities": [
        {
            "type": ".*"
        }
    ],
    "notification": {
        "format": "keyValues",
        "endpoint": {
            "uri": "http://callback_computer:8080/ca

[2019-05-08 14:38] kzangeli commented on #60
The ngsi-ld implementation is very much work-in-progress and likely to fail or crash.
We expect to have a stable release candidate before winter, with most of the specification supported.
So, crashes is nothing to be surprised by, I'm afraid.

That said, I will look into this problem right now and see if I can see anything strange.

Could you please tell me the response to a `GET /ngsi-ld/ex/v1/ve

[2019-05-08 14:56] tanktoo commented on #60
Hi,
the curl output for version is:
`{
  "branch": "bug/133.orionld_issue_0019",
  "kbase version": "0.2",
  "kalloc version": "0.2",
  "kjson version": "0.2"
}
`
Regarding the type. I tested with NGSIv2 last week. There I had changed to typePattern. I just saw the example in the NGSI-LD test suite and changed to type. What I want to achieve is to get a notification for every entity created within

[2019-05-08 15:12] kzangeli commented on #60
So, you have a very new version of orionld, that's great.

About the crashes, "std::bad_alloc" indicates you are out of memory. Nothing we can do about a problem like that.
Without memory, the broker can of course not run. It seems you have a serious memory problem.

I created a simple func-test, that simply creates the subscription and receives the `201 Created`  and ran it 100 times and all OK.

[2019-05-08 15:33] kzangeli commented on #60
I added the functest, in case you want to use it:
[code]

I'm closing this issue.
The memory problem is all you, I'm afraid.
If you wish to ask for `typePattern` to be implemented, open a new issue that talks only about typePatterns (then we'll see if the public opinion is with you :))

[2019-05-08 16:32] tanktoo commented on #60
Hm, I had a look at the memory consumption as this was one of our first ideas. At the moment the server (VM) has only 4GB but I can easily increase it. Will test it tomorrow and give you an answer.
For the typePattern stuff, I will think about it tomorrow. Thanks for your help!

[2019-05-09 09:18] tanktoo commented on #60
Hm, I don't exactly know how to run the functional test. I can execute the script as I have the git repo checked out locally but the broker is running in a docker container. So I am not sure it the script is doing anything (I get 3 outputs all with failure 10).
Besides this I have increased the memory of our server to 32GB and can reproduces the std::alloc easily. I just send the subscription, exa

[2019-05-09 09:24] kzangeli commented on #60
"Create the 'same' subscription twice":  that's very important input.
That's not what I tried yesterday. Will try it now. Might be a bug, an infinite loop somewhere in the broker that allocates a block over and over until there is no RAM left.

Testing it NOW ! :)

[2019-05-09 09:34] kzangeli commented on #60
So, there is definitely a bug.
Testing with a second creation of a sub with the same ID in my case there is no crash, but the broker responds with a `201 Created` which is no good. Should be a `400 Bad Request`. Will check with the documentation to see if there is anything specified about the desired behaviour. I doubt it, as this is a pretty strange case, trying to overwrite an existing subscript

[2019-05-09 09:53] kzangeli commented on #60
The broker now looks up a subscription before creating it.
If it already exists, an error is returned (`400 Bad Request`)
See PR https://github.com/FIWARE/context.Orion-LD/pull/62.

Now you don't have any other choice than to avoid trying to recreate the subscription ...
Pity I couldn't reproduce your memory problem ...

Perhaps you could send me the logfile (still using the version of the broker

[2019-05-09 10:57] jmcanterafonseca commented on #35
we will wait until we get confirmation from ETSI for the new abbreviated URI `https://uri.etsi.org/ngsi-ld/v1` (no trailing '/', by the way).

[2019-05-09 12:28] tanktoo commented on #60
I changed to debug level with all traces. As the broker now doesn't crash immediately (there is a high CPU load, I think it will crash in days after finishing all the logs) I just attached a log from the beginning until it starts repeating all the lines. Seem like an infinite loop.

[orion_halfhalf.log.tar.gz](https://github.com/FIWARE/context.Orion-LD/files/3162109/orion_halfhalf.log.tar.gz)
The

[2019-05-09 13:36] jmcanterafonseca commented on #44
still failing with

[code]

[2019-05-09 13:40] kzangeli commented on #60
It helps, of course it does :)
Seems now that the broker has entered a recursive function that it never comes out of.
Strange that the same thing doesn't happen to me ... Pity!

However, now that I have an idea what to look for I will do my best to reproduce the error and fix it.

Thank you very much for helping me to find an ugly bug !

[2019-05-09 13:41] jmcanterafonseca commented on #43
From the specification:

**5.2.2 Common members**
The JSON-LD representation of NGSI-LD Entity, Property, Relationship, Context Source Registration and Subscription
can include the common members described by table 5.2.2-1.
Those members are read-only, and shall be automatically generated by NGSI-LD implementations. They shall not be provided by Context Producers. In the event that they are provid

[2019-05-09 13:46] kzangeli commented on #43
ok, I'll change what I implemented to IGNORE instead of override.
Makes sense, no probs

[2019-05-09 13:55] #11 closed

[2019-05-09 14:34] jmcanterafonseca commented on #20
certain queries still fail 4 tests failing but Orion-LD does not crash so fixed

[2019-05-09 14:34] #20 closed

[2019-05-09 14:35] kzangeli commented on #44
I added that line (line 4: "createdAt") and it still works just fine ...
We need travis to test for us.
Right now, we have one node where this test works and another where it doesn't ... What do we do?
In orion we let the result of travis decide.
Local errors that are OK in travis is each users headache.
There isn't much more we can do.

Except working together, in the machine where the crash is h

[2019-05-09 15:46] kzangeli commented on #43
github closed the issue for me ... reopening

[2019-05-09 15:46] kzangeli commented on #43
The issue should be fixed by PR #64

[2019-05-10 07:42] mainakae opened #65 "Query secuence crashing OrionLD"
Hi, and congratulations for the great work with OrionLD!

I've been testing the new broker and have found a really odd sequence that utterly crashes the broker. It even won't go back up after restarting the docker container.

The sequence is easy: with a mint new container (won't work with a previously existing container which has answered queries) launch two queries in sequence:

1. `GET http://{

[2019-05-10 09:46] tanktoo commented on #65
I can confirm this. Happens with my version too.
`{
    "branch": "bug/136.ngsild_issue_0043_ignore",
    "kbase version": "0.2",
    "kalloc version": "0.2",
    "kjson version": "0.2"
}`
Response of first query as above. Second query results in crash. Without the version query before the second works as expected.

[2019-05-10 09:50] kzangeli commented on #65
Ok!
Will look into this asap.
A little busy today but this got to the top three of my current ToDo list.
Thank you for reporting!

[2019-05-10 09:52] tanktoo commented on #65
[issue65.log](https://github.com/FIWARE/context.Orion-LD/files/3165920/issue65.log)
My log file with debug mode.

[2019-05-10 10:59] kzangeli commented on #65
Unfortunately, the issue doesn't appear in my environment :(
Are both of you using docker?

[2019-05-10 11:43] tanktoo commented on #65
I use docker yes.

[2019-05-10 12:22] mainakae commented on #65
Me too!, and not only for testing.

[2019-05-10 13:02] tanktoo commented on #60
Is this already implemented in the latest docker image? I still get the error. As the "GET" for active subscriptions is not implemented it is somehow impossible to proof for active subscriptions as my broker is still crashing instead of providing a bad request.

[2019-05-10 13:05] kzangeli commented on #60
It is implemented, just your broker see a to crash before it gets there ...
I am about to use the docker image to run the test.
Once I'm able to reproduce the bug it will most probably be easy to fix it
Patience ... :)

[2019-05-10 13:06] kzangeli commented on #60
Meanwhile, the output from valgrind for this crash would be really useful

[2019-05-10 13:08] tanktoo commented on #60
If you can provide some information on how to use it with the docker image I can test it.

[2019-05-10 14:46] tanktoo opened #67 "Subscriptions GET and DELETE"
Hi,
besides other problems with the NGSI-LD subscriptions (see #60 ) it seems there are some additional problems.
If I create a subscription
`{
    "id": "urn:ngsi-ld:Subscription:testsubscription",
    "type": "Subscription",
    "entities": [
        {
            "type": "vehicle"
        }
    ],
    "notification": {
        "format": "keyValues",
        "endpoint": {
            "uri": "htt

[2019-05-10 14:52] kzangeli commented on #67
Lots of stuff ...
First, yes, GET `/ngsi-ld/v1/subscriptions` is not implemented.
Then, it is weird that the GET individual subscription does not work. Very strange.
I have functests in place that "make sure" that this works.

I will test this though, hopefully I get the "not found" as well ..

[2019-05-10 15:04] tanktoo commented on #67
Didn't search for a specific id yet but GET with
`/ngsi-ld/v1/subscriptions/urn:ngsi-ld:Subscription:testsubscription `
also results n subscription not found.

[2019-05-13 14:42] kzangeli commented on #65
Just tried this in docker and ... no problem :(
This is what I did:

1. Start orionld in an xterm
[code]
2. In another xterm, run version and create an entity:
[code]

It worked just fine. I also did a GET on the entity after creation.

[2019-05-13 14:44] kzangeli commented on #65
[code]

[2019-05-13 15:44] kzangeli commented on #60
valgrind is included in the docker image, hopefully this will be finished today.
Also, the contexts have changed from http to https and this gave me problems in CentOS (not in Ubuntu, probably due to newer libcurl).

So, I'd propose to get a new docker image and try again. We'd be able to do some serious debugging with valgrind.

I will let you know when the new docker image is prepared

[2019-05-13 16:03] tanktoo commented on #65
That't interesting. I just tried it again with curl and it seems to work fine. Then I just started postman, sent both queries and it crashed again. I don't see a difference between postman command and curl...

[2019-05-13 16:07] kzangeli commented on #65
Might have to with really recent changes http -> https for the contexts. We are working on it right now.
Bad timing :))

[2019-05-13 21:12] kzangeli commented on #67
Not sure why you are having problems with this but ... I assure you it works just fine ...

[2019-05-14 08:15] tanktoo commented on #67
I think it is not found if I add fiware-servicepath and fiware-service to the header.

[2019-05-14 08:18] kzangeli commented on #67
Hmm, if you use a different tenant (service) ... then it will of course not be found.
The service path will do the same.
Paste the exact request that you are using when not finding the subscription.
I need the exact request for creating it as well.
Like that perhaps we can get to the bottom of the problem.

[2019-05-14 08:19] tanktoo commented on #67
Without the mentioned headers:
1. create "testsubscription" => works (201)
2. get "testsubscription" => works (200, description in body)
3. delete "testsubscription" => works(?) (got a 204 no content)
4. delete "testsubsription" again => seems 3. worked as I get a 404
5. create "testsubscription" again => broker crashes (maybe the subscrption is not deleted correctly? would then refer to issue60)

[2019-05-14 08:20] kzangeli commented on #67
In the form of curl requests from command line would be perfect

[2019-05-14 08:21] kzangeli commented on #67
OK, I will add Step 5 (create "testsubscription" again) to my functest of PR #71.

[2019-05-14 08:28] tanktoo commented on #67
Seems again only a problem with postman... have tried all requests with curl and it works...

[2019-05-14 08:30] kzangeli commented on #67
ok ...
I can't help with postman, I'm afraid.
Let's close this issue (and any other that only is affected by postman) and open a new one that describes better the problem.

[2019-05-14 08:32] kzangeli commented on #65
Closing this issue as it seems the problem is only seen using postman, not using curl.
A new issue will be opened about the postman problem.

[2019-05-14 08:32] #65 closed

[2019-05-14 08:34] tanktoo commented on #67
With headers problem still exist that is does not find anything.
[subscription_issue67.txt](https://github.com/FIWARE/context.Orion-LD/files/3176599/subscription_issue67.txt)

And yes don't know what postman is doing different... will avoid to use it. Besides this I attached the file with curl command with and without headers.

[2019-05-14 08:36] kzangeli commented on #67
Reopening, for the Tenant/Service-Path issue

[2019-05-14 09:06] kzangeli commented on #67
So, some background:
1. Service Path is not supported by orionld
2. Tenants are, but has still not been implemented

The service path, whatever you use, is stored in the database as "/" (to not complicate interoperability with "non-ld orion"). The tenant (fiware-service) right now is simply ignored. Shouldn't take me very long to implement, will put it high on my ToDo list.

That said, your test w

[2019-05-14 09:10] kzangeli commented on #67
First I start `orionld -fg` in a separate xterm.
Then:
[code]

[2019-05-14 15:32] jmcanterafonseca opened #73 "Support prefix expansion for URIs"
We need to support cases
[code]

[2019-05-14 15:36] kzangeli commented on #73
ok ...
So, "partial alias replacement" for:

* Entity Type Value
* Attribute Names

And (I assume):
* ':' cannot be a part of the name of a prefix
* only one pass

Anything else I need to know?

This doesn't seem too difficult to implement, but the broker will unfortunately be slower ...

And just to make sure I've understood ...
`foaf:name` in this example will be expanded to `http://xmlns.com/fo

[2019-05-14 16:11] jmcanterafonseca commented on #73
also the `object` field has to be properly expanded

[2019-05-14 16:12] jmcanterafonseca commented on #73
correct
foaf:name in this example will be expanded to http://xmlns.com/foaf/0.1/name

[2019-05-14 18:32] kzangeli commented on #67
Tenants fixed in PR #74. Not that I think that will fix your problem, but you might give it a try.
The docker image is still not ready, but hopefully tomorrow.

[2019-05-15 08:34] tanktoo opened #75 "Docker-compose: Startup Error (cannot connect to mongo - doing 100 retries with a 1000 microsecond interval)"
Hi,
I just updated the docker container. Now broker is not starting due to some connection problems to mongo db.
`time=Wednesday 15 May 08:30:35 2019.273Z | lvl=ERROR | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=mongoConnectionPool.cpp[152]:mongoConnect | msg=Database Startup Error (cannot connect to mongo - doing 100 retries with a 1000 microsecond interval)`
As far

[2019-05-15 08:40] kzangeli commented on #75
We're experimenting with docker right now, trying to get functional tests running at PR creation.
It has proved more difficult than expected. Hopefully the problem will be fixed today.
The problem you are seeing might be due to this.
Can you go back to the older docker image until the problem is solved?

[2019-05-15 08:44] tanktoo commented on #75
No hurry, will do something else. Was just wondering. Good luck with fixing :)

[2019-05-15 09:08] caa06d9c commented on #75
The latest image was updated, you can try to pull changes.
To verify that image is correct, orion should return (/version) git hash : 21b88fe95a17feb29777b34f672d527ea92f692b

[2019-05-15 09:45] tanktoo commented on #75
Seems to be fixed. Thanks

[2019-05-15 09:45] #75 closed, assigned to nobody

[2019-05-16 07:13] kzangeli commented on #60
The docker image should be OK now

[2019-05-16 07:24] kzangeli commented on #73
One more doubt here ...
What if I do a GET of an entity created with prefix expansion?

1. GET without context
    What should be returned?
    1.1  Long names (http://xmlns.com/foaf/0.1/name)?
    1.2  Short names (foaf:name) and the context of the entity creation?

2. GET with context (`foaf` set to `http://xmlns.com/foaf/0.2/` inside the context)
    2.1  Long names (http://xmlns.com/foaf/0.2/n

[2019-05-16 09:03] jmcanterafonseca commented on #73
1. a GET without @context should return the URI (long names), as you don't have any @context to resolve against

2. If the @context only contains the mapping "foaf": "http://xmlns.com/foaf/0.2/" , as you said you would need to check whether your long URIs contain that prefix, and as you say it can be tricky ... another option is to store for each attribute URI two component parts (prefix, name) or

[2019-05-20 09:18] MasaGon commented on #75
I got reproduced on latest docker image.

fiware/orion-ld            latest              ffab7da30589        2 hours ago         110MB

[2019-05-20 12:46] caa06d9c commented on #75
Hi! Thank you for the report. Issue fixed in the latest commit, a new image will be available in ~15 min

[2019-05-21 02:43] MasaGon commented on #75
Thanks! But I got another errors. Should I post as a different issue? (Booted with brand new mongo container)

[code]

[2019-05-21 07:23] caa06d9c commented on #75
Hi! No, we are investigating the reason.

[2019-05-22 19:20] mariohese opened #93 "Problem with timestamps and application/ld+json in notifications"
Hi,
I think that it exists a problem with the timestamps in format ISO 8601 when receiving the notification data related to a subscription.
When I post an entity like the one in https://github.com/FIWARE/NGSI-LD_Experimental/blob/master/doc/example-code.md

[code]

I get the field observedAt correctly with a GET request:
_curl "http://localhost:1026/ngsi-ld/v1/entities?type=Vehicle" -H "Accept: ap

[2019-05-27 09:04] kzangeli commented on #67
Any news on this?

[2019-05-28 07:35] tanktoo commented on #67
Just did a quick test with my description in txt file. Seems its still not working.

[2019-05-28 07:41] kzangeli commented on #67
Did you perform the test I proposed in
https://github.com/FIWARE/context.Orion-LD/issues/67#issuecomment-492155194 ?

[2019-05-28 07:56] tanktoo commented on #67
I get the following output from second curl command:
`{
  "type": "http://uri.etsi.org/ngsi-ld/errors/ResourceNotFound",
  "title": "subscription not found",
  "details": "urn:ngsi-ld:Subscription:testsubscription"
}
`

[2019-05-28 08:03] kzangeli commented on #67
Did you update the broker?
What version do you have?  (curl localhost:1026/ngsi-ld/ex/v1/version)

[2019-05-28 08:25] tanktoo commented on #67
curl http://orionld:1026/ngsi-ld/ex/v1/version
[code]

[2019-05-28 08:31] kzangeli commented on #67
I just found an error in my example.
The broker doesn't support tenants by default - you need to start it with the `-multiservice` option for tenants to work.
When started without that option, the broker ignores the `Fiware-Service` header and creates everything in the `orion` database.

So, use `-multiservice` when starting the broker - I imagine you already do this as you are using tenants.
Howe

[2019-05-28 08:34] kzangeli commented on #67
So, you got 'develop' as branch name ... of course.
I recently automated the branch name creation and as you've checked out develop you get that name that says absolutely nothing. I may have to rethink this automation process :(

Show me your githash instead:
[code]

[2019-05-28 09:56] tanktoo commented on #67
If I add "-multiservice" to docker-compose script it is not starting.
How to show the githash? I use the docker version. There is no git installed within the container.

[2019-05-28 11:16] kzangeli commented on #67
First of all, `-multiservice` is a CLI option for the broker.
If we don't have git installed inside the docker, not much we can do ...
I imagine the docker creation takes the last from `develop` and builds the docker image from it. Should be OK.
I really don't know how to help you. You face errors that don't make a lot of sense ...
Will ask for help from our docker specialist.

[2019-05-28 11:48] caa06d9c commented on #67
Hi!  `-multiservice` enabled by default in the container, this option included in the entry point, as well as `fg`, you don't need it in the docker-compose file. You can log in to the container without starting Orion with the option `--entrypoint`, like `docker run -it --rm --entrypoint bash  fiware/orion-ld ` and check version. Orion version in the latest image is correct `1.15.0-next (git versio

[2019-05-28 11:56] tanktoo commented on #67
[code]

[2019-05-28 12:31] kzangeli commented on #67
ok, so far so good ...
Now, let's play around a little more inside the container. Send the same requests of creation/retrieval/deletion of the subsciption and see what happens.

As Dmitrii says, the -multiservice option is enabled by default so that should not be a problem.

Perhaps the problem is that when you try to GET and DELETE the subscription you don't specify the tenant (with HTTP header F

[2019-05-28 13:47] kzangeli commented on #67
I just read the entire issue again. Had forgotten about postman.
Does it only fail with postman?

[2019-05-28 13:55] tanktoo commented on #67
No, I used curl with the commands you posted in 67.

[2019-05-28 14:00] kzangeli commented on #67
ok ...
Let's do the mongo exercise: https://github.com/FIWARE/context.Orion-LD/issues/67#issuecomment-496418569

The only explanation I can see is a problem with the tenants. This test will show us whether this is the case.

[2019-05-28 14:20] tanktoo commented on #67
Deleted all docker images and started with compose.
`root@57308cf3c705:/# echo "show dbs" | mongo --quiet
admin          0.000GB
config         0.000GB
iotagent-json  0.000GB
local          0.000GB
orion          0.000GB`

Then after deleting databases:
`root@57308cf3c705:/# echo "show dbs" | mongo --quiet
admin   0.000GB
config  0.000GB
local   0.000GB
`
docker stop orion
starting again with dock

[2019-05-28 14:29] kzangeli commented on #67
So, the subscription is there, but for some reason the broker can't find it ...

Let's check the broker traces.  Have the broker started with `-t 0-255 -logLevel DEBUG` and post the entire log file (/tmp/orionld.log). Perhaps there we can get some clues ...

Also, remove all usages of service-path. orionld doesn't support service paths.
It shouldn't fail because of it (they are ignored, but stored

[2019-05-28 14:37] tanktoo commented on #67
This should be the log from my last post.
[issue67.log](https://github.com/FIWARE/context.Orion-LD/files/3228153/issue67.log)

[2019-05-28 14:52] kzangeli commented on #67
So, an extract of the traces:

**Servicing NGSI-LD request 001: POST /ngsi-ld/v1/subscriptions**
fiware-service: openiot
Creating error response: payload missing ((null))

**Servicing NGSI-LD request 002: POST /ngsi-ld/v1/subscriptions**
fiware-service: openiot
Got payload '{
     "id": "urn:ngsi-ld:Subscription:testsubscription",
     "type": "Subscription",
     "entities": [
         {

[2019-05-28 14:55] kzangeli commented on #67
As you can see:
Request 1 doesn't have any payload ... not sure what happened here. Never mind
Request 2 creates the subscription in orion-openiot, as the Fiware-Service is 'openiot'
Request 3 has the Fiware-Service set to 'openiot', but the lookup is done in the database 'orion' **not 'orion-openiot'** !   That's why it isn't found.

Seems like a bug to me.
Will look into it. With this new data i

[2019-05-28 14:56] tanktoo commented on #67
Request 1 was my fault, variable for subscription was empty. So no bug for request 1, sorry that I didn't mention.

[2019-05-28 14:56] kzangeli commented on #67
No probs

[2019-05-28 15:29] kzangeli commented on #67
Found the bug. Stupid mistake.
Need a few hours to test the changes thoroughly.
Will be merged into 'develop' later today (tonight) or tomorrow if my wife makes me cook dinner ... :)

@tanktoo, thank you very much for finding this bug for me, and very sorry I took so long to understand the problem ...

[2019-05-28 20:00] kzangeli commented on #67
So, with PR #94 (just merged into `develop`), this issue should be fixed.
Please test and let me know.

[2019-05-29 10:17] kzangeli commented on #93
I am more than sure there are plenty of bugs in orionld ...
Keep in mind that this is a work in progress, first alpha release planned for October this year.
I'm a bit busy at the moment but I promise to look into these problems you are facing as soon as I havre a bit of time over.

One thing that would help would be if you could edit the issue text and "pretty-print" the json payloads. Really diff

[2019-05-29 13:38] tanktoo commented on #67
Working! :)

[2019-05-29 13:38] #67 closed

[2019-05-29 14:00] kzangeli commented on #67
Great :)

[2019-05-29 17:13] kzangeli opened #95 "Double start bracket in HTTP Link header"
The steps 06 and 07 in  the functest ngsild_content_type_and_context.test shows that the HTTP Link header comes back with TWO initial start brackets:
[code]
Also, rel="http://www.w3.org/ns/json-ld#context" is there TWICE ...

Something is wrong here ...

[2019-05-29 17:30] mariohese commented on #93
I have just edited the text for making it eassier to see. Thank you very much.

[2019-05-30 07:18] kzangeli opened #96 "Missing @context member in error responses"
In some (all?) error responses, the `@context` member is missing in the payload.
See for example step 2+3 in functest ngsild_entity_creation.test

[2019-05-30 11:30] #95 closed, assigned to kzangeli

[2019-05-30 16:25] kzangeli commented on #93
Problem found and fixed (hopefully), waiting for travis tests to accept PR #98

[2019-05-30 19:56] kzangeli commented on #93
PR #98 finally landed in the develop branch.
Please try again, with the new develop and let me know.

[2019-05-30 19:57] kzangeli commented on #93
@mariohese: sorry for taking so long and thank you for finding these bugs for me! :)

[2019-05-30 22:07] mariohese commented on #93
Thank you very much for fixing it, it works as expected:)
Now, with you permission, I proceed to close the issue.

[2019-05-30 22:07] #93 closed, assigned to kzangeli

[2019-06-10 20:47] ciesse79 opened #108 "Attribute does not exist"
From NGSI-LD Test:
1. created entity successfully
{
      'id': 'urn:ngsi-ld:T:001',
      'type': 'T',
      'P1': {
        'type': 'Property',
        'value': 'Hola'
      }
    }
2. update fails with:
 {
      'P1': {
        'type': 'Property',
        'value': 'Ciao'
      }
    }

Orion-LD returns:
 {type: 'http://uri.etsi.org/ngsi-ld/errors/BadRequestData',
     title: 'Attribute does not

[2019-06-11 12:01] kzangeli commented on #108
That's a very basic operation ...
Add the details of the two requests, and I will look into it. One explanation to this would be if you used different contexts in the two requests.
Add the details of the requests and we'll see what we can do

[2019-06-11 14:47] ciesse79 commented on #108
Hi Ken,
very basic I know...
I'm using postman for both requests, and both are sent with content-type: application/json so no specific context, using the default provided by orion itself.

Create request is using POST http method. Endpoint: http://localhost:1026/ngsi-ld/v1/entities

Update request is using PATCH http method. Endpoint: http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:T:001/att

[2019-06-11 16:37] jmcanterafonseca opened #109 "Orion-LD crashes with this payload"
POST /ngsi-ld/v1/entities/

[code]

[2019-06-12 12:06] kzangeli commented on #108
ok, I will look into this.
A little busy for the moment.
Meanwhile, could you please try the same two operations with curl instead of postman?
Had another guy having issues with postman ... that's why I ask this of you.

[2019-06-12 12:08] kzangeli commented on #108
And, if it works with curl but not with postman, please send me the logfile for the postman run.
You'll find the logfile in `/tmp/orionld.log`

[2019-06-12 14:25] kzangeli commented on #108
Forget all I've said so far.

Just made a functest with your requests and I reproduce the problem.
I read your issue too fast, thought that you had done a GET after the POST.

But no, you're using PATCH which is kind of untouched land still.

I will fix this bug as soon as I can.
Thank you for reporting!

[2019-06-13 13:23] kzangeli commented on #108
May I propose for you to use this request instead, for now:
[code]

The PATCH isn't even implemented and it will probably take some time until I get that request fully working, between business trips and vacations coming up.
I will push this PATCH request to among the top items of my ToDo list but still ...

[2019-06-13 14:22] ciesse79 commented on #108
Yep,
I've used POST succesfully.
Moreover, just to confirm that using alternatives to postman (like cURL or programamtically) reduces drastically numbers of crashes.
Thank for your suggestions Ken.
Bye
Cris

[2019-06-26 11:27] jmcanterafonseca opened #117 "Issues when listing subscriptions"
A subscription is created with the following `application/ld+json` payload:

[code]

Then a GET /ngsi-ld/v1/subscriptions is issued as follows:

[code]

[code]

* `expires` should not be there
* ldContext Mapping should have happened

[2019-06-26 11:48] jmcanterafonseca opened #118 "When listing subscriptions default MIME type should be `application/json`"
Now default MIME type is application/ld+json (in the absence of an Accept header).

[2019-06-26 13:13] kzangeli commented on #117
There is another issue about the same, returning  the default context instead of what was sent.
Issue: (to be looked up)

[2019-06-26 15:18] jmcanterafonseca commented on #43
still crashing

[code]

[2019-06-26 15:22] jmcanterafonseca commented on #34
orion-LD is crashing ... with the example

[2019-06-26 15:47] jmcanterafonseca commented on #34
tested against http://orion.lab.fiware.org:1027 and it worked

[2019-06-26 15:47] #34 closed

[2019-07-01 11:56] kzangeli commented on #109
I made a functest but didn't get any crash. Worked just fine ...
Try the test again with an up-to-date broker?

[2019-07-01 13:26] kzangeli commented on #109
UPDATE:
    Found a few strange things when compiling in my CentOS VM.
Stuff that could provoke a crash.
It works just fine in Ubuntu but may very well crash in CentOS.
PR on its way

[2019-07-01 19:36] kzangeli commented on #109
The PR "on the way" has been merged: https://github.com/FIWARE/context.Orion-LD/pull/121
Fixed two errors detected by the CentOS compiler, unfortunately the compiler in Ubuntu didn't catch these two errors.
One of them could provoke a crash ...

[2019-07-02 08:08] kzangeli commented on #117
About "expires":

It's a part of the subscription, given or not at creation time.
Similar to 'creationDate' and 'modificationDate', but not exactly the same ...

Three possibilities:
* Should we treat 'expires' like those two special dates?
* Or: invent another '?options=xxx' to see expires?
* Or: simply return it in the response as it is done now (seems the most reasonable option to me)

[2019-07-02 08:29] jmcanterafonseca commented on #117
if the expiration date has not been provided then it has not been provided. you can keep an internal expires set to "infinite" but that does not mean that it should be rendered at all. the same with throttling.

[2019-07-02 11:18] kzangeli commented on #118
Functest provided in https://github.com/FIWARE/context.Orion-LD/pull/122. Working just fine.
Please re-test, or give more info on how to reproduce the error

[2019-07-02 11:19] kzangeli commented on #117
Fixed in https://github.com/FIWARE/context.Orion-LD/pull/122

[2019-07-03 07:41] kzangeli commented on #96
Fixed in #123

[2019-07-03 07:41] #96 closed, assigned to kzangeli

[2019-07-03 07:43] kzangeli commented on #108
I've implemented the PATCH as well (not 100%, but should be enough for this issue to work)

[2019-07-03 07:43] #108 closed, assigned to nobody

[2019-07-03 07:45] kzangeli commented on #109
Another PR, an older one I had "forgotten", with a functest making sure this issue is a non-issue has been merged as well. With all tests 100% OK in travis: #120

[2019-07-03 07:45] #109 closed, assigned to kzangeli

[2019-07-04 21:58] ciesse79 commented on #108
Just tried and it works.

[2019-07-08 08:03] kzangeli opened #127 "options=keyValues"
The keyValues option is only implemented for GET operations.
Do we want it for POST/PATCH as well?

## UPDATE, Jan-29 2022:
This issue just got more relevant.
There is a push from the FIWARE Foundation for the NGSI-LD API to support key-values for update and perhaps even create operations.

A proposal has been prepared for ETSI ISG CIM and will be presented abd discussed in the NGSIO.-LD API call

[2019-07-08 08:05] kzangeli opened #128 "Implement OR condition inside StringFilter"
StringFilters (`q`) work ANDing the terms together in orion.
For orionld we want to use ORed items as well: using '`|`' instead of '`;`'.

[2019-07-09 11:40] jmcanterafonseca opened #131 "Crash with this Entity and content-type: application/json"
payload

[code]

[2019-07-09 11:43] jmcanterafonseca opened #132 "Second Entity takes ages to be created"
An Entity is created

[code]

Then we go to create another Entity and it takes ages

[code]

[2019-07-09 12:07] kzangeli commented on #132
Wait, the first entity seems to be the exact one that crashes the broker according to issue #131 ...
If it is true that the first attempt to create an entity crashes the broker then, of course, the second entity wouldn't be created ...

Please clarify this :)

[2019-07-09 13:44] jmcanterafonseca commented on #132
no, first entity is actually created, this case is different, first entity is created because MIME type is `application/ld+json`, the other issue MIME type is `application/json` ...

[2019-07-09 13:45] jmcanterafonseca commented on #131
this should result in an error instead of crashing ... as MIME type is `application/json` and we are providing an @context in the payload

[2019-07-09 13:47] kzangeli commented on #131
In my Ubuntu the response is like this;
[code]

Need more info.
- docker?
- distro?

[2019-07-09 13:59] kzangeli commented on #132
Sure, didn't pay enough attention to the title in the previous issue :)
I will test.
when you say "ages" ... how long is that, more or less?

[2019-07-09 17:25] kzangeli commented on #132
So. I was able to reproduce this problem using Postman.
This issue is already reported, only I wasn't able to reproduce it - see #60 .
The broker enters an infinite loop allocating compound objects

[2019-07-15 13:51] jason-fox opened #143 "[Question] Should fully referenced types be valid?"
Thinking about it supplying a fully referenced data model in a query request should be valid:

[code]

Because I am able to supply the context inline when I create

[code]

I shouldn't be forced to use the default context or supply a data model in the *Link* header at all times. I just want to retrieve the entities of a known type. Is this possible? Current implementation would return an empty arr

[2019-07-15 13:57] kzangeli commented on #143
In my opinion this makes sense.
The broker could just detect that the type value starts with `http://` or `htps://` and then verify it's a valid URL.
If so, we already have an FQN and no expansion would be performed.

However, we need to follow the spec so until this is discussed internally and with ETSI, this issue will be "on ice".

[2019-07-15 16:22] kzangeli commented on #143
Experimental implementation (while decision pending) here:
https://github.com/FIWARE/context.Orion-LD/pull/144

Note that the PR implements this feature for *one type* only.
for a list of types, the broker behaves as before.

When decision is made, either
1. Roll-back this change
2. Implement also for list of types (?list=T1.T2...Tn)

[2019-07-25 10:47] kzangeli opened #153 "POST /ngsi-ld/v1/entities/*/attr"
There is a problem with the request `POST /ngsi-ld/v1/entities/*/attr`.
If used with `?options=noOverwrite`, then it corresponds to a API v2 entity update - with UpdateActionType set to `ActionTypeAppendStrict`, i.e. attributes can be appended, but not modified.

However, when `?options=noOverwrite` is not present, then the request is supposed to append those attributes (in the request payload) th

[2019-07-29 12:00] jason-fox opened #157 "Mismatched Context brackets kills the context broker"
A new way to crash the context broker - mis-align brackets.

[code]

I get a lovely long stack trace - opening bracket is curly `{ `, closing is square `]`

[2019-08-01 09:39] jmcanterafonseca opened #160 "MIME Type is not respected"
using

[code]

[code]

201 OK

Then

[code]

result is

Headers:

[code]
[code]

incorrect. it should be `application/json` withouth the `@context` in the payload.

[2019-08-01 09:40] jmcanterafonseca commented on #160
/cc  @jason-fox

[2019-08-01 09:48] jason-fox commented on #160
Does this imply:

* Header`Accept: *` - ~JSON and `@context` returned~  JSON only and @context returned in the Link Header.
* Header`Accept: application/ld+json` - JSON and `@context` returned in body
* Header `Accept: application/json` - JSON only - ~no `@context`~ @context returned in the Link Header.
* Header `Accept: application/ld` - ~`@context` only - no JSON~ **Error 406 Not Acceptable** -

[2019-08-01 09:59] jmcanterafonseca commented on #160
`Accept: */*` is under discussion. Ken's opinion is that it should imply JSON-LD. @jason-fox what do you think?

* Header`Accept: application/ld+json` - JSON and `@context` returned in payload

* Header `Accept: application/json` - JSON only - no `@context`. Returned in the Link Header.

`application/ld` is not valid MIME type

no Accept Header: `application/json`

[2019-08-01 10:03] jason-fox commented on #160
* Header `Accept: text/html,application/xhtml+xml` -  **Error 406 Not Acceptable**

[2019-08-01 10:09] jmcanterafonseca commented on #160
yes, the spec says Unsupported Media Type, that shall result in just a 415

[2019-08-01 10:18] jason-fox commented on #160
[code]
Is a valid upload request.

- `Content-Type:  application/xhtml+xml` should *415 Unsupported Media Type*

What about

- `Content-Type:  application/json` - is this *415* or can the `@context` be supplied by a `Link` header?

[2019-08-01 10:20] jmcanterafonseca commented on #160
`@context` can be supplied via Link Header

[2019-08-01 10:23] jason-fox commented on #160
So for an Upload, `Content-Type: application/json` plus `Link Header` is good.
What about an upload with:
- `Content-Type: application/json` **without** a `Link Header` ?
- `Content-Type: application/json` **with** an **@context** in the body - i.e. supply LD but claiming it is plain JSON

[2019-08-01 11:09] jmcanterafonseca commented on #160
The Entity will fallback into the Default @context

400 Error

[2019-08-01 11:34] kzangeli commented on #160
PR with functest: https://github.com/FIWARE/context.Orion-LD/pull/161
Everything seems to be just fine ...
Tested in Ubuntu 18.04 and CentOS 7.

[2019-08-01 12:03] jmcanterafonseca commented on #160
@jason-fox is that happening to you?

[2019-08-01 12:11] jason-fox commented on #160
![Screenshot 2019-08-01 at 14 06 47](https://user-images.githubusercontent.com/3439249/62292081-d3d29280-b465-11e9-94ad-b0d806f84d5b.png)

Taken from the [Linked Data Tutorial](https://github.com/FIWARE/tutorials.Linked-Data). Created an entity and queried for it as shown.

* *Accept* header in the request states `application/json`
* *Content-type* returned states `application/ld+json`

[2019-08-01 12:26] jason-fox commented on #160
@jmcanterafonseca @kzangeli - Looks like this could be *Postman*:

[code]

Returns
[code]
[code]

[2019-08-01 16:35] jmcanterafonseca commented on #160
fixed at last!

[2019-08-01 16:35] #160 closed, assigned to kzangeli

[2019-08-05 09:05] kzangeli opened #166 "Error handling func tests for the que Q-Filter"
The Q-Filter is implemented, but a battery of functests to test all error cases should be implemented.

Func tests to test for example
[code]

[ There cannot be a RANGE after GT. ]
The error handling is implemented, so that's done already, but we need to test it to make sure all is OK (and that it stays OK).

[2019-08-13 12:35] jmcanterafonseca opened #174 "Error 404 should generate error payload with ResourceNotFound"
[code]
should be

[code]

[2019-08-13 12:36] jmcanterafonseca commented on #143
yes, we are adding this to the specification. A follow up

should we allow full type URIs in payloads as well?

WDYT, @kzangeli @jason-fox ?

[2019-08-13 12:39] jmcanterafonseca commented on #118
as per the latest spec changes this should be reverted. when no accept header present `application/json` shall be delivered

[2019-08-13 12:41] #157 closed, assigned to nobody

[2019-08-13 12:43] #132 closed, assigned to nobody

[2019-08-13 12:45] #117 closed, assigned to nobody

[2019-08-13 12:46] #33 closed

[2019-08-13 12:47] #31 closed

[2019-08-13 12:56] #43 closed

[2019-08-13 15:39] jmcanterafonseca opened #176 "Properties of / Relationships of are not expanded"
Create an Entity

[code]
Then query Entity

GET http://localhost:1030/ngsi-ld/v1/entities/urn%3Angsi-ld%3AT%3A1565710223884

result

[code]

the inner P1_R1 and P1_P1 should be shown in expanded form ...

[2019-08-20 14:18] kzangeli opened #180 "Search Order in @context"
Now that the search order in the contexts (search all contexts and reject all hits but the last one) has been agreed upon, it's time to implement this in the broker.

It's very slow to implement it that way, so the broker will start searching from the end and stop as soon as a hit has been made. If no hits, then the @vocab default URL will be used, of course.

[2019-08-20 14:34] kzangeli opened #181 "Only one Core/Default context"
We have an agreement in ETSI that the three "builtin" contexts should be replaced with a single Core/Default context.
The broker needs to be changed to reflect this.

However, before that can be done, the Core context needs to be modified to include the `@vocab` field, and also, the default and @vocab contexts should be deleted.

[2019-08-20 14:35] kzangeli commented on #180
Before this issue can be implemented, the issue #181 must be implemented.

[2019-08-22 13:45] jason-fox commented on #73
There is another **valid** case for prefix expansion which is not yet covered:

If I create an entity as shown, with an  inline context:

[code]

I would expect to be able to retrieve it using the FQN `https://uri.fiware.org/ns/datamodels#Building`. This is a common practice already used within JSON-LD. For example the [schema.org JSON-LD context](https://schema.org/docs/jsonldcontext.json) define

[2019-08-26 09:31] jason-fox opened #196 "Unable to encapsulate q param in quotes"
Regresssion from previous build. Build info:

* git_hash: `8d6a10d32bb157802ea8dc70e31699770f0bd5c3`
* compile_time: "Sun Aug 25 20:46:52 UTC 2019"
* release_date: "Sun Aug 25 20:46:52 UTC 2019"

Steps to reproduce:

1. Create an Entity:

[code]

Query for that entity:

[code]

Returns:
[code]

It should return the entity successfully.

[2019-08-26 18:04] kzangeli commented on #196
After looking at the spec we've seen that single-quotes aren't supported, only double-quotes.

[2019-08-26 18:04] #196 closed, assigned to nobody

[2019-09-02 13:36] jmcanterafonseca commented on #60
it works for me. closing

[2019-09-02 13:36] #60 closed

[2019-09-02 13:38] jmcanterafonseca opened #209 "If subscription already exists, 409 error shall be raised"
Now error is 400

and payload (incorrect is)

[code]

Error type should be "http://uri.etsi.org/ngsi-ld/errors/AlreadyExist"

[2019-09-02 13:39] jmcanterafonseca commented on #35
as ETSI did not provide any feedback about the redirection we will stick with

 https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld

so closing this issue.

[2019-09-02 13:39] #35 closed

[2019-09-02 13:42] jmcanterafonseca commented on #23
MIME type tests are working. closing

[2019-09-02 13:42] #23 closed

[2019-09-02 13:50] jmcanterafonseca commented on #26
fixed. tests are working

[2019-09-02 13:50] #26 closed

[2019-09-03 10:49] #209 closed, assigned to kzangeli

[2019-09-04 16:24] jmcanterafonseca opened #212 "Entity cannot be retrieved by type"
Steps:

Create Entity:

[code]

try to retrieve entity by type

GET http://localhost:1030/ngsi-ld/v1/entities/?type=https://uri.synchronicity-iot.eu/ns/dataModels#Store

nothing is returned.

By id the entity is retrieved

http://localhost:1030/ngsi-ld/v1/entities/urn:ngsi-ld:Store:santander:COM4111

however

GET http://localhost:1030/ngsi-ld/v1/entities/?id=urn:ngsi-ld:Store:santander:COM4111

re

[2019-09-06 11:26] kzangeli commented on #212
Created a functest for this exact case. Worked just fine.
We need to understand why I don't see the problem and you do ...
For example checking broker traces to make sure the long name of the type is intact (not broken at the hash sign)

[2019-09-10 15:40] kzangeli commented on #212
The second part (get entity with id as uri param) was a bug, fixed in PR https://github.com/FIWARE/context.Orion-LD/pull/218

[2019-09-18 08:21] jmcanterafonseca opened #229 "Include system attributes in properties of properties, etc."
as per clause 5.2.2 Common members  of the ETSI spec,

https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf

properties of properties, relationships of properties, properties of relationships, relationships of relationships, shall include and be automatically generated the system generated attributes `createdAt`, `modifiedAt`

To be clear, the structure of any nes

[2019-09-18 08:21] jmcanterafonseca commented on #229
/cc @jason-fox

[2019-09-18 15:12] jason-fox opened #231 "With options=keyValues unable to return name in the attrs list"
I have an Entity

[code]

When I make the following requests:

[code]

The return is as expected. :white_check_mark:

[code]

Returns an empty array :x:

[code]

Does not return name in the response. :x:

`attrs=locatedIn,name,stocks` returns `locatedIn` and `stocks`. But no `name` :x:

[2019-09-18 15:23] jason-fox opened #232 "How to obtain id without additional attrs"
[code]
Works fine - I get  the full entity.

[code]
Works fine - I get `id`, `type` and `locatedIn`.

How should I get back just `id` and `type`?

* `attrs=id,type` returns an empty array (presumably because they aren't real attributes)
* `attrs=somethingElse` returns an empty array (because the attr doesn't exist)

So how should I just get the `id` and `type`? Why does attrs=[blank] not work?

Th

[2019-09-18 15:29] jason-fox opened #233 "Properties-of-Relationships and Relationships-of-Relationships are not expanded"
I have  a shelf

[code]

I add a few Relationships:

[code]

When I return the Entity, Properties-of-Relationships and Relationships-of-Relationships are not expanded.

[code]

[code]

This contrasts with properties of properties, which *are* expanded

*     "git_hash": "6bf5d7a71620b88494c018437499952a4bc70f4d"

[2019-09-18 22:05] jmcanterafonseca commented on #232
why do you need a new query parameter `attr`. Wouldn't just suffice with allowing `attrs` to be just an empty list?

[2019-09-19 07:17] jason-fox commented on #232
I agree. That was my idea as well, but at the moment  `attrs=[blank]` returns *nothing* rather than an array (`type`, `id`)  *without* extra `attrs`. I think the functionality needs amending.

**Edit:** I noticed and amended my typo above. For clarification I mean `attrs` throughout.

[2019-09-19 08:30] jmcanterafonseca commented on #232
And the spec would need an update to allow empty attr list both in queries
and subscriptions

El jueves, 19 de septiembre de 2019, Jason Fox <notifications@github.com>
escribió:

[2019-09-19 13:38] kzangeli commented on #181
Implemented

[2019-09-19 13:38] #181 closed, assigned to nobody

[2019-09-20 12:55] jason-fox commented on #233
LGTM

[2019-09-20 12:55] #233 closed, assigned to jason-fox

[2019-09-20 12:59] jason-fox commented on #232
Current behaviour ( dc7d4a7e ) means that placing a non-existent attribute will ensure the list is empty e.g. :

* `http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:Shelf:unit001/?options=keyValue&attrs=none`

`id` and `type` only since `none` is not an attribute

* `http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:Shelf:unit001/?options=keyValue&attrs=amne`

`id` and `type` only since `

[2019-09-20 12:59] jason-fox commented on #232
* `http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:Shelf:unit001/?options=keyValue&attr=`

Still returns the whole entity

[2019-09-20 13:01] jason-fox commented on #231
Verified as working `dc7d4a7e`.

[2019-09-20 13:01] #231 closed, assigned to kzangeli

[2019-09-20 13:03] jason-fox commented on #176
Verified as working in `dc7d4a7e`

[2019-09-20 13:08] jason-fox opened #236 "Enumerated attributes are not expanded/compacted"
According to https://w3c.github.io/json-ld-syntax/#shortening-iris

This is not implemented.

1.   In the *Building* model - `"category": {"type": "Property", "value": ["commercial"]},  should be returned as a string not an array when compacted

2. Where enumerated values are part of the context and @vocab has been set-up the *values* should be expanded

[2019-09-20 14:13] jason-fox opened #237 "FQN type returns empty array with q query"
I create a *StockOrder* using POST

[code]

I now have a *StockOrder*

[code]

Querying with compacted type returns the relationship ✅

[code]

Querying with FQN as the type returns nothing :x:

[code]

[2019-09-20 14:20] jason-fox commented on #237
What I'm saying here is that it appears that `<Link>` is mandatory for `q` queries.

[2019-09-20 14:26] kzangeli commented on #237
The probklem here seems to be:

`attrs=requestedFor`

and no @context in the query
Without context, `requestedFor` will be expanded using the value of `@vocab` which will not match `https://fiware.github.io/tutorials.Step-by-Step/schema/requestedFor`.

If you wish to query w/o context, use FQN also for the attributes (which may or may not be implemented)

[2019-09-20 16:00] kzangeli commented on #237
So, this issue in due to incorrect usage. Closing

[2019-09-20 16:00] #237 closed, assigned to nobody

[2019-09-20 16:01] kzangeli commented on #176
Working, as Jason Fox states. Closing

[2019-09-20 16:01] #176 closed, assigned to kzangeli

[2019-09-23 07:34] jmcanterafonseca commented on #236
I cannot understand point 1., why?

Thanks

[2019-09-23 09:42] jmcanterafonseca opened #239 "Ensure ETSI specification is aligned - Track changes document below"
This issue should be open permanently so that we can keep track of what things have to be updated on the ETSI Specification

https://docs.google.com/document/d/1_L6LJXl1QndK2zQctRZbRfBsea5Fk5aFhqFUeRpvxes/edit#

[2019-09-26 07:26] jason-fox commented on #236
Given the following expanded document:

[code]

And the following context:

[code]
The compaction algorithm will shorten all vocabulary-relative IRIs as shown:

[code]

See how `@type` is *no longer* an array in the response.

[2019-09-26 08:01] jmcanterafonseca commented on #236
for the time being the NGSI-LD API does not allow multiple types i.e. type
cannot be an array, although there have been some discussions within ETSI
to extend it, but not everybody agrees in adding such a complexity ...

El jue., 26 sept. 2019 a las 9:26, Jason Fox (<notifications@github.com>)
escribió:

[2019-09-26 09:06] kzangeli commented on #236
This is pretty confusing.
Is "@type" to be treated as "type"?
And "@id" as "id" ?
[ The broker doesn't work that way ]

If not, "@type" is just any other attribute and can be of any type.
And, this not an entity, as both "id" and "type" are missing.
However, if it's a vector, it's a vector. Only way to change it to a string is by updating it.

To me it seems you are looking for functionality that

[2019-09-26 09:09] jmcanterafonseca commented on #236
in principle NGSI-LD defines its own encoding on top of JSON-LD, so not any
valid JSON-LD document is a valid NGSI-LD document, and a as a result, Ken
is right "@type", "@id" shall not be used by the developer

El jue., 26 sept. 2019 a las 11:06, Ken Zangelin (<notifications@github.com>)
escribió:

[2019-09-26 10:35] mariohese opened #241 "Response of normalized format subscription (Nested JSON problem)"
After subscribing to data choosing the normalized format, if the entities returned have a Property or a Relationship, they are returned correctly in normalized format.

If these properties and relationships have another nested json with another Property or Relationship, they are returned in keyValues format instead of in the normalized one.

Furthermore, in the below example, it can be seen that n

[2019-09-26 12:36] kzangeli commented on #241
Not only the 0.7 is gone, its type is a JSON String in the notification.

OrionLD is still a highly experimental project, first alpha release planned for October this year.

The notifications are only "half-implemented"; I have some memory that I didn't take time to look at the type of nested properties and just assumed them all to be a string (with a FIXME in the source code, of course).

Time to

[2019-09-26 18:22] kzangeli commented on #241
Hopefully the PR #242 fixes your problems.
Please test it and let me know.
I found and fixed a few problems apart from what was not even implemented yet

[2019-09-26 22:33] mariohese commented on #241
Thank you very much for your help!!

I have highlighted the main observations.

These are the notifications received with the two examples of my previous message:

With the Vehicle POST followed by the subscription of my previous message, **when we have a nested JSON type inside a Relationship** there is the same result than before, **it is received with the keyValues format** as it **can be seen

[2019-09-27 07:19] kzangeli commented on #241
ok, halfway there ...

`location` is a special field that is duplicated inside the database. That's the data model of Orion.
Didn't remember that. If definitely needs some special attention. Looks pretty bad.
Will try to fix this today.

About `providedBy` inside `isParked` ... looks pretty good to me:
[code]
keyValues would be: `"providedBy":"urn:ngsi-ld:Person:Bob"`

Is there a problem with cut

[2019-09-27 07:38] kzangeli opened #243 "Simplify contexts if possible"
## Part 1:
If a context is an array (in the payload) and it contains:
* only one item   OR
* the core context and one item

then change the array into a string

## Part 2:
If the context is the core context, then just remove it, and "pretend" that the request came in without context

[2019-09-27 10:16] mariohese commented on #241
You are right, sorry, my mistake. providedBy is okey.

[2019-09-27 18:55] kzangeli commented on #241
Hi again,

PR #244 hopefully fixes the problem with "location"

[2019-09-28 16:24] mariohese commented on #241
Yes!! The problem with "location" is solved, thank you very much!
Now, with your permission I proceed to close the issue:)

[2019-09-28 16:24] #241 closed, assigned to nobody

[2019-10-02 13:22] kzangeli opened #247 "Expand attribute values in Q filters"
Values are now expanded (if the context indicate for that to happen by "@type": "!@vocab") and in order for Q-StringFilters to keep working for that kind of attributes, the value in 'Q' must be expanded as well.

[2019-10-10 09:34] jmcanterafonseca opened #252 "One mongoDB collection per Entity Type"
Traditionally Orion has stored all Entities within a MongoDB collection, named `entities`.

A better approach would be to store Entities in different collections, having a separate Collection per Entity Type. That would simplify considerably the management of DB content and the usage of tools to browse the DB.

[2019-10-10 09:35] jmcanterafonseca commented on #252
/cc @jason-fox @flopezag @kzangeli

[2019-10-10 09:48] kzangeli commented on #252
This is true.
Right now, the orionld implementation makes a heavy use of mongoBackend, and the proposed change is just not possible.

However, we have future plans to move away from mongoBackend and implement a very much improved database layer, and when that work is started (actually there is already one or two operations that don't use mongoBackend - as a pilot test) it will be pretty easy to im

[2019-10-16 09:20] jmcanterafonseca opened #256 "Ensure `location`, `observationSpace`, `operationSpace` are always a `GeoProperty` and validate GeoJSON content"
We need:

A/ Ensure that the `location` Attribute is always a `GeoProperty` (as the Core @context cannot be overridden) and

B/ to validate the GeoJSON content

(This has been a recurrent error in NGSIv2, I've seen it so many times ... a good improvement for LD)

[2019-10-16 09:26] kzangeli commented on #256
Same with `observationSpace` and `operationSpace`

[2019-11-20 10:57] kzangeli opened #267 "@context present in payload without Accept: application/ld+json"
After the rewrite of the @context handling, first bug found:

[code]
The output is:
[code]

All good, except for the "@context" field in the payload.
The broker seems to believe that "Accept : application/ld+json" is present.
It isn't. This is a bug.

[2019-11-20 16:22] kzangeli commented on #267
False alarm.
curl automatically adds a header `Accept: */*`, that why the context is returned in the payload. All good

[2019-11-20 16:22] #267 closed, assigned to kzangeli

[2019-12-03 13:58] kzangeli opened #274 "DB Layer"
Functions to move to DB-libs and the lib 'db', to make orion-ld code DB-agnostic:
* qTreeToBsonObj
* qTreeToBson

[2019-12-12 12:04] MohamedSadiq102 opened #279 "When POST to /attrs/ with an existing Attribute Metadata is not deleted"
If I have an entity with a property P1 and meta data

[code]
and I POST to http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:0001/attrs/ with the following body

[code]

Do the metadata attributes P1_R1 an P1_P1 get deleted or is only the value of P1 changed?
The broker says that only the value is updated.
The test and spec are saying otherwise

 in the spec.P110 I think.It states p58 5.6.3. I

[2019-12-14 16:49] kzangeli opened #280 "Planning"
## Short Term
* DDS: React on for feedback from eProsima and CARTIF
* Implement TroE for PUT Entity
* Finish **TRoE** for `PATCH /entities/{entityId}` (need a change in postgres subAttributes table - add opcode)
* Linked Entity Retrieval (there's some corner case not working)
* Give errors for Registration requests if "-forwarding" is not ON
* More than one instance of an entity in a batch array -

[2020-01-02 09:56] kzangeli opened #302 "PATCH /ngsi-ld/v1/entities/{entityId}/attrs"
The service `PATCH /ngsi-ld/v1/entities/{entityId}/attrs` should *replace* existing attrs with what's in the request payload data, and ignore attributes that did not exist in the "original" entity.

The ignore part is OK, but unfortunately the already existing aren't replaced but merged - i.e. old stuff of the attributes will survive, being merged with the new stuff.

This is how the old mongoBack

[2020-01-02 16:25] MohamedSadiq102 opened #303 "batchOperation/batch_operations_create_test && batch_operations_update_test -> should create a list of entities 001 && should update a list of entities 003"
[code]

It expected 200 But it received 400

[2020-01-03 09:24] kzangeli commented on #303
These two batch operations haven't been implemented.
Planned for Alpha 2 in June 2020

[2020-01-13 14:56] fgalan commented on #280
Is the merge of the Orion-LD fork to the original Orion repository included in this roadmap? As far as I remember (and discussed in several TSCs, for instance [this one](https://docs.google.com/document/d/1ICU_7dMlJyKPqpAb5LwoXctg64RveUYKOkFVgnrvfqQ/edit)) there is a commitment from FIWARE Foundation to do it and some point and it would be great if the roadmap could include that item and its plann

[2020-01-14 12:52] kzangeli opened #307 "Check validity of property-of-property"
Second level attributes aren't check for validity - must be a JSON object with a type that is either "Property", "Relationship", or "GeoProperty", etc.

Exceptions are:
* observedAt (DateTime string)
* unitCode (string)
* datasetId (URI string)
* createdAt (ignored DateTime string)
* modifiedAt (ignored DateTime string)

[2020-01-14 12:56] jason-fox commented on #307
Example - this is invalid

[code]

It should be

[code]

String values are only allowed for  only observedAt and unitCode , datasetId,  createdAt and modifiedAt

[2020-01-14 13:19] jason-fox commented on #307
Related:

[code]

is a valid request but:

[code]

Should return a **BadRequestData**

[2020-01-14 15:17] kzangeli commented on #280
First of all, this is just a temptative ToDo list that I publish for people to see to "keep track" of what's going on and what's the current plan for the future.

About, your questions, first, see these two bullet points:
* Plugins in Orion
* Modify the implementation to:
    * work as a plugin in Orion
    * work standalone

The idea we have is to introduce NGSI-LD into Orion as plugins.

The oth

[2020-01-14 15:54] jason-fox opened #308 "Invalid JSON-LD according to the API Data type definitions should return a BadRequestData"
Related #307 [ScorpioBroker|59](https://github.com/ScorpioBroker/ScorpioBroker/issues/59)

Specification states:

According to  [Microsoft](https://docs.microsoft.com/en-us/dotnet/api/system.uri.iswellformeduristring?redirectedfrom=MSDN&view=netframework-4.8#System_Uri_IsWellFormedUriString_System_String_System_UriKind_) - the following are invalid URIs:

* `http://www.contoso.com/path???/file nam

[2020-01-14 16:16] jason-fox opened #309 "No validation of member values in accordance with their data type"
Specification states:

The following is therefore *invalid*  since the datetime is not a date - but parses correctly.

[code]

it should return `BadRequestData`

[2020-01-14 16:40] jason-fox opened #310 "Arrays of one element are not reduced to a single item"
[code]

[code]
returns
[code]

should return

[code]

From the JSON LD spec:

Since the data model doesn't specify @set the array should be compacted to a single string in this case

[2020-01-17 09:32] fgalan commented on #280
Thanks for the clarifications!

[2020-01-21 09:36] kzangeli commented on #310
In the context, if a key is an object and has a member @type, with either the value "@set" or "@list", then the array should remain intact. If not, the array should be simplified if only one item in it.

This should be performed at creation time, before storing the value in the database.

[2020-01-21 09:43] jason-fox commented on #310
For clarity, I think you need to support this:

[code]

So this Property is an array of one

[code]

[2020-01-22 08:41] kzangeli commented on #309
Not sure this is an issue - I will take it up with ETSI CIM for discussion.

The value of an attribute can be anything, there is no semantics inside the value (afaik).
In this case the value of "sillyDate" is a JSON object.

Where I believe this rule should apply is when "sillyDate" appears in the @context, something like this:
[code]
With a context like that, the following payload data should giv

[2020-01-27 11:03] kzangeli opened #328 "HTTP header x-forwarded-for in forwarded requests"
Implement the  HTTP header **x-forwarded-for** in forwarded requests.

x-forwarded-for is a comm-separated list of hosts, see https://en.wikipedia.org/wiki/X-Forwarded-For

The "forwarder" needs to check that he's not already in the list, and then add itself to the list before forwarding the request.

If already in the list, then there has been a forwarding loop and a **508 Loop Detected** must be

[2020-01-27 13:50] jason-fox opened #329 "Creation of a subscription with a q parameter is incorrectly expanded."
I create a subscription:

[code]

I then GET the subscription

[code]

`q` - parameter in the response is garbled:

[code]

[2020-01-28 07:49] 0xricksanchez opened #330 "Possible Illegal read memory access in APIv2 when sending malformed request"
Hi,

I've been auditing the API Endpoints in the context broker and I've come across some results that are likely of interest to you! I've been using a slightly modified version (added ASAN to Makefile) of the Docker container when using my tooling for the dynamic software audits.

Sending malformed JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can result in an

[2020-01-28 07:58] 0xricksanchez opened #331 "Possible stack-overflow in APIv2 in rapidJson dependency when sending deeply nested request"
Check my reasoning in #330.

Sending "malformed" (deeply nested) JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can result in a recursion error problem, since the `rapidjson` library tries to parse all the `object<->value` relations.
As seen from the back trace the problem is deeply rooted in the `rapidjson` dependency when handling large but valid and accepted r

[2020-01-28 08:02] 0xricksanchez opened #332 "Possible stack overflow in APIv2 in CompoundValueNode.cpp when sending nested request"
Check my reasoning in #330

Sending "malformed" JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can result in a stack overflow since the context broker tries to parse all the objects.
As seen from the backtrace the problem is caused by massive allocation requests in the `CompundValueNode.cpp:459` file.
In particular here:

[code]

## Crash back trace:

[code]

##

[2020-01-28 08:06] 0xricksanchez opened #333 "Possible stack-overflow in APIv2 in parseContextAttributeCompoundValue.cpp when sending large but valid requests"
Check my reasoning in #330

This crash is caused in combination with the `rapidjson` dependency when handling large but valid and accepted requests.
So sending such "malformed" JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can again result in a different recursion error problem.
The failing function is `jsonParseV2/parseContextAttributeCompoundValue.cpp:277`:

[

[2020-01-28 08:12] 0xricksanchez opened #334 "Possible stack overflow in APIv1 in boost jsonParser dependency"
Check my reasoning in #330

Sending malformed JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V1 API can result in a stack overflow in the `/boost/property_tree/json_parser`:
It looks like our JSON request was deemed valid from the FIWARE side of things but the format breaks the `Ptree()` implementation in the boost library, which provides a JSON parser utility.

`/boost

[2020-01-28 08:14] 0xricksanchez opened #335 "Possible illegal read access on zero page in APIv1 in StatusCode.cpp"
Check my reasoning in #330

Sending malformed JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V1 API can ultimately result in a illegal READ access on a zero page in `/opt/fiware-orion/src/lib/ngsi/StatusCode.cpp`:

From the marked line over here
[code]

The crash occurs finally occurs here:

[code]

## Crash

[code]

## Recorded responsible test case

[code]

[2020-01-28 08:21] 0xricksanchez opened #336 "Another possible stack overflow in APIv1 in boost jsonParser dependency"
Check my reasoning in #330

This stack trace is similar to #334, so they most likely should be considered related.

## Crash

[code]
## Recorded responsible test case

[code]

[2020-01-28 09:27] kzangeli commented on #334
Hi !

First of all, thanks for investigating. This kind of issues are always welcome!

Just, APIv1 is kind of deprecated and wont be along for very much longer I think.
Perhaps start spending the time on something more interesting?

Also, for issues on NGSIv2, the original Orion (https://github.com/telefonicaid/fiware-orion) might be a better place for issues.

This repo is an old copy of the Orio

[2020-01-28 09:37] #336 closed, assigned to nobody

[2020-01-28 09:37] #335 closed, assigned to nobody

[2020-01-28 09:37] #333 closed, assigned to nobody

[2020-01-28 09:37] #332 closed, assigned to nobody

[2020-01-28 09:37] #331 closed, assigned to nobody

[2020-01-28 09:38] #330 closed, assigned to nobody

[2020-01-28 09:38] 0xricksanchez commented on #334
You're welcome! I"ve ported the issues to the main repository (what I intended to do in the first place). I wasn't paying enough attention that early in the morning. My Bad!

As for the APIv1 related Issues, they still may be useful for comparison since some issues between these two API endpoints seem very similar.

[2020-01-28 09:38] #334 closed, assigned to nobody

[2020-01-30 08:33] kzangeli opened #340 "count"
Implement a count mechanism for GET /entities. NGSIv2 has one that could be copied.

[2020-01-30 11:05] MohamedSadiq102 opened #342 "The Context Broker is killed with the Test number 108"
[code]

[2020-01-30 11:13] MohamedSadiq102 commented on #307
Broker now works

[2020-01-30 11:14] MohamedSadiq102 commented on #307
fixed close #307

[2020-01-30 11:20] #307 closed, assigned to kzangeli, MohamedSadiq102

[2020-01-30 11:22] MohamedSadiq102 commented on #310
fixed close #310

[2020-01-30 11:38] MohamedSadiq102 commented on #279
Fixed issue #279

[2020-01-30 11:38] #279 closed, assigned to nobody

[2020-01-30 11:39] MohamedSadiq102 commented on #303
Fixed Issue #303

[2020-01-30 11:39] #303 closed, assigned to kzangeli

[2020-01-30 13:47] MohamedSadiq102 commented on #342
Fixed issue #342

[2020-01-30 13:47] #342 closed, assigned to nobody

[2020-01-30 18:17] #340 closed, assigned to kzangeli

[2020-02-05 18:25] MohamedSadiq102 opened #355 "The Test 123 break the Context-Broker"
I have Created the Entity :
[code]
and the Get Request was -> should return it  :
[code]

[2020-02-06 07:10] jason-fox commented on #355
Fixed via 7fe46b7

[2020-02-06 07:10] #355 closed, assigned to nobody

[2020-02-07 12:13] kzangeli opened #358 "New Implementation for POST /entities/*/attrs"
Remove all affected attrs from entity in DB, and then append them to the entity
* Remove them using libdb and then append them again using mongoBackend to get Subscriptions
* This would save me the trouble of merging the new with the old.
* I'd just use the list of attrs in the incoming payload and create a list for attr deletion
* And then convert the payload to an UpdateContextRequest and call m

[2020-02-13 09:31] jason-fox opened #364 "When options=keyValues is added to a GET request the @vocab element is not compacted."
I create an Entity with an element which is an enum `@vocab` defined in my data model

[code]

When I receive the entity the attribute is compacted **correctly**

[code]

[code]

When I add `options=keyValues` - the `@vocab` element  is **not compacted**.

[code]

[code]

[2020-02-14 10:44] kzangeli opened #368 "Implement PATCH /ngsi-ld/v1/csourceRegistrations/{reg-id}"
Pretty much the same way I implemented PATCH Subscription

[2020-02-14 14:58] jason-fox commented on #364
Fixed.

[2020-02-14 14:58] #364 closed, assigned to kzangeli

[2020-02-14 14:59] #310 closed, assigned to kzangeli, MohamedSadiq102

[2020-02-17 12:13] kzangeli opened #369 "Allow for more than one item in the "information" array of a registration"
Earlier we decided to allow for only one item in the "information" array of a context source registration.
That decision was made because we had the impression we wouldn't be able to allow more than one item in the array without breaking the APIv1 database model.
Later studies have shown that it is possible to allow for more than one information item without breaking the database model.

So, this

[2020-02-17 12:46] kzangeli commented on #369
After looking inside the source code, the following struct was found:
[code]
I.e., the database model allows for more than one item inside the `information` array of NGSI-LD Registration, but the APIv2 implementation cannot be used (mongoBackend).
So, this issue just got *much* bigger!
The three already implemented requests must be reimplemented "the new way", i.e. without mongoBackend for this to

[2020-02-17 15:31] jason-fox opened #370 "ContextSourceRegistration does not compact type and properties"
I create a . **Store**

[code]

I create a registration for that **Store**

[code]

I retrieve registrations, passing in the `@context` in the `Link` Header

[code]

Response includes Long Name URIs for entities and properties

[code]

Expected - compacted  `type` and `properties`

[2020-02-17 15:34] jason-fox opened #371 "Forwarded GET does not respect options=keyValues"
I create a . **Store**

[code]

I create a registration for that **Store**

[code]

I retrieve using `options=keyValues`

[code]

[code]

expected = `tweets` attribute to be a simple **Array** with no `type`

[2020-02-17 16:07] jason-fox opened #372 "entities PATCH with Link Header not processed correctly."
I create a shelf Unit:

[code]

I update the shelf unit providing the  `@context` in a `Link` Header and setting `Content-type=application/json`

[code]

I receive an invalid **BadRequestData**  response - note my payload is JSON only.

[code]

[2020-02-18 06:39] kzangeli commented on #372
This one I can't reproduce.
Works just fine for me ...

[2020-02-18 10:36] ccsr opened #376 "Request for different prefix for DB name in Mongo for LD"
Right now Orion v2 is storing in MongoDB as below. So Orion_*Fiware-service*

orion               0.000GB
orion-*Fiware-service1*        0.000GB
orion-*Fiware-service2*       0.000GB

I checked Orion-LD it is also using the same way of naming. I request to do it something like below

Orion**ld**               0.000GB
orion**ld**-*Fiware-service1*        0.000GB
orion**ld**-*Fiware-service2*

[2020-02-18 10:44] jason-fox commented on #372
This seems to be a Postman only issue:

### Postman

[code]

### Curl

[code]

[2020-02-18 10:50] jason-fox commented on #372
_"Fixed"_ by rebooting Postman - closing as non-reproducible.

[2020-02-18 10:50] #372 closed, assigned to kzangeli

[2020-02-18 11:08] kzangeli commented on #376
Yes, it can be done, shouldn't take me much more than an hour to fix this.

We also have a CLI parameter (`-db <db-name>`) to change the default "basename" of the databases, which right now is "orion" for both protocols.
If we do this we should probably add another CLI - `-lddb <db-name for ngsi-ld>`.

Now, this change would imply a separation of the NGSIv2 entities and the NGSI-LD entities.
An en

[2020-02-18 12:22] jason-fox commented on #376
:+1: from me - I would like to be able to smoothly upgrade from v2 to LD. I already have a script to convert entities to LD format, but obviously this requires a separate database during the conversion phase.

For Orion v2 to Orion LD I would expect to do the following:

1) Read in all entities, convert from v2  to LD - store in LD database
2) Read in all registrations, convert from v2  to LD - st

[2020-02-20 05:05] JuanjoHierro commented on #376
I disagree this is a good idea.  It is not helpful for a gradual migration of existing systems based on NGSIv2 to incorporate developments based on NGSI-LD.

You may have developed a dashboard application using NGSIv2, which monitor a system based on values of attributes of entities in the system.   A very common development in "powered by FIWARE" systems which may have thousands of lines of code

[2020-02-25 10:42] MohamedSadiq102 commented on #29
#Verified @jason-fox

[2020-02-25 10:43] jason-fox opened #385 "Content-Type - Error message texts should be expanded to make it easier to diagnose the problem."
update the error messages.

~For application/ld+json, the @context must be present in the JSON payload~
If the Content-Type header is application/ld+json, the body of the request must be valid JSON and include an @context attribute

~Mismatch between /Content-Type/ and contents of the request payload body~
Mismatch between the Content-Type header and the contents of the body of the request

~Conte

[2020-02-25 10:49] jason-fox opened #386 "Not a URI - error message is too terse."
The following request:

[code]

Returns with the error message:  **Not a URI** - this is not explicit enough - replace with  **Entity ID must be a valid URI**

Need to also check the insert of a single entity as well as Batch operations.

There is also URN checking for relationship objects - ensure this has an equivalent error message  **Relationship object must be a valid URI**

[2020-02-25 10:50] #29 closed

[2020-02-25 11:01] jason-fox opened #387 "@context in batch upsert is not accepted"
I make a batch upsert request placing the `@context` within the body of the request:

[code]

The broker does not accept this as valid and returns an error:

[code]

It should be the case that:

-  `@context` **must** be present in each entity if the `Content-Type=application/ld+json`
-  `@context` **must not** be present in any entity if the `Content-Type=application/json`

[2020-02-26 13:03] kzangeli commented on #387
Supposedly fixed in PR #389

[2020-02-26 13:04] kzangeli commented on #368
Implemented in PR #381

[2020-02-26 13:05] #368 closed, assigned to nobody

[2020-03-02 19:42] michaeI-s opened #392 "Geometry type "LineString" is not properly processed"
Hi,

I'm trying to create an entity with a `LineString` GeoProperty with the following request:
[code]

According to the response (201 Created) it was successfully created. But when trying to GET it via `/entities?type=GtfsShape`, nothing is returned.<br>
I also noticed that the POST response body contains a single comma (',') instead of an empty body and this seems quite unusual. I assume there c

[2020-03-03 07:49] kzangeli commented on #392
Thanks for reporting!

I made a quick test and it seems that the entity isn't created.
The broker says OK, all good, but no entity is created.

Geolocation is still a pretty green area in Orion-LD.
Very little time has been spent on it so far, just enough to make "a few things work".
It's high on my ToDo list but I guess it's time to move it even higher.
Starting with this issue.

[2020-03-03 08:12] michaeI-s commented on #392
Hi Ken,

great! Good to hear about your priority shifting.
May the force of the 36h day be with you. ;)

Thanks and kind regards,
Michael

[2020-03-03 08:29] jason-fox commented on #387
Fixed and verified.

[2020-03-03 08:29] #387 closed, assigned to jason-fox

[2020-03-03 08:31] jason-fox commented on #371
Fixed and verified. Closing

[2020-03-03 08:31] #371 closed, assigned to MohamedSadiq102

[2020-03-03 09:27] michaeI-s opened #393 "batch operation 'upsert' returns status 400 for existing entities"
Hi,

I create a new entity with
[code]

This works and results in a `204 No Content` with empty body.<br>
In the second step I change an attribute's value, let' say from
[code]
to
[code]
and repeat the request above with that new value.

<b>My expectation:</b>
The entity with the new attribute value will replace the existing entity in the context broker.

<b>Actual result</b> is a nested <b>error<

[2020-03-03 09:32] kzangeli commented on #393
It seems like the broker doesn't approve of the entity type.
We decided that entity types should not be able to change. Not sure it's in the etsi spec yet.
So, show the exact payload data (and context) of the update, and we'll see if we can find something ...
Might be a bug, of course.

[2020-03-03 09:35] jason-fox commented on #370
Fixed and verified

[2020-03-03 09:35] #370 closed, assigned to MohamedSadiq102

[2020-03-03 10:02] michaeI-s commented on #393
The entity type has not changed in the update. The request has the same payload like in the initial request, but with changed attribute value:

[code]
You could even change nothing and fire the same request twice and you would get the same result.

But besides that, the current version of the NGSI-LD spec (https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.02.02_60/gs_cim009v010202p.pdf) says

[2020-03-03 10:15] kzangeli commented on #393
So, it's a bug. No probs. Easy fix.
About the NGSI-LD spec, it's true, it's not there yet. In version 1.3.1 it will be there.

[2020-03-03 20:58] kzangeli commented on #392
So, I actually found a way ...
Test it, see if it works.
LineString wasn't implemented. Only Point and Polygon.
At least, now the entity is created.
But if the entire geolocation thing works you will have to tell me.
I don't know how to test it :(

[2020-03-04 09:18] michaeI-s commented on #392
Thanks Ken for fixing!

As of the latest version

[code]
`LineString` is now a supported GeoJSON type in Orion-LD (besides `Point`and `Polygon`). :)

[2020-03-04 09:18] #392 closed, assigned to kzangeli

[2020-03-04 09:36] michaeI-s opened #397 "Request for MultiPoint, MultiPolygon and MultiLineString geometry type support"
Hi,

Orion-LD is currently missing support for GeoJSON types `MultiPoint`, `MultiPolygon` and `MultiLineString`. Would be great to have them in future.

Best regards,
Michael

[2020-03-04 14:57] michaeI-s commented on #393
Fixed as of version

[code]

Thanks again Ken!

[2020-03-04 14:57] #393 closed, assigned to kzangeli

[2020-03-07 20:47] kzangeli opened #404 "More than one GeoProperty per Entity"
Orion-LD inherits from Orion, and Orion only supports **one** GeoProperty per Entity.
The reason why Orion supports only one GeoProperty (attribute that has "geolocation-data") is that for the `$near` operator to work, mongo needs an index. To create an idex, you need to know the name of the attribute.
So, the solution in Orion was to allow any name of the geo-attribute but make a copy of it in th

[2020-03-09 13:19] michaeI-s opened #405 "usage of 'attrs' query parameter returns reduced entity set"
Hi,

I'm trying to query a list of entities, limited to one attribute. In my case it's `name`:
[code]

According to number of objects in the response body and value of the `Fiware-Total-Count` header there must be 5 entities in the broker:
![image](https://user-images.githubusercontent.com/54945591/76214952-03245b80-620e-11ea-9ed8-d644ccba94e3.png)

But when omitting the `attrs` parameter the actu

[2020-03-09 13:39] michaeI-s commented on #232
Exactly. There are situations when you only want a list of IDs of existing entities in the broker. But currently you are forced to use the `attrs` parameter with at least one 'real' attribute just to reduce the response payload to a minimum.

[2020-03-09 15:52] michaeI-s opened #406 "'double free or corruption' crash while POSTing OR PATCHing entity attributes"
Hi,

when `POST`ing or `PATCH`ing attributes of entities concurrently (at most 5 requests a second) with requests like `POST/PATCH 'http://<SERVER_IP>:<PORT>/ngsi-ld/v1/entities/<ENTITY_ID>/attrs'`
Orion-LD crashes with the following backtrace (abbreviated):

[code]

I can't imagine that the request limit is too high...

I'm using the following Oron-LD version:
[code]

Kind regards,
Michael

[2020-03-09 17:33] kzangeli commented on #406
ok, I will take a look.
Seems like it crashes inside libcurl
Could you give me the exact set of requests that provokes the crash?

[2020-03-10 13:04] jason-fox opened #407 "Unsupported parameters should return BadRequest"
Related:  https://github.com/ScorpioBroker/ScorpioBroker/issues/71

According to  the specification - 6.5.3.1 , only `attrs` is a supported parameter for  `http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:xxx/

I create a Store

[code]

I retrieve the  Store using the `type` parameter

[code]

Response should say that this is an invalid request.

[code]

[2020-03-10 14:13] kzangeli commented on #407
Sure, some day we'll implement this too ...

[2020-03-10 17:50] michaeI-s commented on #406
Not easy to tell. I'm doing a lot of `POST /entities` and `PATCH /entities/<ENTITY_ID>/attrs` requests from a request queue in Node.js script.

`POST /entities` requests are like

[code]

`PATCH /entities/<ENTITY_ID>/attrs` requests are like

[code]
(I just removed the `id` and `type` properties for demo purposes. In a `PATCH` request there would be some attribute changes, of course.)

[2020-03-10 18:32] michaeI-s opened #408 "FATAL orionldState error during concurrent POST requests"
Hi,

I'm doing a lot of `POST /entities` requests from a request queue in a Node.js script.
After some number of successfully served requests I get a "socket hang up" error in my script.
The Orion-LD log reads:

[code]

It's not actually a crash, because there is no stack trace. After that Orion is not reachable anymore. Its docker container exited.

I'm using the following Oron-LD version:
[code]

[2020-03-10 18:36] kzangeli commented on #408
Ok!
The broker exits willingly and tells us what's wrong.
The fix is simply to increase a size
I will take some time though to try to understand why a bigger size is needed.

[2020-03-10 19:05] michaeI-s opened #409 "remove "Unknown 'options' value: keyValues" log message for GET requests"
Although `options=keyValues` query parameter for GET requests is supported, error log messages are generated when used:

[code]
Please remove them. :)

Kind regards,
Michael

[2020-03-16 14:47] stv0g opened #411 "/version Endpoint breaks compatablity with existing NGSIv2 clients"
Can we somehow have a response for the `/version` endpoint which is both parsable by NGSIv2 and NGSI-LD clients?

e.g.

[code]

[2020-03-16 17:04] kzangeli commented on #411
The problem is that NGSIv2 `/version` uses the field `version` and for NGSI-LD this is not enough.
In NGSi-LD we need two different versions.
One that specifies the version of the NGSIv2 part and the other that specifies the version of the NGSI-LD part.

What I did was to change the name of the old "version" to be "orion version" and I added a new field called "orionld version".

Parsable it is, a

[2020-03-16 17:55] stv0g commented on #411
I agree we can do it.

Does NGSI-LD specify any level of compatibility with NGSIv2?

[2020-03-16 18:53] kzangeli commented on #411
Yes, there is a whole lot of compatibility between NGSIv2 and NGSI-LD. As much as I have been able to maintain.
The very same database is used for entities created with NGSIv2 as with NGSI-LD.

This means that you can create an entity using NGSI-LD and you can later retrieve that same entity using NGSIv2 calls.
Orion-LD is an Orion that *also* implements NGSI-LD.

However, Orion isn't aware of the

[2020-03-17 00:08] #411 closed, assigned to kzangeli

[2020-03-20 15:22] #302 closed, assigned to kzangeli

[2020-03-20 15:23] #252 closed, assigned to nobody

[2020-03-20 15:25] kzangeli opened #419 "Get /types"
New request for NGSI-LD.
Still not in the NGSi-LD spec so, details may change.
For now, an array of entity types is returned and no URI params are supported

[2020-03-30 15:12] kzangeli opened #430 "options=count"
ETSI CIM has decided to change the 'count' URI parameter and modify it from `options` to its own URL parameter.

The new URI parameter will be called `count` and it needs a value of 'true' to be turned on.
`false` is default.

The response to `count`  is delivered in an HTTP header called `NGSILD-Results-Count`

[2020-04-06 21:25] michaeI-s opened #434 "/entityOperations/upsert: Multiple attributes cannot be defined using the GeoProperty type"
Hi,

I'm trying to do a batch operation using POST /entityOperations/upsert.  For example:

[code]

I get the following response:

[code]

Note that the operation for entity `urn:ngsi-ld:GtfsStation:900000245025:MS` was successful.<br><br>
The difference between these two entities: <br>
`urn:ngsi-ld:GtfsStation:900000245025:MS` is already <b>existing</b> in the broker, `urn:ngsi-ld:GtfsStation:900

[2020-04-06 21:51] kzangeli commented on #434
Clearly a bug.
My guess: two GeoProperties in total.
Tomorrow I will tell you if my guess is correct (and fix the bug, of course :))

[2020-04-23 17:31] #409 closed, assigned to kzangeli

[2020-04-23 17:43] kzangeli opened #451 "When retrieving an entity, if attrs URI param 'attrs' is given and the entity doesn't have any of those attributes, a 404 is to be returned"
This new behaviour was decided in ETSI ISG CIM a few weeks ago. Still not in the official spec but, on its way.

[2020-04-29 08:51] FR-ADDIX opened #457 "there is a problem with the timestamp "creDate: -1.0" in Orion-LD version 1.15"
When creating data as array as "/entityOperations/upsert" request there are some errors:

creDate: -1.0 is wrong

root@orion-ld:/tmp# tail -f orionld.log | grep lvl=ERROR
time=2020-04-20T16:50:44.798Z | lvl=ERROR | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=safeMongo.cpp[265]:getIntOrLongFieldAsLong | msg=Runtime Error (field 'creDate' was supposed to be int or long b

[2020-04-29 09:17] kzangeli commented on #457
This is a bug. I am half-aware of this.
Could you please give me the exact request used when creating/updating the entity (entities)?

[2020-04-29 15:34] FR-ADDIX commented on #457
This query triggers the error.
Unfortunately I cannot directly access the appropriate logs for this query

The Request:

curl --location --request POST 'https://contextld.2019.smartmaas.services/ngsi-ld/v1/entityOperations/upsert' \
--header 'fiware-service: smartmaas001' \
--header 'fiware-servicepath: /' \
--header 'Content-Type: application/json' \
--header 'Accept: application/ld+json' \
--hea

[2020-04-29 19:02] kzangeli commented on #457
This seems to have nothing whatsoever to do with creDate == -1 ...

However,
Two of the entities fail due to an error in the request:
* urn:ngsi-ld:WeatherObserved:BMP180:13778
* urn:ngsi-ld:WeatherObserved:BMP180:41276

I saw this earlier with Michael Schulz. The reason for the error is that one context is used when creating the entity and another one when trying to update.

In the upsert command

[2020-04-29 22:36] kzangeli commented on #457
So, in PR #458, I changed the DB function used by batch upsert to accept creDate to be a float, which at least should fix part of the problem.
The other part is to find where the timestamp is set to -1, but for that I need to be able to reproduce the problem ...

A new docker image (orion-ld:latest) containing this fix is uploaded to dockerhub.
Please test and let me know.

[2020-05-06 15:12] michaeI-s commented on #408
Still
[code]

as with latest version:
[code]

At least on my test machine and with my data this error is reproducible when setting the `limit`parameter to `>=500`:

[code]

In Orion v2 there is a maximum number of `1000`. So this value might be expected to work here, too. Otherwise an error should be returned indicating that only a maximum value of `x` is allowed for 'limit'.
Currently the LD simp

[2020-05-06 16:45] kzangeli commented on #408
Yes, this is most definitely a bug.
Orion-LD has a default limit of 1000, just like Orion.
I'm pretty sure this is a problem with the buffer size of the rendered output.
Easy to fix to simply make it work for such big buffers (allocate a buffer of 1 gigabytes :) ).
Not so easy to streamline the calls to malloc and realloc ...
I will need to take a look at this asap

[2020-05-15 19:32] michaeI-s opened #463 "Multiple entities with same ID in /entityOperations/upsert payload returns "Bad Request""
Hi,

when providing more than one entity with the same Id in the payload of a `/entityOperations/upsert` request, the error array of the multi status response contains an entry for each affected entity Id.

For example a response could look like this:
<pre>
{
    "@context": "https://fiware.github.io/data-models/context.jsonld",
    "success": [
        "urn:ngsi-ld:WeatherObserved:BME280:11448",

[2020-05-19 19:26] kzangeli commented on #434
I fixed this ...

[2020-05-20 07:16] michaeI-s commented on #434
Great, thanks!

[2020-06-16 12:13] gboege opened #480 "Erroneous @context saved in the Context Cache"
An @context with a parse error seems to be saved in the context cache, only as an empty context.
Fixing the @context and using it again doesn't fix anything in the broker as it has the context already cached - will not reread it until next restart (this needs to be fixed, of course).

The problem here is that the cache accepts an @context with errors -should be rejected.

[2020-06-16 12:38] kzangeli commented on #480
The problem here is that the properties with shortnames "requestParameters" and "requestLocation" are expanded according to the default URL - i.e. they are not detected in the User context.

[2020-06-16 16:34] gboege commented on #480
After a hint from Ken I found out, that one of the files was no valid JSON-LD. A comma was missing. After fixing that all went well.

[2020-06-16 16:36] gboege commented on #480
But when checking this with Ken, we found out that the first call to a Context with parsing errors is code 400. But following calls get a 201... this is misleading.

[2020-06-18 07:32] gboege opened #482 "Bigger size complex attribute values seem to cause problems in readings and notifications"
The size of a complex object (Arrays and Objects) in an Attribute value seem to cause problems. Test cases are provided to Ken

a) Attribute inserts around 20kB are ok, around 23kB not
b) Content can be queried with a general GET /entities, not with a GET /entities/ID
c) Notifications of those big size attributes are cut off at 2049 Byte total message length

Regarding specs there shall be no limi

[2020-06-18 12:45] kzangeli commented on #463
This one is temporarily fixed - by picking just the last instance of an entity in the array - ignoring the rest.
In ETSI we're deciding how to treat this case and once decided and published, will be implemented

[2020-06-18 12:45] #463 closed, assigned to nobody

[2020-06-24 13:26] kzangeli opened #490 "New valgrind errors"
2 test cases show valgrind errors:
  001: ngsi10_subscriptions shows 43 valgrind errors
  306: ngsi10_new_url_paths shows 86 valgrind errors

[ Not the entire suite ]

Sample valgrind output:
[code]

[2020-07-23 08:55] kzangeli opened #496 "createdAt for attribute updated when updating using POST /entities/{EID}/attrs"
[code]

[2020-08-24 08:53] jason-fox opened #502 "Response payload body is missing for batch upsert."
I make a batch create operation

[code]

The broker returns a payload detailing success/failure - this is **CORRECT**

EITHER:

[code]
OR:

[code]

I now batch upsert the same entities:

[code]

The response is **204 no content** - this is **INCORRECT**

According to the 1.3.1 specification: **5.6.8 Batch Entity Creation or Update (Upsert)**

The response payload body is missing, and the HTTP code

[2020-08-24 09:04] jason-fox opened #503 "Missing type attribute in batch update causes context broker crash."
If I run the following batch update (where the first entry is missing a `type`:

[code]

The context broker exits rather than returning with a **400 Bad Request**

[code]

[2020-08-24 09:35] jason-fox opened #504 "PATCH with invalid payload causes broker to crash."
When sending a PATCH request with `Content-Type: application/json` but a plain text payload:

[code]

The expected **400 - Bad Request** does not occur. The context broker exits instead.

[code]

[2020-08-24 10:52] jason-fox opened #505 "PATCH with unitCode is not parsed correctly"
I create an entity with a `unitCode` property:

[code]

I attempt to PATCH the entity:

[code]

Response states:

[code]

However according to section **5.2.5 Property** of the ETSI specification the following elements:

-  `observedAt` **string** DateTime (clause 4.6.3) 0..1 Timestamp. See clause 4.8
-  `unitCode` **string** As mandated by [15] 0..1 Property Value's unit code
-  `datasetId` **URI

[2020-08-24 10:54] jason-fox commented on #505
The `@context` used in the example can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld)

[2020-08-24 10:55] jason-fox commented on #504
The `@context` used in the example can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld)

[2020-08-24 10:55] jason-fox commented on #503
The `@context` used in the example can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld)

[2020-08-24 10:55] jason-fox commented on #502
The `@context` used in the example can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld)

[2020-08-24 12:12] jason-fox opened #506 "Entity PATCH deletes attributes unexpectedly"
I have an Entity as shown:

[code]

I wish to update multiple attributes (in this case `category` and `controlledAsset`:

[code]

Expected response **200 Success** actual response **207 Multistatus**

[code]

Furthermore  `temperature` and `batteryStatus` attributes are **deleted*

According to section **6.6.3.2 PATCH**, the payload sent is an **NGSI-LD Entity Fragment**

- NGSI-LD Entity Fragment

[2020-08-24 13:22] jason-fox opened #507 "Type short name not recognized in an update operation."
I create three Data Entities:

[code]

I then update two of them using an `update` operation as shown:

[code]

Both `TemperatureSensor:003` and `TemperatureSensor:004` exist so the expected result is **200 Success**, but the actual response is:  **207 Multi Status**

[code]

[code]

[2020-08-24 13:23] jason-fox commented on #507
The `@context` used in the example can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld).

[2020-08-24 13:25] jason-fox commented on #507
The same operation as an `upsert` works as expected - **204 No Content**

**POST** `http://localhost:1026/ngsi-ld/v1/entityOperations/upsert?options=replace`

Although no body is found in the response - see https://github.com/FIWARE/context.Orion-LD/issues/502

[2020-08-24 14:17] jason-fox commented on #430
There is now v2/LD incompatibility:

[code]

Returns a *header* `NGSILD-Results-Count: 1`  ✅

[code]

Kills the context broker :x: &nbsp; - maybe related to #508

[2020-08-24 14:47] jason-fox opened #508 "Invalid Query String crashes broker"
The following `q` parameter with `==` runs to completion

[code]

#### Result:

[code]

The following `q` parameter with `=` causes the context broker to exit

[code]

#### Result:

[code]

[2020-08-24 14:50] jason-fox commented on #508
The `@context` used in the example can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld).

[2020-08-31 11:23] kzangeli commented on #430
So, something seems to have broken.
The idea is for both of them to work, until we decide otherwise.
Taking a look right now. Should be an easy fix.

[2020-09-01 15:30] kzangeli opened #511 "Broker crashes on invalid character in attribute name in q string-filter"
The following curl command crashes the broker:

[code]

[2020-09-01 18:11] kzangeli commented on #430
So, I tested this and it works just fine.
However, I don't use your exact data, so the test is not conclusive.
Please post the curl commands to create the entities before doing these queries, see if I can reproduce the error.

[2020-09-01 18:13] kzangeli commented on #430
Fixed by PR #510

[2020-09-01 20:13] kzangeli commented on #508
Replaced by issue #511

[2020-09-02 08:12] kzangeli commented on #511
Fixed by PR #512

[2020-09-02 14:06] kzangeli commented on #507
Fixed by PR #513

[2020-09-03 09:36] kzangeli commented on #506
Fixed by PR #514

[2020-09-03 09:40] kzangeli commented on #505
Fixed in PR #514

[2020-09-03 12:29] kzangeli commented on #502
This is a bug in the spec, I'm afraid.
A clarification is needed in chapter 5.
If you look further down, chapter 6.16 says the following:

204 No Content
If all entities have been successfully
updated, there is no payload body in the
response.

[2020-09-03 12:33] kzangeli commented on #502
Keeping the issue open until the ETSI spec has been updated

[2020-09-04 11:13] kzangeli commented on #503
The issue about missing entity type crashing the broker is fixed.
Note that an attribute value of `null` (which is used for deletion of attribute in some NGSI-LD requests) is not implemented yet in Orion-LD)

[2020-09-07 12:36] kzangeli opened #518 "HTTP headers in ReceiverInfo in Subscriptions, for notifications"
For notifications requiring authentication HTTP headers (just an example, there are more use cases for this feature), at subscription creation time, a user must be able to setup HTTP headers (in the HTTP case) to be included in the notifications triggered by this subscription.

This functionality as been requested by an external user and should be implemented asap

[2020-09-08 12:46] jason-fox commented on #507
Verified: eddd37530fb7cb748ad582b5c20ea4327accd558

[2020-09-08 12:46] #507 closed, assigned to kzangeli

[2020-09-08 12:47] jason-fox commented on #506
verified eddd37530fb7cb748ad582b5c20ea4327accd558

[2020-09-08 12:47] #506 closed, assigned to kzangeli

[2020-09-08 12:56] jason-fox commented on #505
Verified eddd37530fb7cb748ad582b5c20ea4327accd558

[2020-09-08 12:56] #505 closed, assigned to nobody

[2020-09-08 12:58] jason-fox commented on #504
Verified: eddd37530fb7cb748ad582b5c20ea4327accd558

[2020-09-09 13:55] kzangeli opened #520 "datasetId for POST entities/*/attrs"
Implement datasetId for `POST /ngsi-ld/v1/entities/*/attrs`

[2020-09-09 15:43] jason-fox commented on #143
@kzangeli - can this be closed?

[2020-09-09 16:03] kzangeli commented on #143
We do allow FQN for entity types.
So yes, we can close this issue.

[2020-09-09 16:03] #143 closed, assigned to nobody

[2020-09-15 12:37] kzangeli opened #521 "Bug in POST /entities with datasetId"
It seems like the experimental implementation of `POST /ngsi-ld/v1/entities`, with multi-attributes for creation of entities wrongly populates the attrNames field in the database - replacing all '.' for '=' (which is mandatory in the "attrs" field).

[2020-09-15 13:07] kzangeli opened #522 "valgrind errors in BatchUpdate::~BatchUpdate"
The functest `ngsild_leak_in_parseMetadataVector` run in valgrind shows errors - a double free as it seems.

This needs to be fixed but not urgently, as it's an NGSIv2 request that is not working.

[2020-09-16 17:09] kzangeli opened #525 "Broker crash when response to forwarded GET Entity is a JSON Array"
Error handling in responses to forwarded query (must be a JSON object).
Checking for JSON object, else the response is considered invalid.

[2020-09-18 11:08] #521 closed, assigned to kzangeli

[2020-09-18 11:09] #520 closed, assigned to kzangeli

[2020-09-18 11:10] kzangeli commented on #518
Fixed in PR #519

[2020-09-18 11:10] #518 closed, assigned to kzangeli

[2020-09-18 11:12] kzangeli opened #529 "Subscriptions stop working after restarting the broker"
Erroneous read of the db when populating the subscription cache causes complete loss of notifications.
Actually, the subscriptionId gets an in correct value:

`"id": "_id: "urn:...""`

and the generated notification JSON document is not valid JSON and thus the notification fails on the receiver side.

[2020-09-18 11:13] kzangeli opened #530 "Timestamp for subscription expiration is still an integer"
Must be a floating point value (a double), to support milliseconds.

[2020-09-19 08:39] kzangeli opened #532 "Broker to return error if unknown URI parameter is used"
The broker currently has no knowledge of what URI parameter are supported.
Each service simply asks for the ones the service is interested in.
If any other URI parameters are issued to the broker then then are just simply ignored.

This issue is about giving the broker the knowledge of the URI parameters and return error if unsupported URI parameters are used.

[2020-09-20 14:39] kzangeli opened #533 "URI params offset,limit, and count for GET Subscriptions"
Only `count` seems to be implemented right now

[2020-09-20 14:47] kzangeli opened #534 "Registration Subscriptions, Temporal, and Types/Attributes as 501"
* Implement all "Registration Subscriptions" services and make them return 501
* Implement all /ngsi-ld/v1/temporal/* services and make them return 501
* Implement the /ngsi-ld/v1/types/{type} service and make it return 501
* Implement all /ngsi-ld/v1/attributes/* services and make them return 501

[2020-09-20 15:37] kzangeli opened #535 "URI params 'prettyPrint' and 'spaces'"
* Both in orionldState and orioldState.uriParam ... Remove the first instance
* prettyPrint=yes => prettyPrint=true

[2020-09-21 12:43] #532 closed, assigned to nobody

[2020-09-21 13:10] kzangeli commented on #533
This is already implemented and working.
My bad

[2020-09-21 13:10] #533 closed, assigned to nobody

[2020-09-21 18:28] kzangeli opened #537 "Entity update of relationships with datasetId crashes the broker"
The following update of relationships with datasetId crashes the broker:

[code]

[2020-09-22 16:20] kzangeli commented on #530
False alarm - already implemented

[2020-09-22 16:20] #530 closed, assigned to kzangeli

[2020-09-29 16:36] kzangeli opened #543 "Missing notification after PATCH Attribute"
Giuseppe reported possible problem with missing notification after PATCH Attribute.

[2020-10-02 13:43] kzangeli opened #546 "Relationships with datasetIds not present in GET /entities"
Seems like only `Property` and datasetId has been implemented.
`Relationship` missing.
Possibly `GeoProperty` as well.

[2020-10-08 09:25] kzangeli opened #550 "NGSIv2 notifications"
In order to reuse current implementations of e.g. Cygnus, that subscribes to updates of the entities, it would be good to
be able to use NGSIv2 notifications on entities that are created and updated using NGSI-LD.

For this to work, when creating the NGSIv2 subscription, entity types and attribute names must be expanded and as the expanded names contain letters like `., :/`, etc, a modification in

[2020-10-14 19:33] hspaay opened #551 "Websocket support for notifications?"
Hi, recently discovered FiWare and I'm reading up on lots of documentation. I have worked on an IoT standard before and am happy to see all the effort going into an open standard that is so encompassing. Great job!

I have a question on receiving of notifications. The docs don't go into how the notification is sent to the subscriber but from the subscription it looks like it needs an HTTP endpoint

[2020-10-14 19:43] kzangeli commented on #551
Hello there.
First of all, questions like this don't really fit as an issue on github. We use stackoverflow for this kind of things. Look for the tags 'fiware' and 'orion'.

That said, notifications via websockets is on the roadmap for 2021.
Apart from HTTP, MQTT is also supported for notifications.

[2020-10-14 19:45] hspaay commented on #551
Great, thank you for the quick reply. I will direct any further questions to Stackoverflow.
I'll look into MQTT. Thanks again

[2020-10-14 19:46] #551 closed, assigned to nobody

[2020-10-20 08:19] #550 closed, assigned to kzangeli

[2020-10-20 13:39] wagmarcel opened #553 "X-Auth-Token not forwarded?"
I am trying to use the X-Auth-Token header with of Orion-LD. I executed the following steps:

1. Submit a new object, e.g. urn:ngsi-ld:object1 to the broker via the `POST` `/ngsi-ld/v1/entities` endpoint
2. Register a context provider for property1 of object1 via the `POST` `/ngsi-ld/v1/csourceRegistrations/` endpoint to myserver
3.  Query entity via the `GET` `/ngsi-ld/v1/entities/urn:ngsi-ld:obj

[2020-10-20 14:31] kzangeli commented on #553
The forwarding in Orion-LD is independent of the forwarding mechanism used by Orion.
It's still being defined in ETSI ISG CIM and what you have found is merely a proof-of-concept that was implemented in Orion-LD
and one of the iot-agents.

And yes, the HTTP header you mention should of course be included in the forwarded request (that one and more headers).

I will try to implement this specific h

[2020-10-21 11:16] kzangeli commented on #553
github auto-closes issues ...
Reopening it.
@wagmarcel , please re-test and close the issue if satisfied.

Wait, you may need a docker image to test ...
I've created a new image and pushed to dockerhub, with the tag "latest"

[2020-10-21 11:37] kzangeli commented on #553
It was faster than normal today ...

New docker image uploaded on [dockerhub](https://hub.docker.com/r/fiware/orion-ld/tags) - latest

[2020-10-21 11:43] kzangeli opened #555 "More HTTP headers to be forwarded"
See:
* https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Request-Headers
* https://developer.mozilla.org/en-US/docs/Glossary/CORS-safelisted_response_header

The list of HTTP headers that should be forwarded:
* NGSILD-Tenant (might be altered if the registration says so)
* Link
* Access-Control-Request-Headers
*

[2020-10-21 11:43] kzangeli opened #556 "Possible problem with PATCH Attribute and missing notifications"
Need to test PATCH Attribute and make sure notifications are sent

[2020-10-21 22:04] wagmarcel commented on #553
Thanks @kzangeli ! I tested the latest image and the scenario described above worked for me! I am impressed by the speed of fixing this issue :-)
Now I can continue my evaluation of Orion-LD (I am currently exploring integration with a project using Keycloak).
I have another question though: I would like to use the x-auth-token forwarding also for subscriptions, e.g. when I send attribute updates,

[2020-10-22 06:31] kzangeli commented on #553
You're in luck!

I implemented exactly what you need a few weeks a ago on request from another user.
It's a pretty new feature, I think we added it in the 1.3.1 release of the API.

In short, when creating your subscription, you can ask the broker to use any number of extra HTTP headers for the notifications originating from the subscription.

Just put the header name and its value in the array **

[2020-10-23 09:59] wagmarcel commented on #553
Thanks! That sounds exactly like something I need. Just checked it on latest container and looks good for me!
Then I'll close the issue.

[2020-10-23 09:59] #553 closed, assigned to nobody

[2020-10-23 12:31] kzangeli opened #559 "Invalid notification on PATCH Entity, updating attributes"
When updating an attribute A1, using `PATCH /entities/*/attrs`, the notification sent contains the old attribute A1.
But not only that, the notification also contains an extra, expanded copy of other attributes of the entity ...
Tests done using the functest ngsild_patch_entity_attr_with_subscription.test:

## Entity Creation:
[code]

## Update of A1:
[code]

## Notification:
[code]

## Expected N

[2020-10-28 23:36] wagmarcel opened #560 "Forwarded header-length limitations"
I am playing around with X-Auth-Token forwarding when using ContextSourceRegistration (solved by issue #553).
But I am experiencing issues with the length of the forwarded header.  Can it be that it is restricted to 255 bytes? Especially with X-Auth-Token this could be an issue, since  JWT tokens can become much larger (e.g. in my case the token can easily be 1500 bytes long)

[2020-11-11 07:41] kzangeli opened #565 "Ability to start broker with traces only to stdout"
For the broker to work in "kubernetes way", no log file on disk should be used, apparently ...
Not 100% sure how this would work.
The kubernetes way is for all executables to log on stdout.
The broker would definitely have to work in foreground mode, if we want any traces at all, because as a daemon the controlling terminal is decoupled from the broker (that's part of making it a daemon) and no tr

[2020-11-11 16:57] kzangeli opened #567 "Batch Operations and invalid Entity IDs"
Batch Delete returns a 400 Bad Request if any of the Entity IDs isn't a valid URI - this seems to be according to the spec as the table 6.16.3.1-1 says the following about 400 Bad Request:
[code]

However, Batch Upsert (and possibly also batch create and update) ignores the erring entity and completes the operation (marking the invalid URI in the 207 Multi Status response).

All batch operations m

[2020-11-14 12:20] kzangeli opened #569 "Batch Update expands entity type error"
`/ngsi-ld/v1/entityOperations/update` seems to expand the entity type twice and we end up with something like:

"type" : "https://https://ngsi-ld-tutorials.readthedocs.io/en/latest/datamodels.html#TemperatureSensor"

OR: it is an error in the context?

[2020-11-14 12:22] kzangeli commented on #569
It's an error in the context:

        "tutorial": "https://https://ngsi-ld-tutorials.readthedocs.io/en/latest/datamodels.html#",

[2020-11-16 14:56] #569 closed, assigned to nobody

[2020-11-16 14:59] kzangeli opened #572 "Support for options=update by batch update service"
The batch update operation is missing the URI parameter "options", that can take values "update" or "replace", replace being the default behavior.

Right now, batch update does an "update" and not a "replace" (which should be default) !

[2020-11-17 09:37] kzangeli opened #573 "URI Check"
URI = scheme:[//authority]path[?query][#fragment]

My check for valid URI is too strict - change all

if (urnCheck() || urlCheck())

for

if (uriCheck())

[2020-11-19 02:00] hspaay opened #575 "Is there an entitiy for Contect Broker attributes?"
Since the NGSI-LD spec will likely evolve (after all we have had v1 and v2 already), is there a way to determine what version a context broker supports?
Possibly an entity for the broker itself with attributes that describe its name, version etc... ?
Thank you kindly,

[2020-11-19 11:10] kzangeli commented on #575
Yes, you are right. It would be useful for users to be able to query the broker about the version of NGSI-LD that is supported.
I have just the place for it:
[code]
I could easily include this info right there.

However, this is not a request that is supported by the NGSI-LD standard. Only Orion-LD supports this service, no other NGSI-LD compliant broker.
I'll bring this to ETSI ISG CIM and we'll

[2020-11-19 18:09] hspaay commented on #575
Ah yes, that is great.
Thank you for bringing this to ESTI ISG CIM. Maybe good to consider other attributes such as uptime and load, for server monitoring, although arguably that could be considered out of scope. (kinda like the MQTT $SYS topic).
Thanks again and I'll try to remember to direct these kind of questions to Stackoverflow

[2020-11-19 18:09] #575 closed, assigned to nobody

[2020-11-23 16:27] kzangeli opened #578 "Batch Update without overwrite"
`POST /ngsi-ld/v1/entityOperations/update` without `?options=noOverwrite` is supposed to replace the individual attributes.
Instead the attributes are merged and thus old sub-attributes survives the "overwrite".

This is due to a vague NGSI-LD spec (as of Nov 23 2020) which is about to be amended.
mongoBackend cannot be used for this, unless before calling mongoBackend, Orion-LD identifies which a

[2020-11-25 09:20] kzangeli opened #579 "Batch Update with options=update"
`POST /ngsi-ld/v1/entityOperations/upsert` with `?options=update` is supposed to replace the individual attributes.
Instead the attributes are merged and thus old sub-attributes survives the "replace".

This is due to a vague NGSI-LD spec (as of Nov 23 2020) which is about to be amended.
mongoBackend cannot be used for this, unless before calling mongoBackend, Orion-LD identifies which attributes

[2020-11-26 08:25] kzangeli opened #586 "gmtime"
./src/lib/common/string.cpp uses `gmtime`.
Should use `gmtime_r` instead as gmtime is not reentrant.

[2020-11-26 09:08] kzangeli commented on #586
Fixed in https://github.com/FIWARE/context.Orion-LD/pull/587

[2020-11-26 09:08] #586 closed, assigned to nobody

[2020-12-02 09:35] kzangeli opened #599 "Temporal"
ToDo for the implementation of injection of temporal representation of entities
----------------------------------------------------------------------------------------------------------
* Tenants:
  * [List databases](https://stackoverflow.com/questions/65389672/retrieve-a-list-of-the-databases-from-postgres-server-via-libpq)
    - select datname from pg_database
  * Retrieve tables:
    * Connec

[2020-12-02 11:20] kzangeli opened #600 "Failing Unit Test"
The unit test `mongoUpdateContextSubscription.MongoDbUpdateFail` has started to fail.
Travis has been broken for months and I normally don't run unit tests before sending PRs.
I always run the functests but seldom the unit tests, so I missed this warning, unfortunately.

The unit test will be disabled but must be looked into in the near future.

What's failing is the `lastFailure` field that has a

[2020-12-03 13:49] wistefan opened #605 "ORIONLD_MONGO_HOST env var is not parsed correctly"
When configuring orion-ld via environment variables to run with a replicated mongo, the ORIONLD_MONGO_HOST is not parsed correctly. Instead of seperating the hosts by comma, it seperates every 64 characters. This leads to invalid hosts and therefore orion-ld is not able to connect to mongo. The same configuration is able to connect when configuring the mongo-hosts via commandline options.

Reprodu

[2020-12-03 14:05] wistefan commented on #605
Digged deeper. Its not a env-var only error, when the hostnames getting longer, also the commandline option fails.
Result is the same ` op=rest.cpp[1890]:restStart | msg=Fatal Error (V4 inet_pton fail for eadless,mongo-orion-mongodb-2.mongo-orion-mongodb-headless,mong)`
The problem seems to only happen, if the total size of the host-string is exceeding a certain number. When using:
`mongo-mongodb-

[2020-12-04 06:41] kzangeli opened #606 "Temporal DB Tables"
[code]

A graphical representation can be found here:
[DB Diagram](https://dbdiagram.io/d/5fff0f1f80d742080a362f3c)

For the current implementation, we decided to stay with the table structure and declare the 3 tables to be timescale hypertables and therefore get its improved handling of timeseries.

All text fields, except the "text"-field will be changed to varchar, for lower memory consumption

[2020-12-04 07:24] kzangeli opened #607 "Temporal Design Spec"
* createdAt and modifiedAt is taken from orionldState.requestTime (needs to be implemented)
* We assume that orionldState.requestTree comes in "perfect" - will not always be the case - modify Service Routine
* Some (many) operation do REPLACE.
  Replace an Entity, an Attribute, a Sub-Attribute ...
  For that kind of ops we need to mark attributes as "deleted".
  To know which attrs (same same for

[2020-12-04 14:46] wistefan commented on #605
Fixed in: https://github.com/FIWARE/context.Orion-LD/commit/f8f0d7fa2995994b253d9f3e7c6eb93d2dec0117

[2020-12-04 14:46] #605 closed, assigned to nobody

[2020-12-05 17:25] kzangeli commented on #559
Fixed by @manaty226 in PR https://github.com/FIWARE/context.Orion-LD/pull/604
Many thanks!

[2020-12-05 17:25] #559 closed, assigned to nobody

[2020-12-09 15:16] jason-fox opened #622 "UnitCode within Subscription payloads"
I have an entity with a unitCode

[code]

 set up three subscriptions - one `keyValues`, one `normalised` and one `NGSI-v2-Normalised`

### Normalised v2

For Normalised v2 I'm getting:

[code]

I should get the `unitCode` and `observedAt` within the `metadata`:

[code]

### NGSI-LD Normalised

For Normalised LD I'm getting:

[code]

I should get:

[code]

[2020-12-09 16:13] kzangeli opened #623 "format names for "cross-notifications" LD-V2"
x-ngsiv2-normalized
x-ngsiv2-normalized-compacted
x-nsgiv2-keyValues
x-nsgiv2-keyValues-compacted

[2020-12-09 16:39] kzangeli opened #624 "temporal/postgres functests not working in GH-Actions"
The postgres database is queried using the `psql` command line tool, assuming postgres runs in localhost - works fine in my local machine but not so well in GH-Actions, where postgres runs in a separate container.

I need to make the psql calls use a host and a port (PG_HOST and PG_PORT) and set up those two env vars accordingly for GH-Actions.
They can default to "localhost" and 5432, so nothing

[2020-12-09 17:02] kzangeli opened #625 "Error downloading core context at startup"
For release-compiled brokers, the core context is downloaded on startup.
It seems like this has stopped working.

[2020-12-10 08:29] kzangeli commented on #625
Is was a problem with missing certificate files.
Fixed by https://github.com/FIWARE/context.Orion-LD/pull/626

[2020-12-10 08:29] #625 closed, assigned to nobody

[2020-12-10 10:43] jason-fox commented on #623
[code]

Where `x-ngsiv2` is a suitable alias for `x-ngsiv2-normalized-compacted`

## x-ngsiv2-normalized

Uses URNs for types, attribute names. Receiver can apply an `@context` compaction themselves.

[code]

### x-ngsiv2-normalized-compacted

Uses shortnames for types, attribute names. Context broker pre-applies compaction operation. Receiver gets simple JSON payload

[code]

[2020-12-15 10:20] wistefan opened #646 "Dedicated health check"
In order to run Orion in Kubernetes environments, Orion should provide a proper health check functionality. See https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
The health check should work independently from the incoming connection pool, to prevent Orion from getting killed in high load scenarios(i.e. when it reaches the connection limit and th

[2020-12-15 13:53] jason-fox commented on #622
fixed by #632

[2020-12-15 13:53] #622 closed, assigned to nobody

[2020-12-16 10:29] kzangeli opened #652 "BATCH Delete with more than one item for the same entity id"
If an attempt to delete an entity more than once using Batch Delete, the "copied item" should be silently removed.

E.g.:
[code]
is silently transformed to:
[code]

[2020-12-17 08:20] kzangeli opened #655 "BATCH Create with more than one item for the same entity id"
Still to be 100% defined by ETSI ISG CIM, but a pre-agreement has been made to treat this problem:
[code]
to:
[code]
The reasoning behind this behavior is that as the array is assumed to be _ordered chronologically_, the first occurrence of an entity *creates* the entity, while later occurrences would *try to create* the entity and **fail**, as the entity already exists.

The removed entities are

[2020-12-23 08:41] kzangeli opened #658 "BATCH Upsert+Replace with more than one item for the same entity id"
`BATCH Upsert` w/o options=update _**replaces**_ the entities that already existed, and creates those that did not exist.

[code]
to:
[code]
The reasoning behind this behavior is that as the array is assumed to be _ordered chronologically_, and every new entity-instance replaces the former, the last entity-instance would be the "result of merging" all instances of the entity.

The entity-instances

[2020-12-27 11:30] kzangeli opened #660 "BATCH Upsert+Update with more than one item for the same entity id"
`BATCH Upsert` with options=update _**merges**_ the entities (by adding/replacing attributes) that already existed, and creates those that did not exist.

[code]
to:
[code]

[2020-12-31 10:27] kzangeli opened #667 "NULL attribute value to delete attributes"
For the following two requests:
[code]
Any of the attributes having a NULL value (instead of an object) must be deleted.
Those removed attributes must also be marked as DELETED in TRoE.

## Background
From the spec (1.3.1) about the usage of NULL to delete attributes:

5.2 Data Types
  None of the members described admit a null value, except when they are used in the context of an update operation

[2021-01-08 16:15] kzangeli opened #677 "observedAt for sub-attributes"
Make sure this works.
POST and GET

[2021-01-13 17:08] kzangeli commented on #655
Fixed in #656

[2021-01-13 17:08] #655 closed, assigned to nobody

[2021-01-18 10:24] wistefan commented on #606
A graphical representation can be found here:

[2021-01-20 16:38] kzangeli commented on #667
I proposed to ETSI ISG CIM to drop this feature and that's what we'll do.
Issue to be closed.

[2021-01-20 16:38] #667 closed, assigned to nobody

[2021-01-22 16:19] YannickLecroart opened #695 "Error 411: Length required"
Hi,

I have created an API via the WSO2 API Manager curl GET requets work fine as you can see below:

![image](https://user-images.githubusercontent.com/43994829/105514802-39f34b00-5cd4-11eb-8fe6-e938693cfe69.png)

But when trying to setup a POST request I get the following message "error 411: Length required"

![image](https://user-images.githubusercontent.com/43994829/105515222-b8e88380-5cd4-11e

[2021-01-26 05:59] kzangeli commented on #695
Hi, not sure what is happening with your application, but from what you are describing, it seems like it doesn't send a correct Content-Length HTTP header - which is mandatory in any request that carries a payload body.
Without it, the broker doesn't know where one request ends and the next one begins.
And yes, most commands like curl, adds the Content-Length automatically.
You simply need to find

[2021-01-29 13:45] jason-fox commented on #503
Fixed

[2021-01-29 13:45] #503 closed, assigned to kzangeli

[2021-02-09 15:28] lidiaplaza opened #710 "Customized payload not supported"
Orion based on NGSI v2 supports custom payload inside notification field. For example:
[code]

Nevertheless, Orion-LD based on NGSI-LD does not support this useful customization.

[2021-02-15 14:13] #660 closed, assigned to nobody

[2021-02-15 14:14] #658 closed, assigned to kzangeli

[2021-02-15 14:14] kzangeli commented on #652
Fixed in PR #653

[2021-02-15 14:14] #652 closed, assigned to nobody

[2021-02-15 14:15] kzangeli commented on #623
Done

[2021-02-15 14:15] #623 closed, assigned to nobody

[2021-02-15 14:16] kzangeli commented on #624
Done

[2021-02-15 14:16] #624 closed, assigned to nobody

[2021-02-17 21:17] YannickLecroart commented on #695
I was able to resolve that issue by using the following custom mediation sequence:

[code]

Thanks your time anyway!

[2021-02-17 21:17] #695 closed, assigned to nobody

[2021-02-23 15:37] kzangeli opened #725 "Subscriptions - check to make sure notification format and accept are compatible"
The following two subscription fields:
* `notification::format`
* `notification::endpoint::accept`

somehow express the same thing, or,. at least, they may not be compatible.
E.g. format == "x-ngsiv2-normalized" and accept == application/geo+json.

The accept field can be really complicated, containing various mime-types with weights and what not.
However, for a first implementation, with a simple

[2021-02-23 20:08] kzangeli commented on #710
I took it up with ETSI ISG CIM and didn't get any traction, none at all.
We could still implement this feature for Orion-LD but it would not be part of the NGSI-LD standard. Meaning, you wouldn't be able to switch to some other NGSi-LD compliant broker if you depend on the feature.

[2021-02-23 20:11] kzangeli commented on #309
I added a functest today (Feb 23 2021) for DateTime properties, including error handling.

I believe the issue has been fixed, please try again and close the issue if the broker is working properly (for DateTime)

[2021-02-24 09:34] jason-fox commented on #309
But in normalized NGSI-LD `sillyDate` isn't a `DateTime` anyway - it is a JSON object with a `value` and a `type` - hence your input `@context` is incorrect. This is the reason the validation has to run on the object `@type` within the `value`.

[2021-02-24 11:20] kzangeli opened #728 "GET geo+json entities and attrs="
What do we do with a GET /entity | /entities with:
     - Accept: application/geo+json
     - attrs=P1
     - geometryProperty=P2

   We asked for ONLY P1, but we're going to need P2 as well.
   But, only as the "geometry" field, not inside "properties" ... Right?

   [ Same same for "location", without geometryProperty - we'll need "location" apart from "P1" ]

The answer is, include the geometry

[2021-02-24 14:06] wistefan commented on #606
SRIDs should be changed:

CREATE DATABASE xxx;

CREATE EXTENSION IF NOT EXISTS plpqsql;
CREATE EXTENSION IF NOT EXISTS postgis;
CREATE EXTENSION IF NOT EXISTS timescaledb;

CREATE TYPE ValueType AS ENUM
(
  'String',
  'Number',
  'Boolean',
  'Relationship',
  'Compound',
  'DateTime',
  'GeoPoint',
  'GeoPolygon',
  'GeoLineString',
  'GeoMultiPolygon',
  'GeoMultiLineString',
  'LanguageMap'
);

[2021-02-27 08:08] fisuda opened #732 "GET /ngsi-ld/v1/types returns an empty JSONarray when EntityTypeList is empty"
NGSI-LD spec specifies that `GET /ngsi-ld/v1/types` returns a `EntityTypeList` type, unless details=true is specified.
But it returns an empty JSONarray when EntityTypeList is empty.

[code]

I think that it should returns an empty JSONobject or an JSONobject including a empty typeList as shown:

[code]

or

[code]

I tested this using Orion 0.6.1.

[code]

[2021-02-27 11:16] kzangeli commented on #732
Yes, you are probably right. I will look into this.
The response type of GET /types was recently changed and while the normal case (some type found) has been changed to return what the NGSI-LD API spec now states, this corner-case was probably forgotten.

I promise to look into this and if we (well, you :)) are right, to fix it ASAP!

Thanks!

[2021-02-27 21:49] fisuda commented on #732
I have confirmed that this issue has been fixed. I appreciate your prompt response.

[code]
[code]

[2021-02-27 23:58] fisuda opened #735 "Compaction not work with attrs option"
The behavior of `GET /ngsi-ld/v1/entities/{id}?attrs={attr}` seems to be changed bettween `0.6.1` and `post-v0.6`.
The compaction does not work with attrs option.

The following is a test script.

[code]

The result of running it in `post-v0.6` is shown:
[code]

The result of running it in `0.6.1` is shown:
[code]

Docker images
[code]

[2021-02-28 09:15] kzangeli commented on #735
ok!

Saw it and yes, this is a bug - I actually fixed it already - PR is on it's way.

I recently had to modify the behaviour of 'attrs' for geo-json mime type and I managed (as so often) to destroy something else in the process.
In this case I had forgotten to copy a string before modifying it, and thus modified (destroyed) an item in the @context.

Thank you again for finding bugs in the broker

[2021-02-28 09:21] kzangeli commented on #735
Should be fixed in PR #736

[2021-02-28 10:43] fisuda commented on #735
I confirmed that this issue has been fixed. Thank you for your prompt response.

[code]

[code]

[2021-02-28 11:47] #735 closed, assigned to kzangeli

[2021-02-28 11:47] #732 closed, assigned to kzangeli

[2021-03-01 08:24] fisuda opened #737 "ngsi-ld query language: invalid character"
The `invalid character`  error occurs when specifying multibyte characters to a query condition in `GET /ngsi-ld/v1/entities`. The following is a script to reproduce this issue. A string that has multibyte characters is `１２３４`.

[code]

The following is a result run it.

[code]

The following is a script for Orion 2.5.2.

[code]

Orion has found an entity that matched the query condition.

[code]

[2021-03-01 10:36] kzangeli commented on #737
Try using double-quotes for the string (and URL-encode the quotes):
[code]

NGSIv2 and NGSI-LD differs a little here. See chapter 4.9 in the NGSI-LD API spec:
[code]

Spaces are a bit tricky, Hopefully it works both with and without URL-encoding the spaces ...

Let me know how it goes.

[2021-03-01 12:23] fisuda commented on #737
Thank you for your advice. I tried it. It works.

[code]

I have a further question. When an attribute name is multibyte characters, how should I specify a query?
The case is as follows.

- short name
[code]

- IRI
[code]

- In the case of `q=ｎａｍｅ==%22１２３４%22`
[code]
- In the case of `q=https%3A%2F%2Fcontext.lab.letsfiware.jp%2Fdataset%23%82%8E%82%81%82%8D%82%85==%22１２３４%22`

[code]

- In the case

[2021-03-01 14:59] kzangeli commented on #737
_When an attribute name is multibyte characters ..._

Frankly, I have never tried that.
The first thing I would do would be to URL-encode the name (that goes as a URI parameter).
And I mean, just try to url-encode ｎａｍｅ- don't add any quotes - that's only for string values (on Right-Hand Side).

[2021-03-01 16:05] kzangeli commented on #737
So, I tried - took me quite some time to figure out how to make `curl` accept the URL parameter with "funny characters" in it ...

It doesn't work - I will need to "broaden" the set of characters I accept for variable names in 'q'.

This is what I send:
[code]
And this is what I get:
[code]

At least, I'm able to reproduce the problem and I can start to try and find a fix! :)

[2021-03-01 16:22] kzangeli commented on #737
I removed the check for forbidden characters in variable names of the 'q' string - seems to be working now.
I'll have to consult with my colleagues and boss before I merge this.

[2021-03-01 17:35] kzangeli commented on #737
I decided to merge the PR.
Please try it and let me know

[2021-03-01 21:31] fisuda commented on #737
I tried it. The results were as expected. Thank you for your help!

[code]

[code]

[code]

[2021-03-01 21:31] #737 closed, assigned to kzangeli

[2021-03-02 06:45] #728 closed, assigned to nobody

[2021-03-02 06:46] #725 closed, assigned to nobody

[2021-03-04 10:53] fisuda opened #741 "DatasetID for PATCH of individual attribute"
The `PATCH /ngsi-ld/v1/entities/{entityId}/attrs/{attrId}` fails when including `datasetId` into a request body.

[code]

The following is a script to reproduce it.
[code]

The following is a result to run the script.
[code]

[2021-03-04 10:57] kzangeli commented on #741
Yeah ...
While I did implement 'datasetId' for a few requests, it is far from truly supported in Orion-LD.
It's a huge effort and it will take time, a lot of time, to have datasetId fully supported.
If you need datasetId right now, I'm not going to be able to give it to you, sorry ...

[2021-03-04 11:01] fisuda commented on #741
It's no problem. I'm not in a hurry. I'm just testing.
Thank you.

[2021-03-05 02:41] oolong-high opened #744 "Implementation planning for Temporal Evolution API"
I'm trying to use the API to query Temporal Evolution of entities from an NGSI-LD system.

`GET /ngsi-ld/v1/temporal/entities # Not implemented in Alpha Release 1`

I've read in developer-documentation that it's not implemented yet.
Could you please inform me that you have a plan for when it will be implemented.

[2021-03-05 06:45] kzangeli commented on #744
We have just pushed a first full version of the implementation of TRoE (temporal representation od entities) to the develop branch.
Tests about to start.
So, it's "there", only in a terribly green state still.
If you want to try it out, you are more than welcome to help us find bugs in this initial implementation.
For production usage of TRoE, I would recommend to wait a few months, at least, for

[2021-03-05 11:20] oolong-high commented on #744
Thank you for getting back to me.
[code]
Are these also pushed to the develop branch?
I would be very happy if you could let me know the target code file from you as I cannot find it.

[2021-03-05 11:42] kzangeli commented on #744
target code file ... would a docker image do?
https://hub.docker.com/r/fiware/orion-ld/tags?page=1&ordering=last_updated

Registration Subscriptions (csourceSubscriptions) are not implemented. There's not even any plans to implement it any time soon.

Temporal Representation of Entities, as I explained earlier is on its way.
Retrieval and Query of temporal entities are done via a separate executab

[2021-03-10 05:55] oolong-high commented on #744
Thanks for your replying.I understood that Registration Subscriptions (csourceSubscriptions) has not been implemented and is not planned to be implemented.

I was also made aware that troe queries are handled by Mintaka.
https://github.com/Trigyn-Technologies/Mintaka

[2021-03-15 07:42] kzangeli opened #761 "Notification to a batch update"
Create a subscription on type=X and upsert multiple type=X entities.

I would expect a single notification with an  array of elements.
I would expect a FeatureCollection for GeoJSON.

Last time I looked I was getting multiple single notifications instead.

[2021-03-15 17:20] kzangeli opened #763 "Unknown Error when unitCode is not a string"
curl -L -X POST 'http://localhost:1026/ngsi-ld/v1/entities/urn:ngsi-ld:Building:store002/attrs' \
-H 'Content-Type: application/ld+json' \
--data-raw '{
    "@context": "https://raw.githubusercontent.com/FIWARE/tutorials.NGSI-LD/master/app/public/data-models/ngsi-context.jsonld",
    "depth": {
        "type": "Property",
        "value": {
            "@type": "Intangible",
            "@value":

[2021-03-17 18:11] gboege opened #766 "Feature request: Proxy protocol for outgoing notifications"
Data Spaces are gaining more importance in Europe (IDSA, GAIA-X, i4Trust).
The brings more importance to Broker Federation to realize Broker Networks that can do distributed computing ML/AI/CEP...

In DataSpaces like IDSA, all messages have to be equipped with individual information that is hardly available in Orion-LD.

The concept could be easily realized with the proxy protocol: https://www.hap

[2021-03-23 08:24] pacs27 opened #774 "Error: No such tenant"
Hello,

I am using the latest docker image for Orion-LD  and I am provisioning the devices through Lorawan IOT-agent.

The device is provisioned fine and in MongoDB there is a table with the name: orion-rabanales.entities, containing the device:
[code]

The problem is that when I try to access that device from Orion-LD I get the error:
[code]

The request I make is the following:
[code]

[2021-03-23 09:13] pacs27 commented on #774
I think the error is because Lorawan IoT-Agent does not support NGSI-LD

[2021-03-23 09:38] pacs27 commented on #774
I have updated the iotagent-nod-lib to the latest version and everything works fine.

[2021-03-23 09:38] #774 closed, assigned to nobody

[2021-03-25 07:17] wistefan commented on #744
@oolong-high You are refering to the wrong project for mintaka, the one you mentioned is outdated. Please use this one: https://github.com/FIWARE/mintaka

[2021-03-26 00:10] oolong-high commented on #744
Thank you for pointing out. You're right.

[2021-03-27 23:09] fisuda opened #776 "Response of POST /ngsi-ld/v1/entityOperations/create is corrupted"
The behavior of POST `/ngsi-ld/v1/entityOperations/create` seems to be changed between `0.7-PRE-105` and `0.7-PRE-106`. The response  body is corrupted.

- 0.7-PRE-106

[code]

- 0.7-PRE-105

[code]

The following is a test script to reproduce it.

[code]

[code]

[2021-03-28 08:37] kzangeli commented on #776
ok!
I reproduced the bug - should be an easy fix.
It's weird, I have a functest doing something quite similar and it's working just fine.

[2021-03-28 09:44] kzangeli commented on #776
I believe PR #777 fixes the problem.
However, github actions is **really** slow today ... the jobs for the PR are queued but not starting.
Can't merge to develop until I've seen all jobs finish successfully.

Meanwhile, if you are in a hurry, change the `Accept: application/ld+json` for `Accept: application/json` - that should "neutralize" the bug.

Thanks for reporting!

[2021-03-28 09:49] fisuda commented on #776
Thank you for your prompt response. I'm not in hurry. After the new Docker image is created, I will test it.

[2021-03-28 11:18] fisuda commented on #776
I have confirmed that the bug has been fixed by #777.

[code]

[code]

Thanks!
[code]

[2021-03-28 11:18] #776 closed, assigned to nobody

[2021-04-01 09:47] kzangeli commented on #606
Not needed anymore - the DB is described in markdown docs, reachable via top level README.md

[2021-04-01 09:47] #606 closed, assigned to nobody

[2021-04-01 09:49] kzangeli commented on #599
This issue is quite out of date.
TRoE is pretty much implemented and this issue is of no real use anymore - closing it

[2021-04-01 09:49] #599 closed, assigned to nobody

[2021-04-18 08:39] kzangeli opened #797 "HTTP Status Codes for Batch Upsert"
201: All entities were created
204: All entities already existed and were updated
207: Some error, or a mix between creation and updates. However ...
           A fix in the spec is necessary for this ...
           In case of a batch upsert of 3 entities, with one of them already existing, the spec says that a 207 should be returned,
           with all three entity IDs is the "success" array.

[2021-04-19 14:58] flopezag opened #799 "Problem with PATCH processing (update an attribute"
I am using the current latest version of Orion-LD:

[code]

When I have tried to update an attribute of an entity that it was created previously following this request:

[code]

and now update the *energy* attribute, for example:

[code]

I obtained an error:

[code]

But I can request the concrete information of that entity:

[code]

I repeated the process but using the docker image with tag `0.7

[2021-04-20 06:23] kzangeli commented on #799
We tested it together and there was no problem after all - false alarm

[2021-04-20 06:23] #799 closed, assigned to nobody

[2021-04-20 12:22] husqD opened #800 "Problem when Iot-Agent tries to delete a sensor in Orion-ld"
When I delete a sensor in the IoT-Agent, the entity in Orion-LD is not deleted. This doesn't happen when I use the same IoT-Agent in Orion-V2.

[2021-04-20 14:26] kzangeli commented on #800
Not too much detail here.

I imagine we're talking forwarding and NGSI-LD, right?

The forwarding mechanism for NGSI-LD is not yet specified in the NGSI-LD spec and cannot (naturally) be implemented before it is designed.
A small PoC was made between myself and @jason-fox for forwarding in NGSI-LD, but that's it I'm afraid.

You are still more than welcome to create an issue about it, just, please

[2021-04-20 14:49] jason-fox commented on #800
If you are interacting with an IoT Agent it is most likely this issue should be raised [over here](https://github.com/telefonicaid/iotagent-node-lib/issues). Please append a series of curl requests  to your issue to see what is happening in order to process this issue further.

[2021-04-20 14:57] husqD commented on #800
ok, I close this bug and I explain in more detail in the iot-agent repository.

[2021-04-20 14:57] #800 closed, assigned to nobody

[2021-04-22 06:55] kzangeli opened #803 "HTTP Status Codes for Batch Upsert"
BATCH Upsert have three different "200 responses":
- 201 if all entities were created
- 204 is all entities were updated
- 207 if either a mic of update/create or any error
  - we need a more granular response payload body for 207 - success + error is just not enough
  - this is under discussion in ETSI and can't be implemented right now
  - it can be prepared though, by separating "updated" and "

[2021-04-22 11:31] kzangeli commented on #797
Created a new issue - #803 - closing this one

[2021-04-22 11:31] #797 closed, assigned to nobody

[2021-04-22 11:32] kzangeli commented on #803
Fixed for API v1.3.1 in PR #804

[2021-04-22 11:33] kzangeli commented on #803
Actually, what's missing (ETSI discussion) isn't about thre HTTP status codes, but about the payload response body - this issue can be closed

[2021-04-22 11:33] #803 closed, assigned to nobody

[2021-04-22 11:36] kzangeli opened #805 "Response Payload Body for BATCH Operations"
Currently, the payload body for 207 response for batch operations are like this:
[code]

This is not granular enough for BATCH Upsert, where entities can be both created and updated.
We'd need something like this instead:
[code]

And, if this is changed for BATCH Upsert, we should probably be coherent and do the same for all batch ops (i.e. use "created"/"updated" and not "success" for 207 respons

[2021-04-22 11:39] kzangeli opened #806 "Implement GET /attributes?details=true"
Implement GET /attributes?details=true

[2021-04-23 08:06] jandres6579 opened #807 "Orion-LD restarting after x time avaiability"
Hi:
I launched the next service connected to a mongo:4.2:
[code]
After a period of time where I send periodical PATCH requests (seems to depend on activity), I detect the broker is continuously restarting until I run:

`docker-compose down; docker-compose up -d`

I detect it because I'm monitoring with:

`docker ps -as | grep "orion-ld" | grep "Restarting" | wc -l`

Seems the broker lost the conne

[2021-04-23 08:15] jandres6579 opened #808 "Orion-LD notifications."
Hi:

After I create an entity and subscribe by type, if I run a patch request over one of its properties but with the current value, the notification arrives.

Is it correct or a bug?

If It is a bug and you can't simulate it, can you send post (entity, subscription) and patch(entity) example requests to compare with mine ones?

Thank you so much.

[2021-04-23 08:27] kzangeli commented on #808
This is a "new feature" I implemented just a few days ago.
The old behaviour was to not notify on "same update", but this is a problem for some clients and the "quick fix" was to remove this check and "notify even if no change was made". Actually, the modifiedAt of the property changes, so there is really a change in the property even if its value hasn't changed.

That said, we're working on more

[2021-04-23 08:27] #808 closed, assigned to nobody

[2021-04-23 08:32] kzangeli commented on #807
ok ... that's not good!

Could you show me the logs, see if I can see anything strange ?
Perhaps also start the broker with max log enabled (`-logLevel DEBUG -t 0-255`) (-logLevel DEBUG you have already)

[2021-04-23 09:02] flopezag opened #809 "Different behaviour with subscription format value"
I have created a subscription to OrionLD with the subscription format value: **x-ngsiv2-normalized-compacted**

[code]

And the notification that I receive with this subscription is the following:

[code]

But, if I make the subscription with the subscription format: **x-ngsiv2-normalized** the notification that I receive is this one.

[code]

How you can see there are some parameters missing (**i

[2021-04-23 09:09] jandres6579 commented on #808
Ok, thank you so much. Only to apport anything seems there are two kinds of clients, on a hand need all updates and another hand only updates.

In my opinion, notifications are only to inform about updates and if I'm not wrong now "modifiedAt" can't be obtained in the notification body.

In this sense,  to avoid these kinds of notifications we had to use an auxiliary property and subscribe only to

[2021-04-23 09:15] kzangeli commented on #808
Yes, this will be configurable. Will take a few months to get decided in ETSI and then implemented.
Sorry about this and happy you found a workaround!

[2021-04-23 09:23] jandres6579 commented on #807
I will add your suggestions and try to catch the last logs before the issue.

[2021-04-23 15:26] kzangeli opened #810 "GET /attributes, with details=true, and registrations"
For now, only local entities are considered for `GET /attributes?details=true`.
This is how the response payload body looks when details is turned on:
[code]

Easy enough to extract all that data for attributes of local entities, but, what about registrations?

In the case of iot agents, I guess the normal way is that an entity is registered with its entity id and type, and the list of attributes.

[2021-04-26 08:11] kzangeli opened #818 "Context Cache"
* Refresh contexts - download, parse and after that add to cache (to prevent pushing out a good one for a bad one)
    `POST /contextCache/refresh body ["url1", "url2", ...]`
* Delete contexts
    `DELETE /contextCache?url=<comma separated list of urls>`
* List of all current contexts - payload body is an array of urls
    `GET /contextCache`
* GET an individual context (optional - brokers may cre

[2021-04-26 09:58] jandres6579 commented on #807
Hi:
The obtained logs are:

[code]

[2021-04-26 10:03] jandres6579 commented on #807
Regarding mongo-db, logs I see:

[code]

[2021-04-26 10:07] kzangeli commented on #807
`PID-file '/tmp/contextBroker.pid' found. A broker seems to be running already` ... that's quite weird.
It would happen if the broker crashes due to e.g. a SIGSEGV, unable to remove the pid file before it dies, and is then restarted without first removing the PID-file.
[ What is even more weird is that you have THREE different lines complaining about the PID-file in your logfile. ]

For this reaso

[2021-04-26 10:37] jandres6579 commented on #807
As mentioned, orion-ld is trying to run again, but it is continuously restarting, .I detect I have a line about PID-file per restart process.... (it's a bukle) I wrote only three lines because it's a neverending process, there are more lines with this.

Seems orion-ld lost connection with mongo and It can't reconnect because the PID-file doesn't allow.

As you suggest to me, I will update the brok

[2021-04-26 10:51] kzangeli commented on #807
IoT-agent or not will not alter anything.
And yes, the broker will die, right away, due to the PID-file (before trying to connect to mongo).
And like that forever, until the PID-file is finally removed.

This was an old protection mechanism that makes little sense if the broker is automatically restarted.
Thus, it was removed.

The beta 2 release is from March 19, and the PID-file fix is from Marc

[2021-04-26 11:29] jandres6579 commented on #807
Ok, Thank you so much! I'm going to test it and inform you.

[2021-04-26 12:00] devrnt opened #819 "Can't connect to Azure CosmosDB (MongoDB)"
Can't connect to Azure CosmosDB instance with MongoDB api with the `fiware/orion-ld` image. However, this works perfectly fine with the `fiware/orion:latest` image (latest being `3.1.0-PRE-43`).

This `orion-ld` image works perfectly fine when MongoDB runs on another docker container (test it by replacing the [orion-ld](https://hub.docker.com/r/fiware/orion-ld) image with [orion](https://hub.docke

[2021-04-27 07:37] jandres6579 commented on #807
Hi:
I updated it to 0.7.0 version. At the moment broker doesn't continuously restart but still restart each x periodic time...

I put a log of the last restart where you can see the restarting moment between 06:52:19 and 06:52:22:

[code]

[2021-04-27 07:39] jandres6579 commented on #807
I was monitoring too the mongo-db logs and I see how periodically seems the connection is lost:
[code]

[2021-04-27 07:42] jandres6579 commented on #807
It seems that, approximately every 3:35, the connection is lost and then orion-ld restart.

But It's different without activity, in that case, I remember in 0.6.1 the connection was stable.

[2021-04-27 08:14] kzangeli commented on #807
There's nothing in the logs that help ...
Everything seems to be working just fine and then it just stops and starts from scratch again.
Probably a SIGSEGV.
This is the last line of a run:
[code]
We'd need to run the broker inside gdb to extract more info.
Or, make it create a core file and then run gdb on the core file after the crash.

Or, you tell me exactly what you do and I can try to reprodu

[2021-04-27 08:58] kzangeli commented on #819
Sorry to hear you're having problems ...
First doubt, does "Azure CosmosDB" open the port 27017, just like mongo?

Personally I have never tried out Orion-LD with anything but mongo.
I know some people have successfully tried it with Amazon's DocumentDB.

About Orion-LD / Orion:
Orion-LD forked out from Orion back in Sep 2019, and hasn't been refreshed since then (too much overhead).
Some day, the

[2021-04-27 09:35] devrnt commented on #819
It's exposed on another port, but this is taken into account when passing the `<azure-cosmos-db-host>` as mentioned in https://fiware-orion.readthedocs.io/en/master/admin/database_admin/index.html#database-authorization

Sure, it's kind of straightforward if you are familiar with Azure DevOps, this document show how to add a CosmosDB (with MongoDB API) in Azure DevOps: https://docs.microsoft.com/e

[2021-04-27 11:17] joriwinderickx-fm opened #821 "Improve insert performance of temporal HTTP POST interface with multiple-row inserts"
Hello,

I am able to insert multiple instances of an attribute of an entity at the same time using the temporal interface of Orion. And, it is working nicely, though, I can send more data than Orion-LD and timescale can handle. It results in a buildup of latency to update the database with the latest temporal values. While looking through the source code, I noticed that each instance is inserted s

[2021-04-27 11:24] kzangeli commented on #821
Yes, I will definitely try something like this. And soon.
As I first implementation I just wanted it to work, and really didn't think performance would be an issue at this early stage ...
But, I was mistaken.
We're currently looking into how to rewrite the insertions.
Should be ready in a week or so.

Thank you for reporting!

[2021-04-27 17:07] jandres6579 commented on #807
Hi:
It seems I simulated the issue. I paste docker-compose file and two requests (POST and PATCH).
After the broker is deployed I launch  POST request manually and when the entity is created I use Postman Runner and configure it only with PATCH request, delay = 0  (faster) , or 1000 ms... after  2025 iterations it breaks, if you are running "docker-compose logs -f orion" you will see it.  With del

[2021-04-28 10:40] kzangeli commented on #807
ok, perfect, this I can work with!
It seems like you have found a memory leak.
I'll setup a valgrind test as similar as possible to what you did and ... fix it ! :)

[2021-04-28 11:10] jandres6579 commented on #807
ok, thank you so much.
I will wait for your advances.
As mentioned I detected it in different environments, maybe something that affects everyone.

[2021-04-28 11:42] kzangeli commented on #807
Just one detail about the "data model" ...

[code]
That's kind of ... weird.
You've modeled the "value" of the property as if the "value" was just a sub-property ...
It's not - that's not how its meant.
Try this instead:
[code]
(observedAt is a special sub-property - will be saved as a unix timestamp, a float with milliseconds, for faster comparisons)

Also, the field "timestamp" ... it has an "ob

[2021-04-28 12:04] kzangeli commented on #807
Wait, implementing the functional test for this I might have discovered what's eating your memory.
Be careful with "inline contexts" (inline context == giving the context in the payload body).
The broker  stores the context in its context cache, once every PATCH request - you end up having many many copies of your user context in the brokers context cache. 3:35 ... that's 215 seconds - how many pa

[2021-04-28 12:34] jandres6579 commented on #807
Regarding Data Model I fully agree with you, this representation is not mine and now I'm not enough brave to change it now because there are other components, for instance, the historic one... uffff... The correct way is as you mentioned.

Regarding the core context, It's a good suggestion,  I will have it in my mind in the future. Thank you so much.

[2021-04-28 14:03] jandres6579 commented on #807
Can you paste me the format of the patch request that you are suggesting to me in order to test it? It's not clear to me.
Regarding the frequency, I'm not sure but could be a PATCH request each 2 o 3 seconds, in a process that is executing every 30 minutes.

[2021-04-28 14:44] kzangeli commented on #807
ok, so, a few things.
First of all, the broker doesn't return the Link header in the creation request, as there is no payload data.
Makes sense, but ... the context is orphan. Might be I don't create the context here.
I need to look a little deeper here.

Also, if only ~100 PATCH requests, that should not be enough to eat up all the RAM of the broker.
Either way, avoid to send inline contexts over

[2021-04-28 15:17] kzangeli commented on #807
No memory leaks found.
I used your exact Create and Update commands with inline contexts and everything.
That's bad news :(
If I can't reproduce it, I can't fix it.

I ran the memleak test with one creation and 100 patches.
I've also tried the same test with 1000 patches, but without memleak check.
All good, I'm afraid.
Will keep trying.

[2021-04-28 15:18] jandres6579 commented on #807
I'm running 99999 iterations with delay=0... still in process but it seems working fine. In my opinion, now I can see more "Transaction ended" messages than my previous tests.

[2021-04-28 15:23] kzangeli commented on #807
Perhaps continue on skype - will be easier
My skype handle is "kzangeli" - look me up!

[2021-04-28 15:24] jandres6579 commented on #807
It breaks for me after 2025 PATCH requests

[2021-04-28 15:25] kzangeli commented on #807
ok!
Testing again, this time with 5000 patch requests

[2021-04-28 15:27] jandres6579 commented on #807
If it works for you now, tomorrow we can talk.
I'm going to send you an email.
Thank you so much in advance. :)

[2021-04-28 15:29] jandres6579 commented on #807
If I put application/json and no @context it works fine, but with application/ld+json and @context it breaks.

[2021-04-28 15:32] kzangeli commented on #807
Just found that my broker stops serving requests after a while.
Broker traces:
[code]
So far so good, but the broker stops serving any more requests there.
Recognize that number? :) 2025

Bug found - should be easy to fix.
I guess we get to the maximum limit of cached contexts and are executing code that hasn't been tested.

However ... please don't use inline contexts this way, it's really tough

[2021-04-28 15:39] jandres6579 commented on #807
I recognized 2025 because I saw it each time Orion-LD restart because I was monitoring with docker-compose logs -f orion. (last log)

Then, I understand the best way is to avoid PATCH requests with @context and use a application/json body, is it correct?

[2021-04-28 15:40] kzangeli commented on #807
Yeah, avoid putting the context in the payload body whenever possible.
Also, always try to use `Accept: application/json`

[2021-04-28 15:43] kzangeli commented on #807
But you want your user defined context ...
[code]

Put is somewhere, where the broker can download it, and put its URL in the **Link** header,

The broker will download it ONCE ONLY, create a hashtable of all the terms in your context and the conversion shortname -> longname will be lightning fast, if you compare to parsing the context as part of the payload body every time (and creating the hash

[2021-04-28 15:48] jandres6579 commented on #807
ok... I will review all your suggestions and apply them... one question regarding this. when POST method is used to update an existing entity (previously created) the scenario could be is the same? memory leak issue or is it different?

[2021-04-28 15:54] kzangeli commented on #807
There's no memleak, I checked.
But, the internal context cache of the poor broker gets overloaded and the broker just stops to serve requests - big bug on my side.
I now am able to reproduce it easily (takes some 25 secs to get there) and will fix this asap.

[2021-04-28 16:39] flopezag opened #823 "Different behaviour with subscription format equal to keyValues and normalised"
# Description

I was checking the subscription to Orion-LD with the format keyValues (the following payload):

[code]

And I create a new entity:

[code]

Now, I send also some updates (PATCH) to activate the subscription rule:

[code]

I develop a mock-server to receive the notification and show the payload:

[code]

Apparently, there are some problem with some attributes (e.g. dateObserved) that

[2021-05-06 15:40] #807 closed, assigned to nobody

[2021-05-11 12:25] kzangeli opened #840 "Persist served contexts in mongo"
## Persist served contexts in mongo
* Special tenant for the broker:  "orionld"
* Collection for the contexts:    "contexts"
* A document in the "contexts" collection:
[code]

* For updates in the collection "contexts", the broker maintains a single connection to mongo (should really be enough!) and protects the connection via a semaphore.
* Reads of the collection must wait on the semaphore (to g

[2021-05-17 10:26] flopezag opened #843 "Problem in upsert with apparently observedAt property"
# Description

When I try to upload 2 entities values using upsert which the following payload

[code]

I receive the following error message with code 207:

[code]

I obtained also the "attribute must be a JSON object" error message if use only one entity data:

[code]

# Tested

[code]

[2021-05-17 12:26] kzangeli commented on #843
Yeah, this seems to be a bug in the broker.
I'm on it !
Thanks for reporting!

[2021-05-17 12:30] kzangeli commented on #843
Wait!
Entities don't have an "observedAt", only attributes do.
Ergo, if "observedAt" is desired as a "top level" attribute, it's not special - needs to be an object and with type+value.

[2021-05-19 10:58] #744 closed, assigned to nobody

[2021-05-25 09:54] ctc-nakatsuka opened #854 "Metadata has no value in notifications"
When an entity sent in a notification contains metadata, the value property of the metadata may not be present, as shown below.
This seems to occur when the metadata value is an object or array.

[code]

It occurs in the following version:

[code]

[2021-05-25 10:24] kzangeli commented on #854
ok!
Interesting.
Definitely looks like a bug

[2021-05-26 01:28] ctc-nakatsuka opened #857 "Relationship without 'object' field in notifications"
When an entity sent in a notification contains a relationship attribute has an array, the `object` field of the relationship becomes the `value` field, as shown below:

[code]

It occurs in the following version:

[code]

[2021-05-27 14:13] kzangeli opened #860 "Context for forwarding requests to be stored in the registration in mongo"
No context is stored as part of a registration right now - it's missing functionality.
In the future, a special payload body field (yet to be named in ETSI ISG CIM) of a registration is to assign an @context to be used when forwarding triggered by the registration.
Right now (and, Orion-LD hasn't implemented that EITHER! - only for subs/notifs) the @context used during the registration creation is

[2021-05-27 15:51] kzangeli commented on #534
This is implemented

[2021-05-27 15:51] #534 closed, assigned to nobody

[2021-05-27 15:56] kzangeli commented on #854
This issue should be fixed by  #c9da921

[2021-05-31 12:03] diego-gv opened #866 "NGSI-LD subscription not working"
Hello all,

I am trying to create a subscription to QuantumLeap to store the changes of NGSI-LD `AirQualityObserved` entities in CrateDB.

I create the subscription as follows:

[code]

The entities are as follows (with `keyValues` option):

[code]

When an update is made, for example, to the `CO` parameter, no notification is sent. I have tried to configure the notification both to the QuantumLea

[2021-05-31 13:32] kzangeli commented on #866
ok, I will take a look. Very simple example, should work.

Meanwhile, make sure your entities are on the right tenant.
And that the context `"https://fiware.github.io/data-models/context.jsonld` is used during the updates.
In general, it's a good idea to add complete curl commands and not just "descriptions" on what has been done.

[2021-05-31 14:14] kzangeli commented on #866
"When an update is made" ... what's the exact update done?

[2021-05-31 14:55] diego-gv commented on #866
I make the following request:

[code]

On re-obtaining the NGSI-LD entity, the entity is up to date but has not issued a notification.

Regards,

[2021-05-31 15:06] kzangeli commented on #866
ok, what about the tenant ?
The subscription lives on the tenant openiot.
Is that missing from your curl-statement?
The @context seems to be missing as well ...

The devil is in the details.
Try to paste in the **exact** curl statement that you issue when observing the malfunction.
_[ Cause like that, I can try to reproduce it. Or tell you what's wrong with the statement ]_

[2021-05-31 15:24] diego-gv commented on #866
Very well, here is the complete and identical process that I obtain directly.

I create the entity:
[code]
I create the subscription:
[code]

I open port 5000 with NetCap (`nc -l -p 5000 -k`) and update the entity.

[code]

The use of `NGSILD-Tenant` and `fiware-servicepath` is ambiguous in NGSI-LD (or at least I have not found the appropriate documentation), so I have used the requests I have fou

[2021-05-31 15:30] kzangeli commented on #857
Found the error and I'm fixing it.

Just wanted to send you a warning about the usage of Arrays for Relationships.

This is not part of the NGSI-LD standard.
The NGSI-LD standard says that a Relationship shall have an "object" that is of the type String.
- Array is not allowed.

I implemented the acceptance of Array of Strings (_made a lot of sense to me ..._) by mistake and as I now have users de

[2021-05-31 15:46] kzangeli commented on #866
So, first about tenants and service path:

NGSI-LD (and Orion-LD) supports tenants (they were called services in NGSIv2).
The HTTP header to use in NGSI-LD is `NGSILD-Tenant`, but Orion-LD also supports `FIWARE-Service`, for backwards compatibility with Orion/NGSIv2.

The Service-Path is on its way into the NGSI-LD spec but not quite there yet.
As it was unclear that it would ever be part of the N

[2021-06-01 01:25] ctc-nakatsuka commented on #854
It works. Thank you!

[2021-06-01 01:25] #854 closed, assigned to kzangeli

[2021-06-01 01:47] ctc-nakatsuka commented on #857
Thank you for your information.
I will want to modify my data model after the `datasetId` is implemented.

[2021-06-01 05:47] kzangeli commented on #840
Slightly changed, but implemented

[2021-06-01 05:47] #840 closed, assigned to nobody

[2021-06-01 05:51] kzangeli commented on #821
Forgot to link to this issue when merging the PR that implements the "bulk" insertion.
This was implemented time ago, in PR #824

[2021-06-01 05:51] #821 closed, assigned to nobody

[2021-06-01 09:40] diego-gv commented on #866
Ok, I have solved it and I understand.

Thanks

[2021-06-01 09:40] #866 closed, assigned to kzangeli

[2021-06-07 10:09] fisuda opened #885 "Response of POST /ngsi-ld/v1/entityOperations/upsert is corrupted when no entities exist"
The Response body of POST /ngsi-ld/v1/entityOperations/upsert is corrupted when no entities exist.

[code]

The following is a script to reproduce it.

[code]

- Orion-ld version info

[code]

[code]

[2021-06-07 10:32] kzangeli commented on #885
ok!
I will get right on that!
Thanks for reporting!!! :)

[2021-06-07 10:51] kzangeli commented on #885
The request works just fine if you "Accept: application/json", instead of ld+json ...
I'm gonna have to do something about this, of course, not 100% sure *what* as of right now.
The response payload body is an array of strings, the entity-ids, and, I don't see how I can fit the @context inside there.
Actually, the @context shouldn't be there, as there is no expansion in the body - it would be comp

[2021-06-07 10:54] fisuda commented on #885
Thank you for your quick reply. I understand.

[2021-06-07 11:35] kzangeli commented on #885
Fixed in here: https://github.com/FIWARE/context.Orion-LD/pull/886.
However, this fix may be just temporary - need to hear with my colleagues in ETSI ISG CIM-

What I did was to ignore the user's request of getting "application/ld+json", and instead (as that makes no sense for this request), I return "application/json".

[2021-06-07 11:35] #885 closed, assigned to kzangeli

[2021-06-15 17:09] kzangeli opened #888 "Huge response payload body"
Write a test, with 1000 entities that each have 1000 attributes, and see what happens with a query including all of them - a huge payload body for the response

[2021-06-17 06:43] kzangeli opened #889 "CLI -noCache might have stopped working"
Haven't used the option to run the broker without subscription cache since ... I started with Orion-LD, back in Aug 2018.
Got a report indicating it might have stopped working, so need to look at that.
While this option is pretty much never used, as it slows down the broker, it is useful to have for troubleshooting.

Also, in "Telefonica Federated" scenarios (a number of brokers running against th

[2021-06-18 13:48] kzangeli opened #890 "Check for presence of endpoint field when subs are created"
Seems like I missed to make sure that a subscription has an `Endpoint` member - it's **mandatory**!!!
Many thanks to @alibenfattoum for finding out!

[2021-06-20 06:45] kzangeli opened #892 "/notify endpoint for data duplication between brokers"
Some use cases require a brokers data to be duplicated.
This can easily be implemented in Orion-LD (and any other broker), by making Orion-LD able to subscribe "to itself", or rather, another NGSi-LD broker.
This feature is already implemented in Orion/NGSIv2, on the /v2/notify endpoint.

The array under "data" is really an entity array and it can "easily" be adapted to the Batch Upsert request (w

[2021-06-25 10:59] ctc-enokida opened #895 "Do Orion-LD APIs support absolute IRIs for linked data?"
Hi.

I did some tests to understand the Orion-LD APIs specifications.

But, depending on the API, some can use absolute IRIs and some can't.
Is this a bug? or shouldn't it be supported?
(Please let me know if I'm using it wrong...)

Thank you so much.

The following is a description of what we tested.
①GET /ngsi-ld/v1/entities
：Everything's fine.
②POST /ngsi-ld/v1/entities
：Invalid entity type nam

[2021-06-25 10:59] ctc-enokida commented on #895
①GET /ngsi-ld/v1/entities
`curl -v 'http://localhost:1026/ngsi-ld/v1/entities?type=http://XXXX/YYYY/json-context.jsonld%23Person'`

②POST /ngsi-ld/v1/entities
`curl -i 'http://localhost:1026/ngsi-ld/v1/entities' \
-X POST \
-H 'content-type: application/json' \
-d '
{
    "id": "urn:ngsi-ld:Person:0001",
    "type": "http://XXXX/YYYY/ngsi-context.jsonld#Person",
    "name": {
        "type": "Prop

[2021-06-25 14:05] kzangeli commented on #895
You are supposed to be able to use **expanded values** pretty much everywhere.
Not that anybody is ever doing it, but, the API supports it.

So, probably a bug in Orion-LD what you're seeing - about (I assume) the hash character in 'case 2 - entity creation'.
Will check it and fix it if necessary.

About the subscription (don't mix up subscriptions with registrations - two quite different concepts

[2021-06-25 16:01] kzangeli commented on #895
Just implemented a test for "invalid entity type", with the following body:
[code]
That worked just fine (201 Created).
I also searched the source code for "Invalid entity type name" - didn't find anything.

Are you using an older version of the broker?
My guess is you are - please make sure (https://hub.docker.com/r/fiware/orion-ld).

[2021-06-25 16:09] kzangeli commented on #895
Did a test also for the subscription - just a quick test to make sure the entity type is correctly stored in the database.
Also can't see any anomalies there ...

So, make sure you're using the newest version of Orion-LD, and try again.

Post again if something fails and we'll fix it !

[ If all works just fine, then please close the issue, with a comment ]

[2021-06-28 00:03] ctc-enokida commented on #895
Thank you for your quick answer.
I will install the latest version and check it out.
 (I'm using Orion-LD tags:0.7.0 right now.)

I will probably not be able to start checking until later this week, so I will check back and let you know.

Thank you so much.

[2021-06-28 01:04] sekiguchi-yohei opened #897 "Response to a GET request with attrs parameter contains unexpected properties."
Hi.

I encountered an unexpected event in my verification using context registration.

The following is a description of what we tested.

①：POST /ngsi-ld/v1/csourceRegistrations/
　Create the following context registrations.
　Succeeds in creating it.

[code]

②：GET /ngsi-ld/v1/entities?id=urn:ngsi-ld:Building:store001&type=Building&attrs=location
　I expected only the id, type, and lolocation proper

[2021-06-28 01:12] sekiguchi-yohei commented on #897
Sorry, I forgot to mention the version.
It occurs in the following version:

[code]

[2021-06-28 01:56] sekiguchi-yohei opened #898 "Unable to get provider properties in GET request when context registration entities is set to idPattern or type only"
Hi.

I encountered an unexpected event in my verification using context registration.
Unable to get provider properties in GET request when context registration entities is set to idPattern or type only.

The following is a description of what we tested.

**・Pattern 1 (idPattern)**
①：POST /ngsi-ld/v1/csourceRegistrations/
　Create the following context registrations.
　Succeeds in creating it.

[cod

[2021-06-28 06:28] kzangeli commented on #897
Seems to me you have found a bug in the experimental implementation of forwarding of Orion-LD.
You are right, "weather" is not supposed to be present.
Something that is "supposedly implemented and working" - you might have found a bug in it.

Forwarding is not supported yet in the NGSI-LD API.
We're working on it but it will still take some time for it to be completely figured out (it's complex!)

[2021-06-28 06:45] kzangeli commented on #898
Here I am better able to explain what is happening.

As I explained in the issue #897 , forwarding is not even described in the NGSI-LD API spec yet.
A PoC was implemented in Orion-LD, including two operations:
* GET /ngsi-ld/v1/entities/{entityId}
* PATCH /ngsi-ld/v1/entities/{entityId}/attrs/{attrName}

So, GET /ngsi-ld/v1/entities/ doesn't even support forwarding, and that is why you don't get

[2021-06-28 06:45] #898 closed, assigned to nobody

[2021-06-28 08:28] sekiguchi-yohei commented on #897
Thank you for your quick response!

Yes, I added '-forwarding' when starting the broker.

Yes, urn:ngsi-ld:Building:store001 is present in both.

OK, the broker and provider entities will be ↓ respectively.

**・broker**
[code]

**・provider**
[code]

[2021-06-29 01:50] sekiguchi-yohei opened #899 "Is it possible to have the Authorization header supported by context registration forwarding?"
Hi.

We are currently examining the possibility of using Orion-LD context registration in our project.
In our project, when transferring access in context registration, we want to transfer the Authorization header from the context broker to the context provider as well.
I don't think Authorization header forwarding is currently supported, is it possible to have Orion-LD support it in the future?

[2021-06-30 09:53] Neeraj-Nec opened #900 "Memory issue"
Hi ,

I am getting memory following issue while testing (upset , subscription and Query by ID API). Error log:
I am getting following memory issue.
/ngsi-ld/v1/subscriptions/ --------------------------
time=Wednesday 30 Jun 08:49:07 2021.496Z | lvl=TMP | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=orionldMhdConnectionInit.cpp[527]:orionldMhdConnectionInit | msg=-------

[2021-06-30 17:40] kzangeli commented on #900
OK, that's interesting ... might be a memory corruption - the worst kind of bug!
However, with the info you're giving me here there is really not much to go on.

If you could make your run as small as possible, and still provoking the error, and post here the exact requests (and I mean **exact** - I'd need every header, every single byte of payload body, etc, to reproduce the error), then I could

[2021-06-30 17:48] kzangeli commented on #899
I believe the `X-Auth-Token` HTTP header is already included in forwarded requests.
Not 100% sure, might be I implemented that for notifications but not for forwarded requests ...

That said, forwarding is still very much a work in progress.
The NGSI-LD API doesn't support it yet  (we're working on it, but it's quite complex) and what is to be found in Orion-LD about forwarding is just a proof of

[2021-06-30 18:25] kzangeli commented on #897
Thank you for the info!
Got me enough to be able to reproduce the error.

The bug is discovered and fixed, PR on its way (need to test everything first to make sure I haven't broken anything else ...)

This is the bug:
The merge between registered attributes (weather) and the wanted attributes (location) is *nothing*.
I simply didn't consider this possibility when I implemented the PoC.
What the b