[2021-06-30 18:58] kzangeli commented on #897
This is the PR: https://github.com/FIWARE/context.Orion-LD/pull/901.
However, there are some problems with the docker base image and all tests fail.

We're moving from "debian stretch" to "ubuntu 20.04" as docker repo and quite a few changes have been necessary.
This is why the tests are failing.
I think this PR will have to wait until we finish the "ubuntu 20.04" task, which I hope and believe wi

[2021-06-30 18:59] #892 closed, assigned to nobody

[2021-07-01 00:27] ctc-enokida commented on #895
Hi ken!
I have tested it with the latest version(post-v0.8.1) of Orion-LD.
All APIs(①〜④) worked fine.

Thanks for your research and cooperation.
I will close the issue.
Thank you.

[2021-07-01 00:27] #895 closed, assigned to nobody

[2021-07-01 00:38] sekiguchi-yohei commented on #897
Thank you so much, Ken!
Copy that.
Testing awaits your success.

[2021-07-01 02:03] sekiguchi-yohei commented on #899
Thanks for the reply, Ken!

The **X-Auth-Token** was indeed forwarded.
However, **Authorization** cannot be forwarded as an HTTP header ...
I am assuming that **Authorization** is the HTTP header to be included in the forwarded request,
but is it difficult to forward the Authorization header?

[2021-07-08 02:07] Neeraj-Nec commented on #900
Hi
Again i am getting the following issue .

nldMhdConnectionInit.cpp[527]:orionldMhdConnectionInit | msg=------------------------- Servicing NGSI-LD request 16529: POST /ngsi-ld/v1/subscriptions/ --------------------------
time=Thursday 08 Jul 01:39:28 2021.802Z | lvl=TMP | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=orionldMhdConnectionInit.cpp[527]:orionldMhdConnect

[2021-07-08 02:42] Neeraj-Nec commented on #900
Hi Ken Zangelin,

I run the same script on Scorpio broker by just changing the port And all the request was successfully executed on scorpio broker.

[2021-07-08 11:57] RemiOllivier2 opened #903 "Missing -dbSSL and -dbAuthDb arguments"
Hi,

It seems that -dbSSL and -dbAuthDb arguments do not exist in Orion-LD while they are present in Orion.

It would be nice to add them in order to connect Orion-LD to a secured Mongo cluster

[2021-07-08 13:29] kzangeli commented on #903
Ok, I will look into this

[2021-07-09 05:49] ctc-enokida opened #904 "What is the best way to link multiple Orion-LDs?"
Hi

We are considering linking multiple Orion-LDs.
Data updates occur in each Orion-LD, and we would like to reflect the updates to each other.

In this case, what is the best way to do so?

I thought that the ”smart federation” feature in the roadmap would do that, but has that been implemented yet?
And is the ”smart federation” feature a realization of SPEC's ”Federated Architecture”?

■RoadMap

[2021-07-14 13:35] kzangeli commented on #897
"which I hope and believe will be tomorrow" ...

Ubuntu 20.04 as base failed and we're now working with RedHat UBI (and got the same issues as with Ubuntu 20.04).
We're still working on it, been at it for three weeks.
Seeing some performance problems that we still cannot understand.

Just to let you know that you are not forgotten, we just ran into a massive amount of unexpected problems :(

[2021-07-15 09:05] sekiguchi-yohei opened #907 ""/ngsi-ld/ex/v1/notify" - notification cycles a certain number of times"
Hi.

※I commented on this on StackoverFlow, but I thought it would be more appropriate as a topic for an issue, so I'll ask.
https://stackoverflow.com/questions/68341414/is-context-broker-federation-possible-with-ngsi-ld

I tried "/ngsi-ld/ex/v1/notify" because what we want to achieve is mutual entity copying between brokers based on notifications.
When I created subscriptions with "/ngsi-ld/ex/v1

[2021-07-15 09:50] kzangeli commented on #907
ok, I saw the comment in SOF, and I might now finally have understood what you're after ...

You have two subscriptions:
* Broker A subscribes on Broker B
* Broker B subscribes on Broker A, on the same entity (or set of entities - not important).

Then you create a matching entity in one of the brokers:
* and you get a notification in the other broker
* that then also creates the entity and notifi

[2021-07-15 10:14] kzangeli commented on #904
It's a bit early for the Orion-LD implementation to think about federation, I'm afraid.
Forwarding is being discussed in ETSI ISG CIM (where the NGSI-LD API is defined) but it is still kind of far from being materialized.
To link NGSI-LD brokers you need the forwarding to be first defined and then implemented.

What Orion-LD can offer today is maintaining copies of entities from other brokers, usi

[2021-07-15 11:18] kzangeli commented on #897
With vacations coming, we postponed the base image change.
The fix is merged and in develop, just ... still with debian stretch as distro.

Please test and let us know, by comments and/or closing of the issue.

_[ Very sorry I had you waiting for so long ... it was "special circumstances" ... ]_

[2021-07-16 00:44] sekiguchi-yohei commented on #907
Thank you very much.

Yes, that's correct.
I was expecting the same behavior with "/ngsi-ld/ex/v1/notify", since the notification was not repeated even after the same operation with "/op/notify" in V2.

So, I made this inquiry.

[2021-07-16 07:24] kzangeli commented on #907
Orion works that way because attributes that have not changed their values are not considered for notifications, which is currently part of the NGSIv2 protocol.

NGSI-LD defines a different behaviour, always notifying.

We're about to add a flag to configure how this is to work, in ETSI ISG CIM, where the API is defined. It's still not in the spec bit I could probably implement something "off the

[2021-07-19 00:31] sekiguchi-yohei commented on #907
Thank you very much！
I am eagerly waiting for it to be implemented this week.

[2021-07-19 15:24] kzangeli commented on #907
Once the PR #910 is merged, start the broker with the new CLI option  `-noNotifyFalseUpdate` and let me know

[2021-07-19 16:46] kzangeli commented on #907
The PR is merged.
Remember, this fix is temporary.
The real solution is to add a field to the subscriptions.
That will come ... not sure when.

[2021-07-20 01:35] sekiguchi-yohei commented on #907
Thank you very much！
I tried "-noNotifyFalseUpdate" and it worked as I imagined it would.

[2021-07-20 06:55] #907 closed, assigned to nobody

[2021-07-21 07:49] #904 closed, assigned to nobody

[2021-07-21 07:54] kzangeli commented on #900
I'd need an example, preferribly using **requests in curl**, as simple as possible, that still provokes the error.
If I have a way to reproduce the issue I can fix it.
Without that, not much I can do.

[2021-07-21 13:23] kzangeli commented on #890
Fixed in PR #912

[2021-07-21 13:23] #890 closed, assigned to kzangeli

[2021-07-21 13:26] kzangeli commented on #899
Authorization is just another HTTP header.
No problem at all.
Only, forwarding is not really implemented yet, so, not sure how interesting this is right now.
Are you OK with only using the following two requests for forwarding?:
- GET /ngsi-ld/v1/entities/{entityId}
- PATCH /ngsi-ld/v1/entities/{entityId}/attrs/{attrName}
?

More will come, but I can't really say when ...

[2021-07-21 14:34] kzangeli commented on #899
Fixed it in PR #913

[2021-07-21 14:43] #857 closed, assigned to kzangeli

[2021-07-24 22:20] fisuda opened #914 "GET /ngsi-ld/v1/attributes?details=true replys a response with two @context entries."
The `GET /ngsi-ld/v1/attributes?details=true`  replies a response body with two `@context` entries in one element of `Attribute[]`.

[code]

- How to reproduce it

[code]

[code]

[code]

- Orion-LD Version

[code]

[code]

[2021-07-24 23:04] kzangeli commented on #914
Ok!
I will take a look at it, should be an easy fix.
Thank you for reporting!

[2021-07-25 00:20] fisuda commented on #914
Thank you for the quick reply.

This is an additional information. The `GET /ngsi-ld/v1/attributes/{attrIb}` may reply the same response.

[code]

[2021-07-25 09:12] kzangeli commented on #914
Found the error and fixed it - easy, as predicted :)
Once the PR is merged and the new docker image is available, please test it and close this issue if all works as expected.
Again, thank you for reporting!

[2021-07-25 10:26] fisuda commented on #914
Thank you for fixing this issue!
I have tested it. It works fine.
Fixed by #915. Closing.

[code]
[code]

[2021-07-25 10:26] #914 closed, assigned to nobody

[2021-07-29 01:45] sekiguchi-yohei opened #917 ""-noNotifyFalseUpdate" - notification cycles a certain number of times"
Hi.

An unintended event occurred with "-noNotifyFalseUpdate".
If the value field of an attribute of an entity sent in a notification is an object, the notification was repeated a certain number of times.
(Same event as in issues/907)
https://github.com/FIWARE/context.Orion-LD/issues/907

NG
[code]

version
[code]

[2021-07-29 07:19] kzangeli commented on #917
Yeah, that is what is implemented.
I implemented for Orion-LD exactly was is implemented for Orion and that is a comparison old/new value if not compound.

It's a lot more effort to compare compound values. But, if this is what you need, I'll have to implement it.

[2021-07-29 07:19] kzangeli commented on #917
Yeah, that is what is implemented.
I implemented for Orion-LD exactly was is implemented for Orion and that is a comparison old/new value if not compound.

It's a lot more effort to compare compound values. But, if this is what you need, I'll have to implement it.

[2021-07-30 02:25] sekiguchi-yohei commented on #917
Hi.

Sorry
I hadn't done a similar test with V2...（value field of an attribute of an entity）
It will be difficult for you to implement this, so we will look into other ways to achieve this.

Thank you very much.

[2021-07-30 07:43] kzangeli commented on #917
Yeah, it is far from trivial. A recursive tree comparison algorithm on two trees that must first be sorted ... Only, how do you sort a possible mix of strings, numbers, bools, objects, arrays ...

However, it's doable and not a bad addition to the broker, so, let's keep this issue open and once I'm back from my parental leave (had a daughter, Emily, yesterday :)) I will try to find time to impleme

[2021-08-04 09:40] sekiguchi-yohei commented on #917
Congratulations on your new baby!
I'm really looking forward to seeing it implemented.

[2021-08-18 05:03] Neeraj-Nec opened #919 "integration issue"
Hi ,

I am integrating IOT agent from FogFlow using orion broker . In this scenario IOT agent send the data to the Orion broker and FogFlow have subscribe to the Orion broker to get the data . FogFlow is getting the following data in the notification .

[code]

This data has @type and @value at some places. I am confused whether this data is correct or not , because if we use same data to create e

[2021-08-19 12:14] damianhorna opened #920 "orion-ld disable TMP logs"
Hi,

I am running orion-ld with the docker-compose like this:
[code]

Is it possible to specify within the docker-compose.yml file what should be the logging level for orion-ld? Right now it generates a ton of TMP logging messages like this:
[code]

and I don't really need to have the orion log every time it sends a notification. Any help would be much appreciated!

[2021-08-19 13:25] damianhorna opened #921 "What is the maximum throughput of orion-ld notifications?"
Hi,

I run orion-ld with docker-compose like this:
[code]

And then I create entities, subscriptions and start generating data. The load is pretty heavy (like several notifications every 0.02s in multiple processes), and the orion-ld crashes after some nondeterministic amount of time with the code 139:
[code]

The problem also happens if I decrease the load to let's say several notifications every

[2021-08-19 14:01] wistefan commented on #921
This crash(139) is usually due to resource shortage, e.g. memory. For numbers on notifications, you can have a look on our loadtesting repository:
https://github.com/FIWARE/load-tests/
We publish numbers for two different notification scenarios, you can find them for example here:
https://fiware.github.io/load-tests/testReports/orion-ld/tiny/reports/ld/EntityUpdateWithSubscriptionSimulation/gatlin

[2021-08-20 11:37] damianhorna commented on #921
Thanks @wistefan for your response!

I actually had some time today to monitor the usage of different resources with `docker stats` for various containers.

I do not limit the RAM or CPU usage in the docker settings, so theoretically all host's resources are available for the containers to consume.

From what I understand, the usage of memory is pretty consistent no matter the load (for the condit

[2021-08-23 08:54] kzangeli commented on #920
These trace messages are as you've seen "temporary".
All of them are cleaned out for every release, but you're probably using some "latest" version of the broker.
For this, a special CLI option has been implemented: `-lmtmp`

[2021-08-23 08:59] kzangeli commented on #919
You get the values like:

[code]
only because the attributes were created that way. And yes, the "value" field can contain anything, as long as it is valid JSON.

You say Scorpio doesn't accept this as input?
[ Unless I've misunderstood something, ] if I were you, I'd investigate why Scorpio doesn't accept a perfectly valid payload.

[2021-08-23 10:02] damianhorna commented on #920
Great, thanks!

[2021-08-23 10:05] #920 closed, assigned to nobody

[2021-08-27 03:19] ctc-enokida opened #922 "Orion crashes when there are many GeoProperty items."
When creating entities for OrionLD, Orion LD will crash if the number of GeoProperty type items is greater than 100.

This happens not only in the usual case of creating an entity with more than 100 GeoProperty, but also when the total number of GeoProperty contained in multiple entities in a Batch operation exceeds 100.
The error message will be 502 Bad Gateway.

Is there a workaround?

Thank you

[2021-08-30 09:00] kzangeli commented on #922
Thanks for reporting!
Yeah this is an error, part of the code that isn't fully implemented.
I'm on it !

[2021-08-30 10:14] kzangeli commented on #922
Hopefully fixed with PR https://github.com/FIWARE/context.Orion-LD/pull/923
Please try again, once the PR is merged (and docker image pushed) and let me know.

[2021-08-30 10:35] ctc-enokida commented on #922
Thank you for your quick response.
 I'll look forward to waiting for new docker image.

 Thank you.

[2021-08-31 08:40] kzangeli commented on #921
If the crash is because of the broker itself and not the container, try starting the broker inside gdb.
However, it kind of seems like it's a "container related" crash.

[2021-08-31 18:03] dalxds opened #925 "Orion-LD breaks on deployment"
I try to deploy Orion-LD with the helm chart using the latest image, troe enabled.
The pod running the Orion-LD crashed and the logs show the following:

[code]

The chart doesn't provide a field for `ctxTimeout` and I couldn't locate it on the code.
I don't know how it is set.

Any help would be appreciated.
Thanks!

[2021-08-31 21:45] kzangeli commented on #925
That is beyond weird ...
The variable `contextDownloadTimeout`, connected to the CLI option `-ctxTimeout`, is found in `src/app/orionld/orionld.cpp`, and it has a default value of 5000 (milliseconds) and the limits are 0 and 20000 (milliseconds).

It would be quite nice to understand how you're getting this error !
As a workaround, try setting it to 2000 (-ctxTimeout 2000), and see what happens.
P

[2021-08-31 22:54] kzangeli commented on #917
So, I have the implementation ready and working in my developer machine.
For some reason the functest for this "new feature" fails in github actions.
With some luck I'll find the reason for this soon and can merge the pull request into develop!
It depends a little ( a lot! ) on how much time my wife lets me have behind the keyboard ... :)

[2021-09-01 00:36] sekiguchi-yohei commented on #917
Thanks for the fix!
Looking forward to your revised version!
（However, please don't try too hard and upset your wife...）

[2021-09-01 06:47] dalxds commented on #925
Hello @kzangeli.
Thanks for looking into it!

To help reproduce the error, I'm using the following `Chart.yaml` and `values.yaml`:
[code]
[code]

maybe I should set minimum resources for the deployment !?

[2021-09-01 07:09] kzangeli commented on #919
The last attributes have invalid values for "type", e.g.:
[code]

The only valid values for "type" in NGSI-LD are:
* "Property"
* "Relationship"
* "GeoProperty"
* "LanguageProperty"

That's probably why you get the error.

[2021-09-01 07:12] wistefan commented on #925
Hello @dalxds ,
if you don't set any resource limits, it will take all it gets. Thus, resources should not be the problem. I've never seen the parameter that you mention, thus its not part of the chart yet.
Can you try to use a fixed version of orion-ld (e.g. 0.8.0 as its the last official release)? Be aware that "latest" is not guaranteed to be stable nor working at all, since its a preview versi

[2021-09-01 12:56] dalxds commented on #925
Hello @wistefan,
thanks for the help.

Tried the `fiware/orion-ld:0.8.0` (latest stable beta), but I get the exact same error (with the same number as well).

[2021-09-02 09:10] kzangeli commented on #919
It seems like your entity is a mix between NGSIv2 and NGSI-LD.
As Orion-LD supports both formats, this can easily happen.
Just create an entity using NGSIv2 and then patch it using an NGSI-LD request.
I bet this is what's happening to you.

[2021-09-02 09:16] kzangeli commented on #922
The fix is done, you can test it and let me know.
The tests I did was to create 50 entities with 10 geo-properties each, and that failed before the fix (SIGSEGV) and is now working.
It's not a very thorough test :)... so, I'd like to hear from you before we close the issue.

[2021-09-02 09:31] kzangeli commented on #917
So, hopefully fixed.
Bear in mind that arrays cannot be sorted, i.e. `[ 1, 2 ]` is not the same as `[ 2, 1 ]`.
Objects are sorted.
Please test and let me know (by a comment and closing of the issue if all is good).

[2021-09-02 10:02] Neeraj-Nec commented on #919
Hi Kzangeli ,

sorry for late response..  I am just integrating IoT agent from FogFlow broker  via Orion broker . Please find the integration architecture diagram  from https://github.com/smartfog/fogflow/blob/development/doc/en/source/ngsildbasediotintegration.rst) this link.

For reference I have used (https://ngsi-ld-tutorials.readthedocs.io/en/latest/iot-agent.html) this link for integration.

[2021-09-03 00:03] ctc-enokida commented on #922
Thanks for the fix.
Should I test with the latest version of docker?
I'll test it and get back to you.

[2021-09-03 04:46] sekiguchi-yohei commented on #917
Thanks for the quick response!
After testing, I can confirm that the problem has been resolved.

[2021-09-03 05:54] ctc-enokida commented on #922
I tested it with the latest version of Docker, but it did not resolve the issue and crashed.

■My environment
・Orion
　 ：fiware/orion-ld:latest
・Mongo
　：mongo:3.6
（https://hub.docker.com/r/fiware/orion-ld）

I tested the following environment, and it seems to register without crashing.
Is there any change in the version of Mongo that should be used with OrionLd?

■Environment
・Orion
　：fiware/orion-l

[2021-09-05 11:29] kzangeli opened #926 "Override cached contexts"
There's a question in SOF about overwriting contexts in the context cache: https://stackoverflow.com/questions/69040303/how-can-i-update-the-context-cached-in-orionld-mongodb.

Need to implement this ASAP.

[2021-09-07 09:45] RihabFekii opened #927 "Mongo stores floats with 6 decimals and rounds value= 204.8904554713363 to value =204.890455"
Better to use Decimal type
Note:
Unlike the double data type, which only stores an approximation of the decimal values, the decimal data type stores the exact value. For example, a decimal NumberDecimal("9.99") has a precise value of 9.99 where as a double 9.99 would have an approximate value of 9.9900000000000002131628....

Source: https://docs.mongodb.com/v5.0/release-notes/3.4/#decimal-type

[2021-09-10 08:56] kzangeli commented on #927
Yeah, the problem is that NumberDecimal seems to be new and is not supported by the older Legacy C++ mongo driver.
One rid of the old driver, let's use NumberDecimal instead of NumberDouble.

[2021-09-22 06:19] Neeraj-Nec commented on #919
Hi @Kzangeli,
Please provide some suggestion how to do the integration ?

[2021-09-22 06:22] Neeraj-Nec commented on #919
@kzangeli,
Please let me know if need any kind of input from my side .

[2021-09-22 09:46] kzangeli commented on #919
Well. as I said earlier, your entity seems to be a mix between NGSIv2 and NGSI-LD. Quite messy.
I've asked our IoT Agent expert, @jason-fox to help out

[2021-09-23 10:24] jason-fox commented on #919
@Neeraj-Nec - I am unable to reproduce your error. The issue is in your last two attributes. Assuming you have an IoT Agent and you have provisioned the devices correctly as LD, for undefined readings, it will create attributes like:

[code]

Similarly the attributes like:

[code]

Are part of the commands that have been provisioned.

I'm guessing here, but

[code]

Looks like you have made a v2 r

[2021-09-24 04:02] Neeraj-Nec commented on #919
Hi @jason-fox

Thanks for your response

The following are the request created by me

1. Provisioning a Service Group

[code]

2. Provisioning an Actuator

[code]

3. Verify Entity on Orion broker

[code]

4. update Waterpump status

[code]

5. Subscribe orion broker to get the data on Fogflow broker

[code]

6. Send PATCH request to Enable Orion-Broker commands

[code]

[2021-09-24 04:03] Neeraj-Nec commented on #919
After sending all the request Fogflow broker get the following data as notification

[code]

[2021-09-24 06:44] jason-fox commented on #919
The issue is with your subscription `Link` header

[code]

Will only supply the core `@context`, you need to supply the definition of the data-models as well. The NGSI-LD tutorials run a small HTTPD web server which supplies the data-models using:

[code]

The raw file can be found [here](https://raw.githubusercontent.com/FIWARE/tutorials.IoT-Agent/NGSI-LD/data-models/ngsi-context.jsonld) - in you

[2021-09-24 08:07] jaclavijo opened #930 "onlyChangedAttrs in Notifications"
Is it planned to implement this behaviour [present in the NGSIv2 OCB](https://fiware-orion.readthedocs.io/en/master/user/ngsiv2_implementation_notes/index.html#notify-only-attributes-that-change)?

It's outside of the specification but it can be very useful. As of now, only way of distinguishing what attributes changed is comparing observedAt/modifiedAt of the notified entity as far as I'm aware.

[2021-09-24 09:44] kzangeli commented on #930
ok, I understand.
No, nothing planned, but, yes, seems like a quite nice feature.
I will take it to ETSI ISG CIM, where we define the NGSi-LD API

[2021-09-27 06:25] Neeraj-Nec commented on #919
ok @jason-fox - Thanks for you response .  I will apply your suggestion and will update you soon .

[2021-09-28 03:25] Neeraj-Nec commented on #919
Hi @jason-fox ,

I changed the Subscription by following example .

[code]
After doing this FogFlow broker is not getting notification from Orion broker

[2021-09-28 07:59] jason-fox commented on #919
Your subscription is wrong in three ways:
 - an NGSI-LD request should be using the **NGSILD_Tenant** header
 -  In the tutorial, the `type` of the sprinkler is `Water` not `Device`
 - The supplied context on the server should hold the array not the request.

I just tried the following:

[code]

Which successfully displays the following payload in the [App Monitor](http://localhost:3000/app/monito

[2021-10-01 14:21] MandatInternational opened #931 "Certificate of smartdatamodels.org is no more valid"
Due to the expiration of IdentTrust DST Root CA X3 [https://www.zdnet.com/article/fortinet-shopify-others-report-issues-after-root-ca-certificate-from-lets-encrypt-expires/](https://www.zdnet.com/article/fortinet-shopify-others-report-issues-after-root-ca-certificate-from-lets-encrypt-expires/) the certificate of smartdatamodels.org is no more valid inside the Orion-LD Docker container. Indeed the

[2021-10-01 14:37] MandatInternational commented on #931
![Capture d’écran 2021-10-01 160840](https://user-images.githubusercontent.com/17125975/135638351-ebf7e124-f920-47b0-8c63-af67411f4e7e.jpg)
![Capture d’écran 2021-10-01 160947](https://user-images.githubusercontent.com/17125975/135638352-ed269be8-4907-43bd-b570-2c7d6f9eadab.jpg)

[2021-10-04 08:40] wistefan commented on #931
Hi,
thanks for mentioning that. I will create a docker image with the fix.

[2021-10-04 09:11] wistefan commented on #931
The fix is available in the bug-fix release  fiware/orion-ld:0.8.2
Please check if thats working for you and close the issue, if so.
Best,
Stefan

[2021-10-04 09:59] MandatInternational commented on #931
It works now. Thank you very much for the quick action!

[2021-10-04 09:59] #931 closed, assigned to nobody

[2021-10-08 08:41] ctc-enokida commented on #922
How is the investigation after than going?

And...
I just tried Docker's latest and some of the tags, and it seems that the feature you fixed is disabled.
Please let me know if there are any tags that have the GeoProperty bug fixed now.

If possible, I would also like to know what version of MongoDB I should combine.

[2021-10-08 08:43] kzangeli commented on #922
ok ...
I did fix it and my functest with ~900 geo properties works just fine.
I guess you're doing something slightly different.

To fix the problem I need to be able to reproduce it, so, please post all the details on how you manage to crash the broker and I'll look into it.
I'd need access to the complete detail of all the requests that provoke the crash.
Depending on the size of all this, not s

[2021-10-08 08:45] kzangeli commented on #922
About the mongo version, there's no fix version. It depends on where you run the broker.
For example, I think Ubuntu 20.04 only supports mongo 4.4 and newer.
As long as you're using a version GTE 3.6 it should work.

[2021-10-08 08:57] ctc-enokida commented on #922
Thanks for the reply and suggestions.

Hmmm.
I'm currently using a variety of tags.
I can't seem to get it to work in either mongoDB 3.6 or 4.4.
I will sort out the situation and let you know how I am implementing it.
Thanks.

[2021-10-08 09:06] kzangeli commented on #922
What if you compare what I do in my functest (https://github.com/FIWARE/context.Orion-LD/pull/923/files#diff-85d4093e08ca1bd5c2e13a6e59f8b6a94fb2746f11afa6a57c675378dac9fbeaR1) with what you do ?

There's surely a difference and in that may lie the problem.

Start with something as close as possible to "what I do", and if that works, go little by little towards "what you do".
When it starts failin

[2021-10-08 09:32] ctc-enokida commented on #922
Thanks for the info.

Your test went well.
You are right, there seems to be a difference between my test and yours.

I will try different patterns and identify the conditions when it fails and get back to you.
Sorry if it takes a while to get back to you.

[2021-10-08 10:21] kzangeli commented on #922
ok, happy to hear that.
When you find the difference that provokes the crash, you've discovered an important bug in the broker and with enough info, it's usually a quick fix :)

[2021-10-08 10:41] ctc-enokida commented on #922
It seems that my @context file was not good.
Sorry about that.

After trying various patterns, I found that the crash only occurred for a specific TYPE defined in my @context file.
In the @context file, there was an item defined with the same name as the TYPE.
Example ) type: Book & item: book

In this case, the crash occurs when the number of items exceeds a certain level.
（If the number of items

[2021-10-09 08:16] kzangeli commented on #922
ok!
Different bug, still highly interesting.
The broker can never crash, whatever you throw at it, so, please let me know what you find and I will try to fix it!

Don't feel sorry for finding bugs for me :)
I am very grateful !

[2021-10-10 23:49] ctc-enokida commented on #922
Thank you.
I'm always grateful for that, too.

I'll contact you when I know more.

[2021-10-12 05:23] Neeraj-Nec commented on #919
Hi @jason-fox ,

In the NGSI-LD specification it is clearly written that the value should be mandatory.

For reference you can see 4.5.2 in the spac
https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.02.02_60/gs_CIM009v010202p.pdf

[2021-10-12 06:46] jason-fox commented on #919
@Neeraj-Nec - section 4.5.2. **NGSI-LD Property Representation** is referring to the normalized representation. The example given above is using the `keyValues` format, a.k.a. **Simplified Representation** which is defined in 4.5.4.

You could alter the subscription as shown:

[code]

if you want the full NGSI-LD representation in your payload.

[2021-10-12 07:42] naveennec commented on #919
@jason-fox  I agree with your observation and Neeraj points. I have still few doubt which are not clear. please try to reply pointwise
1- As Per your comment https://github.com/FIWARE/context.Orion-LD/issues/919#issuecomment-926386195. Can we assume that below is correct as you saying that its working on jason-ld playground.
 value": {
	"@type": "Intangible",
	"@value": null
}
but as per NGSI-LD s

[2021-10-12 08:17] jason-fox commented on #919
The following two attributes from an NGSI-LD response validates within the [JSON-LD Playground](https://json-ld.org/playground/#startTab=tab-expanded&json-ld=%7B%22%40context%22%3A%7B%22ngsi-ld%22%3A%22https%3A%2F%2Furi.etsi.org%2Fngsi-ld%2F%22%2C%22geojson%22%3A%22https%3A%2F%2Fpurl.org%2Fgeojson%2Fvocab%23%22%2C%22id%22%3A%22%40id%22%2C%22type%22%3A%22%40type%22%2C%22DateTime%22%3A%22ngsi-ld%3AD

[2021-10-12 10:19] naveennec commented on #919
@jason-fox  Thank you very much for your reply.
as you agree that The following is currently not valid NGSI-LD according to spec (it is still valid JSON-LD)
 "filling3": {
       "type": "Property",
       "value": null
    }
But Orion-ld is a NGSI-LD implemented broker right ? not JSON-LD one.
This is the main problem when FogFlow integrate with IOT-Agent(ultralight) via Orion-LD. as the payload

[2021-10-12 10:52] jason-fox commented on #919
Unfortunately, being pedantic, this statement is incorrect. The existing workaround is that instead of passing a `null` property directly  - which would have been invalid NGSI-LD., the context broker is holding a valid JSON Object which resolves to a `null` - which is acceptable NGSI-LD.

`null` values can indirectly exist within context brokers, and can be present in the payload of a notification

[2021-10-12 11:06] jason-fox commented on #919
-  Orion-LD is working according to NGSI-LD spec in this area - there are no changes to be suggested.
-  The ultralight IoT Agent delegates the creation of newly provisioned NGSI-LD devices to the [iotagent-node-lib](https://github.com/telefonicaid/iotagent-node-lib) -  `null` is being used as a default  for unknown measures [here](https://github.com/telefonicaid/iotagent-node-lib/blob/master/lib/

[2021-10-13 04:21] naveennec commented on #919
@jason-fox  Thank you very much for the clarity.
your answer in comment https://github.com/FIWARE/context.Orion-LD/issues/919#issuecomment-940895369 explains everything.
@Neeraj-Nec  I think we should write the functionality in decoder code to handle the above situation.

[2021-10-13 04:39] ctc-enokida commented on #922
As a result of additional checks, the following events were confirmed and will be shared.

①.
When GeoProperty is included in the items specified in @context, it crashes when there are more than 23 items.
※　This occurred regardless of whether the item name (location) was initially defined in Orionld, or whether it was a uniquely defined item (location1).
②
Crash does not occur if items not specifi

[2021-10-13 09:45] JordiROP opened #934 "Subscriptions stringify data"
Data sent to Cygnus-LD from Orion-LD are getting stringified when arriving to Cygnus-LD, Cygnus has te following parameter to maintain the original data type when inserting into a database.

     - "CYGNUS_POSTGRESQL_ATTR_NATIVE_TYPES=true"

Is there any parameter to specify this in Orion-LD?

[2021-10-13 12:30] martin-p-bauer commented on #919
NGSI-LD does not allow any values to be NULL. The reason is the handling of NULL in JSON-LD. (NGSI-LD uses JSON-LD for serialization, so any NGSI-LD data is also JSON-LD). If you set a value to NULL in JSON-LD, it will be removed on expansion. You can check out this behaviour in the JSON-LD playground:

Taking an excerpt from the example above (complete example was expanded based on @context):

[2021-10-14 08:07] kzangeli commented on #922
ok, great!
Now I have something to go on :)

[2021-10-14 09:38] jason-fox commented on #919
Telefónica  have accepted the PR to  the library, so you can now use a workaround by building your own bleeding edge Docker Image iotagent for ultralight. (You will be a able to start using `latest` for testing once any further commit has landed in the repo, but at the moment the library has been updated not the service itself.

[2021-10-15 07:38] Neeraj-Nec commented on #919
Thanks @jason-fox

[2021-10-20 00:35] ctc-enokida commented on #922
Thanks for the planning.

If you have any assumptions about the timing of the confirmation,
I would appreciate it if you could give me a rough schedule.

[2021-10-20 06:48] kzangeli commented on #922
Yeah ... you see, I'm out on parental leave until mid November.
So, things are going a bit slower than usual.
I'll do my best to have this fixed before the end of October.

[2021-10-20 10:05] ctc-enokida commented on #922
Oh, okay.
I'm sorry I put you through so much.

Please prioritize your parental  leave.
I'd appreciate it if you could check in with me after you get settled.
Good luck with your baby ；）

[2021-10-28 06:08] kzangeli opened #936 "Subscriptions w/o id"
Subscriptions created with V2 API created with an empty ID according to a user:

What I did is that I used this json as the body to create a new subscription:

[ Payload body as an image in an email from Oct 27, 2021, 11:07 AM, by Chris Pantazis

But I used a V2 POST request to send to Orion LD (latest stable version, I think 0.8.1)
Instead of /ngsi-ld/v1/ in my url it was /v2/

[2021-10-28 08:57] Anjali-NEC opened #937 "Error while installing context.Orion-LD"
I am trying to install context.Orion-LD from source. I am following below link to install context.Orion-LD on ubuntu 20.04.1:
https://github.com/FIWARE/context.Orion-LD/blob/develop/doc/manuals-ld/installation-guide-ubuntu-20.04.1.md

I am getting issue in compiling  the broker step: `make install` below is the screenshot for the same.

![orionld_log](https://user-images.githubusercontent.com/5255

[2021-11-05 09:33] jason-fox opened #938 "Cannot query on Date-like strings or Datetime"
I am using the following context:

[code]

I create an entity:

[code]

Retrieval works fine:

[code]

This works fine too:

[code]

But this returns nothing:

[code]

And asking for not equals on the date field  does return the entity:

[code]

The oddity is that

[code]

should be a string right? If I really wanted a date, I would create the entity using the following:

[code]

[2021-11-18 16:43] kzangeli commented on #938
Yes, it's weird. I'll have a look

[2021-11-19 14:32] kzangeli commented on #938
When the Q-expression `dateDetected=="2021-01-14T15:45:00Z"` is parsed, the algorithm detects that the string is a valid DateTime and the string is converted into a float.

The algorithm works like that because createdAt, modifiedAt, and observedAt are all entered as DateTime strings, but stored in mongo as floating point, for faster comparison.

 I'll modify the code to do this **only** when the

[2021-11-19 14:41] jason-fox commented on #938
`createdAt`, `modifiedAt`, `observedAt` are _mandatory_ non-reified attributes, and therefore a bit different. 😄

Anything else will be like a simple string

[code]
or a `Datetime` type:

[code]

Ideally comparison with `String` would do a unicode string compare, and comparison with a `Datetime` works on comparing ISO 8601 dates?  Not sure if this makes any difference if all timestamps are Zulu ti

[2021-11-19 16:11] kzangeli commented on #937
Hmm, there must be a new version of the compiler.
I will try myself and fix the problem.
The error is about sizes of char buffers and a more "picky" compiler :)

[2021-11-19 16:24] kzangeli commented on #938
All that can be done before the NGSI-LD API starts supporting user defined TemporalProperty attributes, I believe is covered by the PR #940

[2021-11-19 16:27] kzangeli commented on #934
No parameter like that.
If you explain exactly what you're looking for, I might take it up in the ETSI standardization meetings of the NGSI-LD API.

[2021-11-22 10:18] kzangeli commented on #937
Reproduced the error (errors!) and fixing it.
I develop under Ubuntu 18.04 and using DEBUG compilation.
The error turns up in Ubuntu 20.04 and with RELEASE compilation.
That's why I wasn't aware about this problem.

Sorry ...

The fix should be ready before EOB.

[2021-11-22 10:22] kzangeli commented on #937
Ah, and thanks for reporting!
Really appreciate it !

[2021-11-22 14:00] kzangeli commented on #937
This PR should fix the problem: https://github.com/FIWARE/context.Orion-LD/pull/941
Please try again and close the issue if all is OK.

[2021-11-22 14:02] kzangeli commented on #926
Answered in SOF

[2021-11-22 14:02] #926 closed, assigned to kzangeli

[2021-11-22 14:14] kzangeli commented on #925
I might have found the problem.
The size of the char buffer that stores the troe::dbHost is 64 bytes.
This value: `neptune-eew-mongodb-0.neptune-eew-mongodb.default.svc.cluster.local` is more than 64 bytes.

So, this might provoke a memory corruption in your system.
Easy fix, I'll have it pushed before EOB today.

[2021-11-22 15:35] kzangeli commented on #925
Should be fixed by PR #942 .
Please test it and close the issue if all is OK

[2021-11-23 14:01] kzangeli commented on #922
So, I'm back full-time. Finally ! :)

Had a few even more urgent issue to fix, but I'm almost done with those.
Will start with this issue tomorrow morning, if not before.

[2021-11-23 16:30] kzangeli commented on #922
Hopefully fixed by PR #945

[2021-11-24 02:33] ctc-enokida commented on #922
Oh, finally.
I've been waiting for you.
&Thanks for the fix.

I'll give it a try!

[2021-11-24 10:56] kzangeli commented on #936
So, I tried everything but is not able to reproduce the problem.
As the label indicates, I need more input

[2021-11-25 02:02] ctc-enokida commented on #922
Hi.

I tested it with the latest version of docker.
I have confirmed that all the crashes I had identified have been resolved.
Thanks a lot for your support even though I am on maternity leave.

Just one more thing.
The version of MongoDB I was talking about in the beginning↑↑ wasn't dependent on this issue.
（I was wrong. Sorry.）
However, I would like to know if there is a specific MongoDB version

[2021-11-25 14:45] yuskmr opened #948 "Orion-LD tenant issue in multiple instance environment"
In my environment, multiple OrionLD instances are running on a Kubernetes cluster. The environment consists of two OrionLD(0.8.0) instances, one MongoDB instance, and a LoadBalancer to OrionLD.
I created an entity with a new tenant by using "NGSILD-Tenant" header. Next, when I tried to retrieve it with "GET /entities", sometimes the retrieval succeeded, and sometimes it failed. The error message w

[2021-11-25 14:56] kzangeli commented on #948
ok!
There it is! :)

I just solved it. I hope ...
This PR, that's still running: #947

[2021-11-25 15:30] kzangeli commented on #948
PR #947 has been merged.
Please test and comment on the issue.
Close it if all is good.

[2021-11-26 06:21] yuskmr commented on #948
I've tested and confirmed the issue is solved.
Thank for your quick response!

[2021-11-26 06:21] #948 closed, assigned to kzangeli

[2021-12-07 10:32] NaIwo opened #952 "Unable to download the core context"
I'm trying to run a docker instance of orion-ld based on: [docker-hub](https://hub.docker.com/r/fiware/orion-ld). I do not have access to an external network for security reasons. Is it possible to run the image without access to the network? Could the error result from something else? Everything seems to work fine on the local computer with internet access.
In addition to the standard context, we

[2021-12-07 11:15] kzangeli opened #953 "Database Error during Geo-Query"
This issue was initiated by my dear colleagues in NEC, via e-mail:

From: Benjamin Hebgen <Benjamin.Hebgen@neclab.eu>
Sent: Montag, 6. Dezember 2021 14:54
To: Martin Bauer <Martin.Bauer@neclab.eu>
Subject: orion

Hi,

tested with (with and without @context)
[code]

2 errors thrown by orion-ld:

op=mongoCppLegacyGeoIndexCreate.cpp[60]:mongoCppLegacyGeoIndexCreate | msg=Database Error (error creatin

[2021-12-07 12:55] tassosgeo commented on #952
Working today with @NaIwo to find a workaround for this, we discovered the following:
If we deploy and startup orionld with mongodb on another machine that has access to public network, then context entries are created to the mongodb.
Dumping this mongodb to the offline mongodb that is deployed in an air-gap infrastructure makes the orionld read the contexts  bypassing its requests to the public c

[2021-12-07 13:32] kzangeli commented on #952
When Orion-LD starts, if it cannot find the Core Context in mongo, it tries to download it.
Without access to the core context, an NGSI-LD broker cannot function.
Once it is downloaded and stored in mongo, no need to download anything anymore.

But, you want the broker to run without internet connection ...
Perhaps you could mock the URL from where Orion-LD tries to download the core context?

@wi

[2021-12-07 15:52] PietroGreco opened #954 ""LM error: Line too long" error while retrieving entity with long textual attribute value"
Hello,

Using OrionLD version "0.8.0" and "post-v0.8.1" we are encountering an issue with the retrieval of an entity having a textual attribute whose value is a very long string (base64 encoding of an image ... not a very good idea in this case, just an experiment).

We post the entity to the OrionLD without any issues (POST returns 201 Created and entity is correctly stored in mongo), however whe

[2021-12-08 08:33] tassosgeo commented on #952
@kzangeli we tried to mock the URL by changing the DNS entries of the Orion-ld container and serving the context files from a local web server. But it didn't work.
Because the request is via https and it needs cert, a self-signed one was not sufficient as orionld request does not bypass an untrusted one currently. So with a trusted one it could work... but...

In this high security air-gap infrast

[2021-12-08 10:07] kzangeli commented on #952
ok, I'll invent something then.
Perhaps make the URL to the core context a configuration parameter.
It's just ... the core context is essential to the function of the broker.
If I let users easy access to changing it ... disaster may be the result.

I understand your need though and I'll find a way (discussing it with my colleagues).

I'm in the process of creating the first ever real release of t

[2021-12-08 11:13] tassosgeo commented on #952
@kzangeli Thanks for the support but we manage to make the mongo db dump with success! So everything is fine now.

I understand that it must not be easy for the users to change this configuration and the disaster that this will cause. I agree totally with you on this point.

But let's say an advanced configuration where some environmental variables are set first so that local context directory can

[2021-12-10 09:36] kzangeli commented on #953
I tested the requests but I got a different error. Might be cause we're with different versions of the mongodb server - I use v3.6.23 myself.
However, the error comes from the location polygon of entity urn:ngsi-ld:test:6, which as far as I understand is invalid.
It's just four identical points, while a polygon needs to (in my own words):
* have at least 4 points (fulfilled)
* start and end in the

[2021-12-10 09:41] kzangeli commented on #953
Ah, also. The current implementation doesn't acknowledge the error at all. It just responds with a `201 Created`, but, no entity is actually created.  The bug has been fixed: #955

[2021-12-10 09:52] martin-p-bauer commented on #953
Checking it again, we came to the same conclusion - the main problem was that ``201 Created`` was returned, but the entity was not created. If this bug has been fixed, as you say, the issue can be closed.

[2021-12-10 10:18] kzangeli commented on #953
Fixed in PR #955

[2021-12-10 10:18] #953 closed, assigned to nobody

[2021-12-13 11:49] kzangeli commented on #954
ok, that's interesting !
Never mind the "LM ERROR" . that's just debugging.
The crash on the other hand is very interesting.
Would you be able to start the broker under gdb, and post the stack dump after the crash?

[2021-12-14 15:18] PietroGreco commented on #954
Hi Ken,

Thanks for your reply.

Yes, this is the stack dump after the crash (after issuing a query request to get all the entities of a specific type, and without subscribers to that type):
<pre>Thread 24 "MHD-connection" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7f0f4cb00700 (LWP 93)]
0x00005588848a0c44 in kjChildAdd ()
#0  0x00005588848a0c44 in kjChildAdd ()
#1  0x0000

[2021-12-14 15:35] kzangeli commented on #954
ok, that helps ... only, you have a broker without debugging symbols, so, we can't see exactly where it crashes.
Never mind. I have to reproduce the error in my own system in order to be able to fix it anyway.

I'm a little bit busy right now, but I'll do my best to look into this as soon as I can

[2021-12-21 10:53] RichardKlem commented on #578
Hello, I guess this is already fixed, right?

[2021-12-21 12:26] kzangeli commented on #578
Sorry, it's a major issue and no one showed any interest until ... today :)
So no, I haven't done anything about this yet.
Do you need it?
I mean, should I move it up in my priorities list?

[2021-12-21 13:16] RichardKlem commented on #578
Than you for your response. Nothing serious happening.
I was just looking around and thought this issue was fixed because I saw some fixes related to the update endpoint in releases change logs.
It is not definitely something urgent. I will need first talk to my manager about what we really need to do. I am new to the project.
So please, enjoy Xmas, do not worry and I will be back at latest on the

[2021-12-21 14:03] kzangeli commented on #578
Sorry about that ...

Yes, of course.
You don't really need the batch operations (`/ngsi-ld/v1/entityOperations/*`), they're just there as an "extra".

Anyway, if you need something in particular, just let me know and I'll update my ToDo accordingly.

[2022-01-10 11:09] #922 closed, assigned to kzangeli

[2022-01-19 08:07] kzangeli commented on #954
So, finally ...
The crash has been fixed, but what you are trying to do will still not work as the maximum size of an attribute is just under 64k.
If you really need bigger attributes (that's not what the broker is meant for), we might have to rethink the attribute max size decision here at the FIWARE Foundation.

[2022-01-19 08:07] #954 closed, assigned to kzangeli

[2022-01-19 08:11] kzangeli opened #986 "User and Password for the mongoc driver"
The mongoc connections aren't using user and password ...

[2022-01-19 12:05] kzangeli opened #989 "bson_append_symbol => bson_append_utf8"
Deprecated use of bson_append_symbol (change for bson_append_utf8) in mongocKjTreeToBson.cpp

[2022-01-19 12:06] kzangeli opened #990 "mongo:.timestamp is not supported in mongoCppLegacy library"
Needs to be supported!

[2022-01-19 13:26] kzangeli commented on #990
Fixed by https://github.com/FIWARE/context.Orion-LD/pull/988

[2022-01-19 13:26] #990 closed, assigned to nobody

[2022-01-19 13:27] kzangeli commented on #986
Fixed by https://github.com/FIWARE/context.Orion-LD/pull/987

[2022-01-19 13:27] #986 closed, assigned to nobody

[2022-01-19 13:30] kzangeli opened #992 "mongoEntityExists is not good enough"
The function mongoEntityExists needs to check also the result from the mongo query - nopt just that it gest *something*.
Need to go inside the result and find the _id.id with the correct value.

[2022-01-19 14:20] kzangeli commented on #989
Fixed in PR #991

[2022-01-19 14:20] #989 closed, assigned to nobody

[2022-01-19 14:43] kzangeli commented on #818
Not exactly as propsed in this issue,. but the context cache has been implemented (according to the ETSI NGSI-LD spec)

[2022-01-19 14:43] #818 closed, assigned to nobody

[2022-01-19 15:00] kzangeli commented on #992
Fixed by PR #993

[2022-01-19 15:00] #992 closed, assigned to nobody

[2022-01-19 15:12] kzangeli commented on #763
Already fixed. No idea when

[2022-01-19 15:12] #763 closed, assigned to kzangeli

[2022-01-19 15:13] #843 closed, assigned to kzangeli

[2022-01-19 15:14] kzangeli commented on #766
Did we say that this was no longer necessary ... ?

[2022-01-19 15:16] #565 closed, assigned to nobody

[2022-01-19 16:44] wistefan commented on #766
This can be applied by using the https://github.com/FIWARE/endpoint-auth-service
Currently, plain envoy sidecar and the Openshift ServiceMesh is supported and only an auth-provider for IShare is available. Please create an issue with your requirements there.

[2022-01-19 16:48] kzangeli commented on #766
Good, then I close this issue

[2022-01-19 16:52] gboege commented on #766
Yes, if we consider the envoy sidecar "plugin" solution, it could replace the proxy protocol. In the first step, this would only mean to route all outgoing traffic to the IDS Connector without altering anything. Envoy catches all outgoing traffic via IP-Tables. But did we already bury this issue finally (use cases who do not use envoy?)

[2022-01-19 16:56] wistefan commented on #766
I don't understand the routing part. The sidecar does only apply auth-information to the request, it does not do any re-routing.

[2022-01-19 17:01] kzangeli commented on #766
I assumed that the envoy idea was to replace any implementation that could be done for the broker.
Maybe I misunderstood.

[2022-01-19 17:08] gboege commented on #766
@wistefan the routing part was to let all outgoing traffic be routed to the IDS Connector to add all IDS relevant information to the headers. Today we bypass this with additional headers. We thought about the plugin solution and then it was already ready and there from you. So we did not pick up and cleared the prior question.

[2022-01-20 10:46] Neeraj-Nec commented on #919
Hi @jason-fox
I am still getting the nil value issue .
please share the version of correct Orion broker.
I am using version: "3.5"

[2022-01-20 13:43] jason-fox commented on #919
`version: "3.5"` at the head of a `docker-compose` file is defining the version of docker-compose format supported - it is nothing to do with any of the Docker Images. At heart, this issue is not a context broker issue, it is an IoT Agent issue. As described above, this issue will be solved either by using the `latest` bleeding edge image of an IoT Agent, or switching to a fixed version once a rel

[2022-01-31 01:58] Neeraj-Nec commented on #919
hi @jason-fox
The following entity is created by IoT agent to the Orion broker . In the entity two attribute "on" and "off" have type "command" . I think it should be either property, relationship or geopropety according to NGSILD specification.
{
                "id": "urn:ngsi-ld:Device:water001",
                "type": "Device",
                "heartRate": {
                                "t

[2022-01-31 09:20] martin-p-bauer commented on #919
As correctly identified by @Neeraj-Nec  "on" and "off" are not correct in NGSI-LD, as "command" does not exist as a type of Attribute. Also the Properties `heartRate` and `status` still use `null` as a value, which results in the whole `value` of the NGSI-LD property being removed on JSON-LD expansion and for this reason, `null` is not allowed as a JSON value in NGSI-LD.

[2022-01-31 09:36] jason-fox commented on #919
I've reproduced the bug and proposed a fix here: https://github.com/telefonicaid/iotagent-node-lib/pull/1185

Fixed. PR was merged here: https://github.com/telefonicaid/iotagent-node-lib/pull/1118 - still awaiting a release by Telefónica to create a stable image with the fix in it.

Neither of these are  Orion-LD issues and would have been better raised  over on the Telefónica repos.

[2022-02-01 14:38] wistefan opened #1010 "Valid ISO8601 date for observedAt is rejected with 400-Bad request"
Orion rejects objects with time-properties with fraction >=5.
Reproduce(fraction is .123456789):
[code]
Response:
[code]

When the request is(fraction is .12345678):
[code]
It succeeds.

[2022-02-01 23:36] kzangeli commented on #1010
Hopefully fixed in https://github.com/FIWARE/context.Orion-LD/pull/1012

[2022-02-03 07:30] flopezag opened #1013 "Wrong character received from request"
When I make a request to the context broker with a special character:

[code]

In which I send the following content:

[code]

With the special character **â** and **é**.

The response from the broker is correct

[code]

But when I try to  request the data from Orion-LD, y receive the following information:

[code]

The response is the following:

[code]

With wrong representation of the character

[2022-02-03 16:36] kzangeli commented on #504
The func-test implemented for this issue, test/functionalTest/cases/0000_ngsild/ngsild_issue_0504.test has been removed as the new smart-input-format makes the test obsolete.

[2022-02-07 09:59] kzangeli opened #1015 "Simplified Input Format for Creation/Update of Entities/Attributes"
The FIWARE Foundation is working on a new proposal for smarter input.
In 99.99% of the cases, the type of an attribute can be deduced from its "value" ("object", "languageMap", ...).

For example:
[code]
Now, if the "value" is an integer ... it's either a Property or an Error. Let's assume it's a Property.

This following, much shorter, payload carries the **exact same** amount of information:
[co

[2022-02-07 10:07] kzangeli opened #1016 "Invalid @context in Link header for PATCH Entity"
Just spotted a functest that reveals a bug that I seem to have decided to ignore when TRoE was ignored:
[code]

The `Link` header has a `REGEX(.*)`, to let the bug stay alive ...

The @context in t he payload body is an array of ONE item:
[code]

If I make it a string instead, the test work just fine:
[code]

[2022-02-07 10:22] Neeraj-Nec commented on #919
Hi @jason-fox
please confirm the release of stable image

[2022-02-07 10:33] jason-fox commented on #919
I'm not part of the Telefónica Team, so I  have no insight as to their release schedule for the IoT Agents. The underlying  IoT Agent node library was [released this morning](https://github.com/telefonicaid/iotagent-node-lib/releases/tag/2.19.0), so it is only a matter of time before it is propagated to released versions of individual IoT Agents. The best way to be informed of updates would be to

[2022-02-07 15:11] PietroGreco commented on #761
Hi @kzangeli,
Any updates on this?
I was looking for this feature (single notification with an array of elements).

[2022-02-07 16:23] kzangeli commented on #127
Closing this issue - replaced by #1015

[2022-02-07 16:23] #127 closed, assigned to nobody

[2022-02-11 07:55] jason-fox commented on #504
Even if a new simplified format is added, a payload of `89` is still not a valid JSON-LD document and is unacceptable as input. Please re-add the test/functionalTest/cases/0000_ngsild/ngsild_issue_0504.test test case.

Even assuming the `Link` header is in use, to be a valid JSON-LD document, at a minimum this is required

[code]

If the `Link` header is not in use `@context` must be found in the

[2022-02-11 08:23] kzangeli commented on #504
Yeah, we changed the whole thing, as unfortunately JSON-LD needs the input to be a compound.
I'm fixing this.

About "_If the Link header is not in use @context must be found in the body_" ...
Eehhh, no.   That's not how NGSi-LD works.

This is how it works:
  * If "application/ld+json" is the Content-Type, the @context must be in the payload body.
  * If "application/json",  the @context cannot b

[2022-02-11 08:27] kzangeli commented on #504
And, it is true that I can put the test back once I redo the check that the payload body is either an Array or an Object.

[2022-02-12 08:13] #504 closed, assigned to kzangeli

[2022-02-12 08:56] #1016 closed, assigned to kzangeli

[2022-02-12 09:00] kzangeli commented on #1015
Simplified Format must be implemented for all API endpoints that deal with entities/attributes:
  * POST /ngsi-ld/v1/entities                                               (Done: #1019 )
  * POST /ngsi-ld/v1/entities/{entityId}/attrs                        (Done: #1021)
  * POST /ngsi-ld/v1/entityOperations/create                      (Done: #1022)
  * POST /ngsi-ld/v1/entityOperations/upsert

[2022-02-17 01:15] kzangeli commented on #310
This issue is wrong, I'm afraid.
The @context doesn't work on "another level above" - it's always "value" that would need the "@type": "@set" for it to work this way.
I need to undo the modification

[2022-02-21 08:58] kzangeli opened #1030 "Concise output format for GET entity/entities ops"
?options=concise   to have the broker respond in Concise Format
Make sure ?options=normalized doesn't provoke an error

[2022-02-22 16:18] jason-fox opened #1033 "Concise GeoJSON returns an invalid Geometry"
I have the following entity:

[code]

I request concise GeoJSON as follows:

[code]

This is the response - `geometry` is not valid.

[code]

specifically the `geometry` should be:

[code]

It is working fine for keyValues and normalized GeoJSON outputs

[2022-02-22 16:22] jason-fox opened #1034 "Insertion of single concise array item is not reduced according to JSON-LD Rules"
Insert an entity and retrieve it.

[code]

[code]

category looks like this:

[code]

An array with one entry should be reduced to a single value since  the `@context` of `value` doesn't state it is `@set`

[2022-02-23 18:12] #1015 closed, assigned to nobody

[2022-02-23 18:13] #1030 closed, assigned to nobody

[2022-02-24 10:19] gpedras opened #1038 "Is it possible to override default @context in ORION-LD?"
Hi,

I'm using ORION-LD in my project to receive data observations. My issue is: for instance, let's say I want to POST "AirQualityObserved" data. Whenever I POST this data with the @context "https://smartdatamodels.org/context.jsonld" inside the Body, when I do a simple GET request the @context is overriden by "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld", and the data keynames in

[2022-02-24 12:54] kzangeli commented on #1038
Hi,

no, you can't override the Core Context - it's ... "holy".
An NGSI-LD broker cannot function correctly if the Core Context is modified.

BUT, if you avoid to use the terms from the core context (and AirQualityObserved is not part of  the core context), your user context (either given in the Link HTTP header or as an @context field in the payload body + Content-Type: application/ld+json), then

[2022-02-24 14:20] #1038 closed, assigned to nobody

[2022-02-25 08:13] jason-fox commented on #1033
Fixed and Verified

[2022-02-25 08:13] #1033 closed, assigned to kzangeli

[2022-02-25 08:19] jason-fox commented on #1010
The POST request succeeds, but the ISO date is truncated.

[code]

[code]

Tested with `latest`:

[code]

[2022-02-25 08:24] jason-fox commented on #1034
Fixed and verified.

[2022-02-25 08:24] #1034 closed, assigned to kzangeli

[2022-02-25 08:44] jason-fox commented on #938
Fixed and Verified.

[2022-02-25 08:44] #938 closed, assigned to kzangeli

[2022-02-25 15:38] kzangeli commented on #1010
Yeah, only milliseconds are supported.
Sorry, but that's what we have right now.
It's not like the broker is really able to give any more precision in its timestamps ...
observedAt is user supplied, so, could make sense. createdAt/modifiedAt though are created by the broker and as it's not a real-time system, we can't really give any more precision than that. "observedAt" is treated the same, bein

[2022-02-25 15:38] #1010 closed, assigned to kzangeli

[2022-03-01 00:34] dpatil-fw opened #1040 "LanguageProperty Support?"
Around when are we planning to add support for LanguageProperty? Wanted to use this feature for multilingual support.

My POST request with LanguageProperty is giving error:
{"type":"https://uri.etsi.org/ngsi-ld/errors/BadRequestData","title":"Invalid type for attribute","detail":"LanguageProperty"}

I didn't see LanguageProperty handled here: src\lib\orionld\kjTree\kjTreeToContextAttribute.cpp

[2022-03-01 13:32] kzangeli commented on #1040
Yeah, I haven't implemented this feature yet.
I have a few urgent and pretty big things to do but, Lang-Props is also high up in my ToDo.
Pretty sure it will be implemented this year.
I can't really say much more right now, sorry ...

[2022-03-04 11:30] kzangeli opened #1045 "TRoE bug - when creating an entity without attribute, it is not recorded in the TRoE DB"
## When creating an entity without attribute, it is not recorded in the TRoE DB.
Like this;
[code]

If the entity is instead created with one (or more) attributes:
[code]
then both the entity and the attributes are recorded in the TRoE DB.

So, there's a bug there ...

[2022-03-04 17:49] kzangeli commented on #1045
Fixed in #1046

[2022-03-04 17:49] #1045 closed, assigned to kzangeli

[2022-03-11 09:44] jason-fox opened #1049 "OPTIONS support"
#### 1) URL Params should be ignored by OPTIONS

[code]

is a Valid request however

[code]

returns **400 Bad Request**

[code]

Should be **200 OK** with no content, headers only.  Of course you could get fancy and alter the `Allow` header to only include `GET` if `GET` supports `foo`, but I think that is overextending.

#### 2) Payload body should be ignored by OPTIONS

[code]

is returning

[c

[2022-03-11 14:21] kzangeli commented on #1040
Actually, it seems now it will be implemented inside of 2-3 months

[2022-03-11 14:22] jason-fox opened #1050 "JSON PATCH support"
#### 1) Expanded attributes are incorrect

Create an entity

[code]

Then PATCH

[code]

Then GET

[code]

[code]

`category` is improperly compacted

#### 2) invalid date time is accepted.

PATCH `urn:ngsi-ld:TemperatureSensor:001` with an invalid `observedAt`

[code]

Stored `observedAt` resolves to `-1` as shown:

[code]

#### 3) invalid date time is accepted.

Add some attributes to `urn:ngsi-

[2022-03-11 16:45] jason-fox opened #1051 "Merge PATCH - unanswered Questions"
1) Should `entity/<id>/attrs` support `Content-Type: application/merge-patch+json` ?
2) Should `entity/<id>/attrs/<attr>` support `Content-Type: application/merge-patch+json` ?

#### Answered:  ❓ - Probably, but we need to check - it does no harm.

3) Are the PATCH operations with `Content-Type: application/merge-patch+json`  and  `Content-Type: application/son`  equivalent with the following styl

[2022-03-11 17:02] jason-fox commented on #1051
My personal opinion on these:

On points 1) + 2) - **No** - Since the existing `entity/<id>/attrs` and `entity/<id>/attrs/<attr>` already deliberately diverge from rfc7386 in a controlled fashion. Only full merge patch endpoints should support `Content-Type: application/merge-patch+json`, (but additionally both merge patch endpoints - PATCH `/entities` and POST `/entityOperations/merge` should **a

[2022-03-12 10:11] dpatil-fw commented on #1040
Okay, thank you.

[2022-03-14 12:33] #1049 closed, assigned to kzangeli

[2022-03-14 12:37] jason-fox commented on #1050
Testing:

✅  1) Expanded attributes are incorrect
✅   2) invalid date time is accepted.
:x: 3) invalid date time is accepted.

{"@type" :"@json", "@value" : null}}  for a non-existant element should not error

:x: 4) PATCH property-of-a-property using a JSON Primitive is always a delete
❓  5) PATCH of an existing relationship always requires `object`

- this will only work for keyValues

:x: 6) PA

[2022-03-15 08:45] jason-fox commented on #1050
Testing, second round

✅  1) Expanded attributes are incorrect
✅   2) invalid date time is accepted.
✅    3) invalid date time is accepted.

- `{"@type" :"@json", "@value" : null}}`  for a non-existent element does not error any more

✅   4) PATCH property-of-a-property using a JSON Primitive is always a delete
✅    5) PATCH of an existing relationship always requires `object`

- this will only wo

[2022-03-21 17:14] rschwebel opened #1062 "Are there plans to get rid of MongoDB Legacy C++ Driver?"
The latest release of the legacy drivers is from 2018 (https://github.com/mongodb/mongo-cxx-driver/releases/tag/legacy-1.1.3), and the git repo says it should not be used any more, as it is out of support, since 6 years. Do you have plans to refactor the orion-ld codebase to get rid of it?

[2022-03-22 09:50] kzangeli commented on #1062
Yes, definitely.
I'm working on it,
It's gonna take quite some time though.
A year easily, to get rid of the old Legacy driver completely.
Probably more, depends on the priorities of the FIWARE Foundation.
All new services are implemented with the new mongoc driver.

[2022-03-22 15:00] matteopantano commented on #952
Hello  @kzangeli @tassosgeo I am facing the same issue, how can I insert the core context by hand in Mongo?

[2022-03-22 15:27] kzangeli commented on #952
Well, one way would be to temporarily let your node have internet access.
Orion-LD tries to download the core context if it can't find it in the db.
Once downloaded and stored in the database, you can close the internet access again (as long as you don't use any other contexts "out there").

It that is not possible, perhaps you can launch the broker on a different node, one with intertnet access,

[2022-03-23 07:52] matteopantano commented on #952
Thanks @kzangeli, I will give it a shot like this and report how I did it so it is available to others for future reference ;)

[2022-03-23 09:21] kzangeli commented on #952
Thank you  Matteo.
Do it well and I'll include it in the documentation of the broker :)

[2022-03-23 16:01] papr8ka opened #1064 "Patch attribute breaking behaviour on master (working with 1.0.1)"
# Breaking change since 1.0.1

## Version 1.0.1

1) Create an entity

[code]

==> 201 Created

2) Update attribute with expanded field name

[code]

==> 204 No Content

## After 1.0.1

1) Create an entity

[code]

==> 201 Created

2) Update attribute with expanded field name

[code]

==> 207 Multi Status

[code]

## Problem

The whole concept of the project we're working on is to be able to PATCH

[2022-03-23 17:09] matteopantano commented on #952
All right I was able to solve it. So this is how I did it. First I connected to the internet and run mongo-db togheter with orion-ld to be able to download all the context (I also let the cb download my own context by posting an entity with my context inside). Afterwards I used the command `mongodump` and I have saved the file locally.

My end goal was having orion-ld and mongo-db working without

[2022-03-24 10:23] kzangeli commented on #1064
ok, I see the problem.
I've added checks for forbidden characters.
Seems like I included too many ...

I'm guessing it's the hash sign that provokes the problem.
I'll remove it from the list of forbidden characters in attribute names.

[2022-03-24 10:30] papr8ka commented on #1064
Thanks !

[2022-03-24 12:57] kzangeli commented on #1064
So, I fixed it. I hope :)
Please try again, with the latest docker image (not sure how long it takes for it to get ready - check the timestamp and make sure it's new) and then close this issue if all is good.

[2022-03-24 14:59] papr8ka commented on #1064
Just tested it and it works, thanks for the fix ! :smiley:

[2022-03-24 14:59] #1064 closed, assigned to kzangeli

[2022-04-04 08:03] kzangeli opened #1072 "Possible problem with OPTIONS and the Allow header"
[code]
PUT,GET - shouldn't be there!

Also
[code]
PUT,GET - shouldn't be there!

[2022-04-05 14:13] pdmangel2 opened #1075 "Orion-LD crash: Segmentation Fault under heavy load"
When switching from Orion to Orion-ld I experienced regular crashes of Orion-LD. I was able to reproduce the issue against the docker image fiware/orion-ld:1.0.0-PRE-677-GDB with the attached nodejs application
[package.zip](https://github.com/FIWARE/context.Orion-LD/files/8418860/package.zip)
 (only requiring axios library ... see attached package.json)

The logging gave me :

[2022-04-05 14:20] kzangeli commented on #1075
ok, thanks for reporting.
I will try to take a look at this asap.

[2022-04-05 14:47] kzangeli commented on #1075
Just one note:
This here, that seems to be part of each and every request ...
[code]
... tells the broker to expand the key "schema" to "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld".
I'm pretty sure that's not what you want.

Just remove it, the core context is embedded into Orion-LD anyway (you will also have to change the `Content-Type` from `application/ld+json` to `application/

[2022-04-05 16:16] pdmangel2 commented on #1075
Thanks for the quick response, Ken!
The reason for adding this context was to experiment with defining certain attributes explicitly as @list ... to force single value arrays to be returned as arrays when querying (they are always returned as a string value instead of the original single value array). But I removed that from the example code for simplification.
But yesterday I already revamped the

[2022-04-06 07:55] kzangeli commented on #1075
Yeah, JSON-LD for some reason I cannot understand myself, states that an array of a single element is to be "transformed to the single element". So, Orion-LD does that, and I believe I also implemented the @list and @set thing to not do the "simplification" if the  @context tells me not to ...

Now, if that is not the case, then it's a bug, so, if so, please open a new issue where you explain how

[2022-04-06 21:32] #1072 closed, assigned to nobody

[2022-04-14 07:54] kzangeli opened #1095 "CachedSubscription"
(From cache/subCache.h)
First of all, it needs its own header file `orionTypes/CachedSubscription.h`.

Then, it is strongly C++.
Especially the std::map<string, string> receiverInfo in HttpInfo.h needs to change.
See `struct ReceiverInfo` in subCache.h

But, that's just part of it.
A complete rewrite is needed.

[2022-04-21 07:00] kzangeli commented on #556
PATCH Attribute will be rewritten using mongoc driver - closing issue

[2022-04-21 07:00] #556 closed, assigned to nobody

[2022-05-05 03:57] anupamme commented on #819
Hello,

I'm also trying to use Azure Cosmos DB Mongo API. I am following the docker installation steps outlined at [1].

In order to use Cosmos DB I'm replacing the mongo db steps and my docker-compose.yml looks like this:

`
version: "3.5"
services:
  orion:
    image: fiware/orion-ld
    hostname: orion
    container_name: fiware-orion
    expose:
      - "1026"
    ports:
      - "1026:1026"

[2022-05-05 08:28] kzangeli opened #1108 "Tenant check"
For query operations, the broker only checks its "tenant cache" in RAM for existence of the tenant.
But, what if another broker runs against the same DB and creates the tenant ... ?
In case of "No such tenant", the broker needs to query the DB and make sure.
[ And if the tenant actually exists, add it to the RAM-cache ]

SOF: https://stackoverflow.com/questions/70089932/orion-ld-tenant-issue-in-mu

[2022-05-06 06:34] kzangeli commented on #819
multiple use of option '-db' fiware-orion ...

You can use either normal CLI parameters OR environment variables when starting Orion/Orion-LD.
They're one and the same, handled by the same library.

E.g. the `-db` CLI parameter corresponds to the env var `ORIONLD_MONGO_DB`.
It seems like you have both of them set.
It's either that or you have `-db` duplicated.

With `command` you add CLI params fo

[2022-05-06 07:45] anupamme commented on #819
I could get around this multiple use of option -db by removing `-dbSSL -dbDisableRetryWrites` from the command so the new command is:

`-dbhost "mongo-perf-testing.mongo.cosmos.azure.com:10255" -db "fiver_db" -dbuser "mongo-perf-testing" -dbpwd "<cosmosdb_password>" -logLevel DEBUG -t 100`

However, now I run into the following (new) issue:

[code]

It connect to the Cosmos DB Mongo API and it see

[2022-05-06 08:46] kzangeli commented on #819
So, let me explain.
Yes, Orion-LD relies heavily on the old Mongo Legacy driver.

BUT, I am working on it, and I now have 4 (well, very soon - PR on its way) operations that use the new mongoc driver:
* PATCH /entities/{entityId}
* PUT /entities/{entityId}
* POST /entities  (only if the broker is started with the CLI option `-experimental`)
* POST /subscriptions (PR pending + CLI option `-experime

[2022-05-09 10:11] PietroGreco opened #1109 "Update operators for attribute values"
Hi @kzangeli,

I was looking for this feature which is available in OCB v2: [Update operators for attribute values](https://fiware-orion.readthedocs.io/en/master/user/update_operators.html)

Does Orion-LD offer it? I could not find anything in the documentation
Do you plan to add it?

I needed it in a scenario where race conditions can occur

Thank you in advance,
Pietro

[2022-05-09 10:24] kzangeli commented on #1109
Nope, sorry, that is not part of the NGSI-LD API.

There is a big problem with it, namely notifications:

What if you update an attribute A1, using e.g. `$inc 5` and you have a subscription with a Q filter `A1 > 12`  ... ?

In order to see whether that subscription is a match (and a notification should be sent), you need to know the current value of the attribute A1 => you need to read the attribu

[2022-05-12 21:22] kzangeli opened #1114 "Error handling for Subscriptions"
Make sure invalid geo stuff isn't accepted when a Subscription is created.
E.g.:
* Invalid geometry ("circle" is not allowed)
* georel=near    (without maxDistance) - not allowed!

Check both old mongoBackend implementation and the new mongoc implementation.

[2022-05-13 07:20] kzangeli commented on #1114
All good (for new implementation)

[2022-05-13 07:20] #1114 closed, assigned to nobody

[2022-05-13 10:10] kzangeli opened #1115 "Subscriptions: coordinates for geo filter"
NGSIv2 and NGSI-LD have different JSON types for the "coordinates".
While in NGSIv2 it must be a string, for NGSI-LD it may be an Array or a String,
just the String must be a valid coordinates Array once parsed.

In NGSIv2, this is valid coordinates:
[code]
While it would need to look like this for NGSI-LD:
[code]

Furthermore, in the subscription cache, the "coordinates" are stored as a string, w

[2022-05-16 10:22] kzangeli opened #1119 "Refactor - move 4 functions from dbModelFromApiSubscription to their own modules"
* dbModelFromApiKeyValues
* dbModelFromCoordinates
* dbModelFromGeometry
* dbModelFromGeorel

[2022-05-16 10:25] kzangeli opened #1120 "Refactor - move 6 functions from pcheckGeoqCoordinates.cpp to their own modules"
* pcheckGeoPoint
* pcheckGeoMultiPoint
* pcheckGeoLineString
* pcheckGeoMultiLineString
* pcheckGeoPolygon
* pcheckGeoMultiPolygon

Also, make them "pCheck" - they already **are** using `orionldError` and not `detailsP`

[2022-05-20 07:50] kzangeli commented on #1108
Fixed in 489dff1b44eb2bfc4610e78011229f2ce7605c5f

[2022-05-20 07:51] #1108 closed, assigned to nobody

[2022-05-20 07:53] kzangeli commented on #1115
Fixed

[2022-05-20 07:53] #1115 closed, assigned to nobody

[2022-05-20 08:21] kzangeli commented on #1062
## Update on the ongoing work to replace the old Legacy Driver
Two new services have been implemented lately (using mongoc, of course):
* PATCH /entities/{entityId}
* PATCH /entities/{entityId}

Broker in-built features that now use mongoc:
* Tenants (the broker maintains a list of the tenants of the system)
* Geo Indexes
* Work has started on the subscription cache, will take a few weeks more bef

[2022-05-20 08:37] rschwebel commented on #1062
Thanks for the update!

[2022-05-20 17:30] kzangeli commented on #937
Six months have passed, no news.
Must assume all is good, closing the issue

[2022-05-20 17:30] #937 closed, assigned to kzangeli

[2022-05-20 17:34] kzangeli commented on #1040
I forgot, sorry.
LanguageProperty is supported by Orion-LD since ... about a month.
Please try it out and let me know.
It's supported for notifications as well (you can set a "lang" as part of a subscription).

[2022-05-20 20:22] #1119 closed, assigned to kzangeli

[2022-05-23 11:02] manuvaldi opened #1126 "Prometheus metrics"
To be able to monitor in a K8s ecosystem we will need orion to export metrics in prometheus format.

[2022-05-23 11:36] kzangeli commented on #1126
Yeah, I actually have this on my Medium Term Roadmap already

[2022-06-11 17:21] ghost opened #1139 "Broken link in readme for "OpenAPI Specification of NGSI-LD""
Hello,

Unfortunately, the link to the [OpenAPI Specification of NGSI-LD](https://forge.etsi.org/swagger/ui/?url=https://forge.etsi.org/gitlab/NGSI-LD/NGSI-LD/raw/master/spec/updated/full_api.json) in the project's [readme](https://github.com/FIWARE/context.Orion-LD/blob/develop/README.md) is broken. It would be great if you could update the link.

[2022-06-13 06:49] dpatil-fw commented on #1040
I am sorry to get back late. I was tied up with some other work. I tested it today, with the latest orion-ld docker build and still see the same error.

Does this condition with 'experimental' in(src\lib\orionld\kjTree\kjTreeToContextAttribute.cpp) code need to be removed?

` else if (strcmp(nodeP->value.s, "LanguageProperty") == 0)
      {
        if (experimental == true)
        {
          isP

[2022-06-13 08:27] kzangeli commented on #1040
Ah, sorry, I forgot.
You need to start the broker with the CLI option `-experimental` (as you have already kind of seen in the source code)

[2022-06-13 10:54] dpatil-fw commented on #1040
It works with -experimental option. Thank you.

[2022-06-13 11:09] kzangeli commented on #1040
Happy to hear it !
Start testing then! :)
As soon as we feel comfortable with this new feature, I'll remove the "if -experimental" condition.
Know that you can also get notifications with LanguageProperties, and if you want those properties "converted into a specific language", just set the "lang" field (it's new) to e.g. "en" in the subscription - same is implemented for query, but as a URI param

[2022-06-13 14:26] dpatil-fw commented on #1040
Thank you for the explanation, I will look through the API spec for more details.

I did some more testing and I found an issue. While simple strings work fine with LanguageProperty, I have issues when I send a list of strings. I get this error:

{"type":"https://uri.etsi.org/ngsi-ld/errors/BadRequestData","title":"Items of the value of a LanguageProperty attribute must be JSON Strings","detail":"

[2022-06-13 14:55] kzangeli commented on #1040
Sorry, that's not how we've specified the LanguageProperty attribute.
We only allow you to have string as "values after the language", e,g, `"es": "word in Spanish"`.
Well, right now anyway.
If you make a compelling case, the ETSI ISG CIM is a flexible group, always looking for the best of the NGSI-LD API.

Anyway, what you want to do (the options array) could be done using normal properties. You¡

[2022-06-13 23:55] dpatil-fw commented on #1040
On further investigation, I see even OpenStreetMaps do not support multiple values natively in their schema yet.
[https://wiki.openstreetmap.org/wiki/Multiple_values](https://wiki.openstreetmap.org/wiki/Multiple_values)

One of the suggestions they have made is to use semi-colon separator. I think that will work for me.

[2022-06-14 09:59] kzangeli commented on #1040
ok, good to know.
We will still look into it.
If possible (depends on the core context), we'll add an array of strings as possible RHS for LanguageProperty.

[2022-06-15 13:47] kzangeli commented on #1040
Just one detail:
If you go for using a single string (personally I'd use a Property an array per language) - pick a stronger delimiter than just ';'.
Perhaps a triple: ";;;". Well, something "more strange" than just a semicolon - you might want to use a semicolon in your phrases.
If the semicolon is a delimiter, you can't.

[2022-06-15 13:54] kzangeli commented on #1139
Thanks for reporting, and, yes, we'll try to fix this stupidity asap

[2022-06-15 14:49] kzangeli commented on #1139
Fixed by PR https://github.com/FIWARE/context.Orion-LD/pull/1143

[2022-06-15 14:49] #1139 closed, assigned to kzangeli

[2022-06-15 23:59] dpatil-fw commented on #1040
Yes, I will keep that in mind. Thank you for the suggestion.

[2022-06-20 14:48] kzangeli commented on #1040
So, in the last ETSI ISG CIM I brought up the array of strings as RHS for languageMap langs:
[code]
and it seems like we'll add support for it.
Looking at it briefly, we haven't found anything that argues against it, so, we're all OK with supporting it.
Either a string, or an array of strings.

If all goes well, and as soon as it enters the draft of the spec, I'll implement it in Orion-LD.
Not any

[2022-06-20 15:07] kzangeli commented on #903
I've looked into it a little and found ... I think more than 100 options for the URL for the mongo connection.
Can't support all that, that's insane.

So, what I propose it the following:
- Implement a few options, the ones we believe are most commonly used:
  - host (port is baked in) - already exists: `-dbhost`
  - database user - already exists: `-dbuser`
  - password of database user - already

[2022-06-21 12:02] Drbvr opened #1148 "Orion context broker sometimes not responsive"
Our implementation of the Orion Context-LD broker does sometimes not process a POST call (create entity) but gives no errors in logging. Reproducing is difficult, since this happens only sometimes. See below for an example of the request of a failed call to the context broker.

We use the Orion context broker with MongoDB installed on Ubuntu 20.04 VM, version 4.4.14.

# request details
headers:
`L

[2022-06-21 13:54] kiskit opened #1151 "Having id as parameter in a GET /entities request seems to override query arguments"
Hello,

Using 1.0.1.
Given this entity created on orion ld:
[code]

1. A GET on /entities?q=scope=="/Madrid" returns the entity.
2. A GET on /entities?q=scope=="/Paris" doesn't return the entity.
3. A GET on /entities?id=uri:t1&q=scope=="/Paris" returns the entity.

I would think the query filters out the entity from the results. It may be expected behavior but then I'm not sure why. With type ins

[2022-06-21 14:09] kzangeli commented on #1151
Hello there,
yeah, I just discovered (just a few days ago) that a design decision I took quite some time ago (2 years ago?) wasn't too fortunate:
Whenever you do a `GET /entities` with `?id=X` and there's just one single entity id in X (could be a comma-separated list), then I translate the request into a `GET /entities/X` - which is a different service routine, AND it does not support the 'q' par

[2022-06-22 07:52] kiskit commented on #1151
Thanks for your reply. We work for Orange and we're using scope as the standard implies or at least in that spirit. By the way if you're interested we've used an antlr grammar for it, so that its implementation always conforms to the standard (ABNF translates pretty well into antlr).
It can be used for queries too. I can share if you're interested. We've got a C++ example we've done for fun that d

[2022-06-22 08:13] kzangeli commented on #1151
ok ... while that might work for you, in Orion's database you will have entities with properties called "scope" and that is an attribute.
If not ... I can't see how this would possible work.
And, when Orion-LD implements "scope" finally (probably not this year), we're gonna have problems.
We can meet if you want and I explain why exactly this is a problem.

[2022-06-22 10:11] papr8ka commented on #1151
Hi,

I'm commenting this as I'm working with @kiskit. On our side, the scope property is mandatory to provide access control. As it is not available for now in Orion, we're developping a proxy that provides a scope verification through an header. This is not something that is here to last, as it will disappear as soon as Orion ld implements scopes. @kiskit developped a scope parser using antlr tha

[2022-06-22 10:38] kzangeli commented on #1151
ok, as long as you are aware of the problem ... no problem.

[2022-06-22 10:42] kzangeli commented on #1151
I'll try to fix this issue asap - hopefully I have some time today even,
but meanwhile, as a workaround,
just add a second entity id (one that does not exist) to the query - that way you avoid for Orion-LD to use the simpler service routine:
[code]

[2022-06-22 11:42] kiskit commented on #1151
Great suggestion, thanks

[2022-06-22 13:33] kzangeli opened #1154 "yum crash in GitHub Actions for Deploy Baseimage::deploy-quay"
Something has broken ...
`yum` crashes (or errors) around 80% of the times while running "Deploy Baseimage::deploy-quay" in GitHub Actions.
I've seen 3 different error reasons:
* Bus Error
* Segmentation Fault
* "Normal Error" - presenting a stackdump for the error

{ Apparently, `yum` is a python script - didn't know that ]
It always crashes while trying to [install postgres](https://github.com/F

[2022-06-22 14:48] kzangeli commented on #1151
Fixed it - workaround no longer needed.
But guys ... don't use "latest" - it's dangerous - pick the tag of this latest and use the tag instead.
Otherwise, I might implement something new, break something old, and your stuff stops working.
Yes, I run plenty of tests before merging anything, but, it's simply not possible to cover 100%, especially not in such a generic thing as Orion-LD.

[2022-06-22 15:40] kzangeli commented on #903
So, I did something, but, just for the "renewed" API endpoints, that use the mongoc driver.
Read about details in the PR #1156 and if you want to test it out, that would be great !
The whole thing is quite untested.
Anyway, with the new `-dbURL` CLI option, you can define the complete URI for the connection

[2022-06-23 05:28] kiskit commented on #1151
Super efficient, thanks. We'll be using "official" tags only so for now we'll do with 1.0.1 and the trick you gave us. Once you tag a 1.0.2 or something like that we'll switch to it and remove the patch.

[2022-06-23 07:22] kzangeli commented on #1151
ok!
Next release (v1.1) is planned for end of July.
Closing the issue.

[2022-06-23 07:22] #1151 closed, assigned to kzangeli

[2022-06-23 15:06] dpatil-fw commented on #1040
Good to know. Thank you.

[2022-06-24 07:24] RemiOllivier2 commented on #903
Ok, thank you, I will test the -dbURL option

[2022-06-28 07:44] kzangeli commented on #903
Remember you can "bake in" the password, using ${PWD} as part of the value for `-dbURI` and giving the password via
`-dbpwd`.
And also, that mongo connection is only used for the services (API endpoints) that work with the new driver, mongoc.
To turn that on, you have to start the broker with `-experimental`.
The "legacy services" use the old mongo driver with its own connection.

If you need any

[2022-06-28 07:56] IngMiad opened #1160 "Subscription at Orion-LD fails with Mongo-DB error"
Hi there I already asked a question at stack overflow and have been asked to open an issue at Github. Therefore I open this issue related to [question](https://stackoverflow.com/questions/72743324/subscription-at-orion-ld-fails-with-mongo-db-error/72768167#72768167)

I try to get a subscription from Orion-LD to Quantum Leap and CrateDB running. Unfortunately it seems that MongoDB throws an error E

[2022-06-28 10:11] kzangeli commented on #1160
ok, so, my first question would be: "does QL receive notifications"?

Because, this "csf" field isn't used for "normal" subscriptions - it is for subscribing to registrations, something that Orion-LD still doesn't implement.
The ERROR you see in the log file if unfortunate, I will remove it asap.
It's not an error, its the implementation trying to extract "csf" from the BSON object it got from mon

[2022-06-29 14:08] kzangeli commented on #1160
I tried to remove the erroneous error but it seems I've done it already.
I believe you're running a broker older than March 29 2022 (that's when git tells me I fixed this unfortunate false error).

So, shall we see if we can understand what's really happening ... ?
Perhaps, pass me the entire logfile after:
1. Creating the subscription
2. Creating an entity that matches the subscription snd *shoul

[2022-06-30 06:40] kzangeli commented on #1126
Orion-LD now supports Prometheus metrics.
But, is has only 4 counters implemented so far.
- no of incoming requests
- no of failed requests
- no of notifications
- no of failed notifications

So, the framwork is present, and I can easily add stuff.
What kind of metrics are you interested in?

[2022-06-30 06:42] kzangeli commented on #1120
Done

[2022-06-30 06:42] #1120 closed, assigned to kzangeli

[2022-06-30 06:45] kzangeli commented on #1075
That, plus quiet since then => I close the issue

[2022-06-30 06:45] #1075 closed, assigned to kzangeli

[2022-06-30 07:28] manuvaldi commented on #1126
I'm not aware of the implementation. Some questions:
- Metrics consuming affects to Orion-LD performance?
- Can I enable/disable metrics?

Other useful metric could be:
- no of subscriptions
- uptime

[2022-06-30 08:28] kzangeli commented on #1126
It will affect performance a little, yes. I haven't measured anything but it should be almost neglectable.
I will put it behind a CLI param though (no metrics collected unless the CLI param `-metrics` is used).
Right now it is always on.

No of subscriptions - no problem, I'll throw in no of registrations as well.
Uptime - there's something done already in the library I'm using for this:
[code]
No

[2022-06-30 09:36] IngMiad commented on #1160
Hello kzangeli,

thank you for the information. It seems that I messed up my example a bit, because I tried several subscription (with and without q). But both are not working in my case and QL doesn't receive any notification. I can also not find any error in the logs other than the csf / name error...

I tried a fresh minimal example with the official Weather Smart Data Model and related example

[2022-06-30 10:20] EldritchKitten opened #1165 "Subscription receiverInfo not persisted?"
I am running Orion-LD on a Kubernetes cluster using image fiware/orion-ld:1.0.1. I set up several subscriptions, using the receiverInfo field to specify a HTTP header for authorisation. This worked perfectly for many weeks until something caused Orion-LD to restart, after which _the notifications continued to be sent, but without the HTTP header specified in the receiverInfo._

Related to this, _t

[2022-06-30 10:41] kzangeli commented on #1165
ok, that sounds serious.
I will look into it asap.
Think I have all the info I need to investigate. If I need more I'll come back to you.

[2022-06-30 11:24] anupamme commented on #819
Hi @kzangeli

Quick question on the mongodb connection url getting created: I'm seeing some issue in the url. The url created is this:

mongodb://<last_X_chars_dbpwd>:<db_pwd>==@mongo-perf-testing.mongo.cosmos.azure.com:10255

where it should be

mongodb://<dbuser>:<db_pwd>==@mongo-perf-testing.mongo.cosmos.azure.com:10255

Essentially dbuser is not getting used in creating the connection url. Thi

[2022-06-30 12:53] kzangeli commented on #819
ok, I did touch that part recently. Perhaps I broke something.
Let's talk!

[2022-06-30 15:20] kzangeli commented on #1165
So, I looked at it and it works just fine.
Seems like I've already fixed this issue, just, probably after 1.0.1.
Found a line about "fixing receiverInfo and notifierInfo" in my changelog and I had that feeling of deja-vu ...

So, update to a newer version of Orion-LD and try again.

Next release (1.1) is planned for end of July, in case you prefer to use only "official releases".

Whatever you do,

[2022-06-30 15:31] kzangeli commented on #1160
ok.
I believe your info is not 100% complete when it comes to the @context used in every request.
Remember that the attribute names are expanded using the @context.

That means that if you create a subscription with
[code]
And an @context that expands "temperature" to "http://a.b.c/attrs/temp", and then you create an entity
with a "matching" attribute "temperature" but with a different @context, e

[2022-06-30 15:54] EldritchKitten commented on #1165
Thank you for the incredibly quick response! I wasn't sure how stable the PRE-xxx tags were, so had been holding off upgrading. I will test 1.1.0-PRE-942 and get back to you.

[2022-06-30 16:07] kzangeli commented on #1165
Well, the releases are used by lots of people so they get some "free testing" there ...
But, Orion-LD has a massive 100% covering functest suite of +1700 functests, running an average of perhaps 10 requests each, and no PR is ever admitted without this test suite running at 0% failure rate.
So, we consider every tag more or less tested.

[2022-06-30 16:41] EldritchKitten commented on #1165
That's good to know, thanks.

I can confirm that 1.1.0-PRE-942 does not have the above issues.

Thanks again!

[2022-06-30 16:41] #1165 closed, assigned to kzangeli

[2022-06-30 17:02] kzangeli commented on #1165
Great, thanks!

[2022-07-01 14:48] IngMiad commented on #1160
Hello again,

okay I checked on both things and I think it is better to go back to example one with my own validated and created data model rather than the https://smart-data-models.github.io/dataModel.Weather/context.jsonld in the second example. Sorry for the mess.

The static alpine context service provides following ngsi-ld file in my example at http://172.18.1.2/datamodels.context-ngsi.jsonld

[2022-07-01 15:16] kzangeli commented on #1160
So, the subscription and entity look good to me, should fire a notification.
One doubt:
  you say that nothing arrives at QL Do you base that on the query you do to QL?
  Or, do you base it on traces from Orion-LD and/or QL?

Cause the query to QL seems to be done via NGSIv2, and the attribute name "temperature".
The name of the attribute is "https://uri.fiware.org/ns/data-models#temperature", and

[2022-07-01 15:45] kzangeli commented on #1160
Functest implemented an all good - notification arrives for my notification-receiving test script.
I also didn't use any tenants.  Stripped it down to the minimum, which is what I'd propose you to do.

Just to try to make it work:
* No Context - just the core context that is built'in inside the broker
* No Tenants - jsut the default on, also "built-in" inside the broker
* Find a better way to find

[2022-07-02 10:40] kzangeli opened #1169 "Quick Fix for new registrations"
Do not raise errors if updated optional fields on CsourceRegistration are included on registration CRUD (as a preliminary to upgrading full distributed operation support).

[2022-07-04 13:11] IngMiad commented on #1160
Hello,

\- No Context - just the core context that is built'in inside the broker
\- No Tenants - jsut the default on, also "built-in" inside the broker
\- Find a better way to find out whether QL received the notification of not - querying it about an attribute is not good enough.

Wherever it stops working, that's your problem right there."

okay sounds good to me.

I haven't known about accumula

[2022-07-04 13:20] kzangeli commented on #1160
I think you have to start the accumulator with a parameter telling it the API endpoint "/notify".

Something like this:
[code]

[2022-07-04 14:03] IngMiad commented on #1160
I already tried kind of with /accumulate as URL as explained here: https://fiware-orion.readthedocs.io/en/1.7.0/user/walkthrough_apiv1/#starting-accumulator-server-for-the-tutorials

When I try yor suggesting to startup accumulator in a different way, there is still nothing at accumulator:
1. Start accumulator
[code]
2. Create Subscription
[code]

3. Create Entity
[code]

4. Check accumulator
[cod

[2022-07-04 14:10] kzangeli commented on #1160
That is quite strange.
Let's look at the traces of the broker.
Do you have anything interesting there?

[2022-07-04 16:08] IngMiad commented on #1160
Hello,

unfortunately I can not see any other error. If I execute ```docker logs -f fiware-orion``` I can only see the mongo-db error which will be shown when I create a subscription. Are there other error traces I could check?

Don't know if that might be interesting, but adding accumulator to my docker-compose and run it also as container changed the response in step 4 (check dump at accumulator

[2022-07-06 05:52] IngMiad commented on #1160
As an addendum to my last comment I attach the logs from orion, but you can just see the mongo-db error when creating the subscription:
[code]

I am using:
- Ubuntu 22.04. LTS
- Docker 20.10.12, build 20.10.12-0ubuntu4
- Orion-LD 1.0.0
- Mongo DB 4.4

Maybe that makes a difference to the test environment where you tested it successfully? I could try to create same environment if this makes the dif

[2022-07-06 15:03] kzangeli commented on #1160
Your versions seem fine.
I think we need to have a session. Don't know how to help you any other way.
Tomorrow morning I'm free (9-12) - July 7
Look me up on skype - the handle is kzangeli (you'll find two - ping me on both)

[2022-07-06 16:02] IngMiad commented on #1160
Okay sure, thank you in advance for your time.
I also have time tomorrow morning and will contact you like you suggested.

[2022-07-08 09:44] wistefan commented on #1160
Hi @IngMiad ,
It looks as if you stumbled upon a couple of things;)
I changed some parts to get it working. I guess you took the compose from one of the tutorials? Can you please send me a link on which one, so that we can update them properly?

To get it working:
1. I removed crate-db as backend for quantum-leap. Crate-db has a number of issues and didn't even start at my machine. Its currently g

[2022-07-08 13:35] IngMiad commented on #1160
Hello @wistefan, Hello @kzangeli,

thank you for your help and the provided example. I can confirm that the proposed example with Docker image 1.0.1 works at my side. I just had to copy the proposed docker-compose.yaml from step 1, create config.yaml from step 2 and run proposed queries from step 3 and 4. All newly created entities will lead to a new notification at QL in step 5 successfully. I al

[2022-07-08 14:15] kzangeli commented on #1160
ok,
thank you Inga for all that valuable information.

[2022-07-11 08:01] walterwootz opened #1178 "MQTT Notification raise "curl_easy_perform failed: Timeout was reached""
Hi everyone,

I'm trying to receive Orion LD notifications using mqtt protocol which instead work well with Orion v2.

The error is the following:

[code]

 Orion is launched using a docker-compose together with an instance of mosquitto where mqtt notifications should be sent. Consider that the subscription using the json below is successfull.

**docker-compose.yaml**
[code]

**json subscription r

[2022-07-11 11:01] DasNordlicht opened #1179 "Not all subscriptions are displayed via API"
Versions Info Orion-LD:

`	"responseUrl": "http://orion-ld.fiware.svc:1026/ngsi-ld/ex/v1/version",
	"payload": {
		"Orion-LD version": "post-v1.0.1",
		"based on orion": "1.15.0-next",
		"kbase version": "0.8",
		"kalloc version": "0.8",
		"khash version": "0.8",
		"kjson version": "0.8.2",
		"microhttpd version": "0.9.75-0",
		"rapidjson version": "1.0.2",
		"libcurl version": "7.61.1",
		"libuui

[2022-07-11 13:03] kzangeli commented on #1178
Hi, thanks for reporting.
I will look into this, I'd say asap, but, unfortunately I have a business meeting from tomorrow morning until Thursday evening, which will keep me quite busy ...
Promise to do my best though.

[2022-07-11 15:27] kzangeli commented on #1179
ok ...
Could you pass the requests creating the subscriptions (instead of showing how they end up in mongo)?
I'm especially interested in the Entity Id "WeatherObserved",
You might have found a bug somewhere in the creation of subscriptions ...

I'd like to try to reproduce the thing and fix it !
I imagine you just do a "GET /ngsi-ld/v1/subscriptions"
So, complete requests, with HTTP headers and a

[2022-07-11 17:20] DasNordlicht commented on #1179
The Subscribtion POST and GET

`curl --location --request POST 'https://apis.captn.stag.addix.io/ngsi-ld/v1/subscriptions/' \
--header 'fiware-service: captn' \
--header 'fiware-servicepath: /' \
--header 'Content-Type: application/ld+json' \
--header 'Authorization: Bearer TOKEN \
--data-raw '{
    "description": "QL WeatherObserved",
    "type": "Subscription",
    "name": "Notify QL WeatherObse

[2022-07-12 06:35] kzangeli commented on #1179
Just a few comments:
* fiware-service - that's NGSIv2 - use NGSILD-Tenant instead (fiware-service is still supported for backwards compatibility but ...)
* fiware-servicepath - that's also NGSIv2 - not supported in NGSI-LD. We recently added "Scope" to the NGSI-LD API spec, which is a replacement for NGSIv2's Service Path. Very recently. This is not yet supported by Orion-LD.

So, I'd fix those tw

[2022-07-12 07:28] DasNordlicht commented on #1179
The only difference between the other two is the Notification URL and watchedAttributes:

**1. Subscribtion:**

``curl --location --request POST 'https://apis.captn.stag.addix.io/ngsi-ld/v1/subscriptions/'
--header 'fiware-service: captn'
--header 'fiware-servicepath: /'
--header 'Content-Type: application/ld+json'
--header 'Authorization: Bearer TOKEN
--data-raw '{
"description": "NR WeatherObser

[2022-07-12 08:19] a39172 opened #1180 "Subscriptions do not work with a query"
This is my subscription:
[code]

It gives an error in the query that only disappears if I change the query to:
- `"q": "refRoom == %22urn:ngsi-ld:Room:00%22"` (encoding the double quotes)

The problem is that now the subscription is only triggered if I change the static attribute `refRoom` to `%22urn:ngsi-ld:Room:00%22` in the sensor provisioning.

[2022-07-12 11:45] kzangeli commented on #1179
OK, now I believe I have all the info I need to look into this.
About my recommendations ... yeah, you should definitely follow them, but, I don't think it will solve your immediate issues.
Seems to be up to me to solve that :)
On a trip this week (Brussels Airport right now), but, I find time, every now and then ...
This one and two more issues are on the very top of my ToDo. So, don't despair ;)

[2022-07-12 13:31] kzangeli commented on #1179
So, first comment:
[code]

That's part of the subscriptions.
I don't check the value of "idPattern", simply cause ... it's too darn difficult.
BUT, did you mean ".*WeatherObserved" ?   (anything ending in WeatherObserved)
Cause, only "WeatherObserved", that will ONLY match the exact value "WeatherObserved" and as that's not a URI, no entity can ever have that ID => the subscription will never ever

[2022-07-12 14:08] kzangeli commented on #1179
As a footnote:
In my test I changed the idPattern to "urn:WeatherObserved" and then I created an entity with that exact id and the notification arrived.

[2022-07-13 07:13] DasNordlicht commented on #1179
Do I understand correctly that I have to specify the appropriate RegEx for idPattern?

[2022-07-13 07:23] DasNordlicht opened #1182 "Backwards compatibility with QuantumLeap 8.0.3"
Is it possible to set the **Fiware-Service** header in addition to the **NGSI-Teanant** header in a notification?

A custom header is apparently not provided for the Subscription Endpoint.

[2022-07-13 09:44] kzangeli commented on #1179
If I were you, to start with, I'd just remove the idPattern - accept any entity id - filter only on entity type.
Until things start to work.
Then add idPattern back, but, you'll have to fix the REGEX - can't be just "WeatherObserved".

[2022-07-13 10:53] kzangeli commented on #1182
That should be possible, yes - take a look at the field `receiverInfo` in the API spec

[  _I read your question too fast - came up with a thing I need to fix:_

_Good question - that should give an error, especially if the tenants are different.
Don't think I've implemented that error handling yet - adding it to my list, and using this issue for it._  ]

[2022-07-13 11:39] DasNordlicht commented on #1179
ok, the subscriptions work, trigger and send their notifications.
Only the visibility at GET https://apis.captn.stag.addix.io/ngsi-ld/v1/subscriptions/?options=count is still a problem.

[2022-07-13 12:50] DasNordlicht commented on #1182
Sorry, either I'm looking in a wrong specification or I can't find the **receiverInfo** field.

[2022-07-13 12:57] kzangeli commented on #1179
ok, good.
I'm trying to reproduce that error with GET /subs   but still no success.
Still in our All-Hands meeting, so I don't have too much time, I might come back to you asking for more info, in my attempts to reproduce.

[2022-07-13 13:00] kzangeli commented on #1182
ok, perhaps you have an older version of the API doc?
It's is chapter **5.2.15 Endpoint** (I think it's there since v1.3.1 of the API spec).
The most recent publish spec is v1.5.1, and 1.6.1 is on its way - should be published before September.

[2022-07-13 13:06] kzangeli commented on #1182
https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.05.01_60/gs_CIM009v010501p.pdf

[2022-07-13 14:24] DasNordlicht commented on #1182
ok, it works!
Thanks for the info.
With this we can work.

[code]

[2022-07-13 15:50] kzangeli commented on #1182
ok!
Happy to hear it :)

[2022-07-13 16:01] kzangeli commented on #1179
I seem unable to reproduce, on my Ubuntu 20.04.
Sometimes bugs appear on one distro but not on others. Can depend on a variety of reasons.
One thing that would produce the strange thing you are experiencing would be a failure to initialize
the pagination variables. I tried different combinations but it all worked just fine for me.

So, I'll ask you to run your "GET /subs" with the following URL-pa

[2022-07-13 16:16] kzangeli commented on #1180
ok, I have understood the problem.
I have to admit this is a pretty stupid bug, makes me feel quite ashamed.
Thank you very much for finding it for me.
Apparently I never implemented a functest that tests subscriptions with a "q" filter on an attribute that is a string.
Will do that now, and fix this embarrassment as soon as I possibly can.

[2022-07-13 16:19] kzangeli commented on #1180
Ah, I forgot to mention, you did well using and encoding the double-quotes.
There's no other way around it, as it's a value of a key in JSON.
Without quotes, the RHS would be understood as a variable (a DB field) and that is something that is on the ToDo list but not yet implemented, neither in the NGSI-LD API spec nor in the Orion-LD broker.

[2022-07-13 16:21] #1182 closed, assigned to kzangeli

[2022-07-17 22:40] kzangeli commented on #1180
Hopefully fixed it - please test again (using the docker image from today) and close this issue if all is good.

[2022-07-17 23:01] kzangeli commented on #1178
So, finally got some time ...
I tried your exact subscription and it worked just fine (had to invent a matching entity) - the notification arrived via MQTT.
BUT, what you said about `httpRequestSendWithCurl()` is 100% correct, it seems like the broker in your case doesn't understand it is to use the protocol "mqtt", which is quite weird.

You should see something like this in the broker log:
[code

[2022-07-17 23:20] #1160 closed, assigned to nobody

[2022-07-18 09:06] DasNordlicht commented on #1179
ok, I think we have found the error.
We are running the Orion-LD on a HA Kubernetes cluster and have 2 instances of the Orion-LD running and also the MongoDB is running with 3 instances.
Apparently one instance had a problem which affected the request to MongoDB.
After we restarted both Orion-LD PODs, all queries always returned the 3 existing subscriptions.
We have now observed this for a longer

[2022-07-18 09:17] kzangeli commented on #1179
ok, I understand. It actually explains everything and I should have suspected this from the very start
I feel I should explain to you in detail how this works.
It's a quite special setup to run various brokers against one single database.

If you now create another subscription, your problem is back, until you restart your brokers.

If you want to, we can have a call and I'll explain everything in

[2022-07-18 10:47] kzangeli commented on #1179
This is what I want to explain, in detail:
https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning.html#subscription-cache

Fully working in Orion - 100% untested in Orion-LD (it just might work). Haven't gotten to that point yet. You are the first to run into troubles.
But, your troubles are for _not using the sub propagation mechanism_ (it's off by default in Orion-LD).
That's why you se

[2022-07-18 13:58] kzangeli commented on #1148
We've been having audios about this issue ...
Is all good, or do you still have issues?

[2022-07-18 19:49] Blobonat commented on #903
@kzangeli Did I understand correctly that no SSL connection is possible in the current stable version 1.0.1?

Btw. I tested the new `-dbURI`-Feature, but with a Replica Set MongoDB Cluster with 3 nodes I get
[code]
with `-dbURI 'mongodb://xxx:yyy@aaa.mongodb.net:27017,bbb.mongodb.net:27017,ccc.mongodb.net:27017/?ssl=true&authSource=admin&replicaSet=ddd'`

[2022-07-18 21:22] kzangeli commented on #1179
So, I tried the subscription propagation in Orion-LD.
It was actually tested already, as I do have a number of functests where I create subscriptions, kill+restart the broker and make sure the subs from the DB are correctly inserted in the sub-cache on startup.
It's the exact same function that is used for propagation.

This here is the test I ran:
[code]
You can see it in the PR #1184, the test i

[2022-07-18 21:42] kzangeli commented on #903
ok, I'll take a look tomorrow.
1.0.1 is quite old and yeah, older than the PR #1156.
A new release (1.1.0) is just around the corner. This week or next.
Let's make sure this works before releasing!

Just one thing.   What value do you give to the `-db` CLI ?
Cause, the broker complains about the -db value, not about the -dbURI value ...
Show me please the entire command line for starting the broke

[2022-07-19 08:08] kzangeli commented on #903
So, I've tried everything I could think of.
Only way I'm able to reproduce the same "error" you're seeing is by giving a `-db` with a string with length > 10.
Which is how it's meant to be.
So, pass me your entire command line for starting the broker and I'll try that, see what happens.

[2022-07-19 08:13] kzangeli commented on #925
No news since Sep 1 2021 - assuming all is good.
Closing the issue

[2022-07-19 08:13] #925 closed, assigned to kzangeli

[2022-07-19 08:19] kzangeli commented on #1109
Uninteresting issue - closing it

[2022-07-19 08:19] #1109 closed, assigned to nobody

[2022-07-19 09:06] Blobonat commented on #903
@kzangeli It was a misconfiguration at my side. I'm sorry to cause this inconvenience.

[2022-07-19 09:49] kzangeli commented on #903
No worries.
Just, let me know how it goes, as I'm about to release a new version of the broker.
Would be nice to have this *Highly Untested* feature tested to work, at least for you guys ... :)

[2022-07-19 15:26] #903 closed, assigned to kzangeli

[2022-07-19 16:08] #1180 closed, assigned to kzangeli

[2022-07-20 08:32] FR-ADDIX commented on #1179
ok we will test it ...

[2022-07-20 08:42] kzangeli commented on #1179
Remember, the time of "subscription propagation" between brokers is crucial.
If you try to GET subscriptions before the propagation has been done, you will not get the desired result.

Personally, this is not how I would implement the whole propagation thing. My old bosses at Telefonica R&D made me implement it this way.
I protested but ... also wanted to keep my job ... :))

[2022-07-20 10:20] FR-ADDIX commented on #1179
ok we set `-subCacheIval 60`

we now get the following errors in the logs:

`time=Wednesday 20 Jul 10:10:25 2022.104Z | lvl=ERROR | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=MongoCommonUpdate. cpp[2324]:processSubscriptions | msg=runtime error (cached subscription 'urn:ngsi-ld:Sub scription:1a89691a-0814-11ed-9f81-b683d8eeeb9f' for tenant '' not found)`

The subscrip

[2022-07-20 10:26] kzangeli commented on #1179
OK, that error message should probablt not appear in the log -. seems like a "false positive".
You have created a subscription in the tenant "captn", and then you try to retrieve it without specifying the tenant?
You won't find it that way. It doesn't exist under the default tenant.

I just assume this is what is happening.

Try to tretrieve the subscription specifying the tenant 'captn'.
It that

[2022-07-20 10:39] kzangeli commented on #1179
I looked a bit closer. The error comes from after an entity creation/update (and a notification), trying to modify the stat-counters/timestamps of the subscription.

I need no more input, it seems like a bug provoked by my latest "fixes".  I'll get right on that, let you know once I have it fixed,

[2022-07-20 13:34] walterwootz commented on #1178
Hi @kzangeli thank you for your kind reply.

In Orion there is only one subscription and only one entity, listed below:

`GET http://localhost:1026/ngsi-ld/v1/subscriptions `
[code]

In mongodb I have only one entity:
[code]

I was thinking, may that the problem come from the way I update the attribute?
In my app I am updating an attribute using the following PATCH call (the same used with http an

[2022-07-20 13:56] kzangeli commented on #1178
ok, I'll try that PATCH. Open to anything right now :)

[2022-07-20 14:00] walterwootz commented on #1178
Here is also the complete subscription request:
[code]

I have launched Orion in DEBUG and here is the complete log when updating attribute:
[code]

[2022-07-20 14:18] kzangeli commented on #1178
ok, perfect

[2022-07-20 16:26] kzangeli commented on #1179
What was missing was to assign the tenant to the subscription in a special case.
Thanks to you I got aware of the problem, fixed it, and added a functest for it, so that I will know if it ever reappears.

Thanks!

The issue should be fixed (at least my test now works :)), so, please try it and close the issue if all is OK.
The dockerhub tag seems to be 1.1.0-PRE-980.

I saw you used "latest" - don

[2022-07-20 21:12] kzangeli commented on #1178
So, I created a functional test, as close as I could to your "case".
Unfortunately, it worked just fine, I'm not able to reproduce the error you're getting:
https://github.com/FIWARE/context.Orion-LD/pull/1188

Take a look at the PR - it's just a functional test.
I believe the test file is quite simple to understand:
* What's between `--SHELL-INIT--` and `--SHELL` is executed to prepare for the te

[2022-07-21 07:04] DasNordlicht commented on #1179
We have now tested the 1.1.0-PRE-980 and no longer see any error.

Thank you for the fast and friendly support.

By the way, we did not use the latest version but the version 1.1.0-PRE-979. The version info via API seems to provide a different version information ;-)

**"Orion-LD version": "post-v1.0.1"** is not the version number used
We have used the **1.1.0-PRE-980** ;-)

`{
	"Orion-LD version"

[2022-07-21 07:04] #1179 closed, assigned to kzangeli

[2022-07-21 07:54] kzangeli commented on #1179
ok, good!
Seems like I mixed issues in my head (got 3 external issues at the same time, while in Berlin).
I based my assumption of using "latest" on a docker-compose file. Not yours :)
My bad.    Good that you're not using "lñatest" - lots and lotsd of people do and ... it's simply not a good idea.

Happy that everything worked out in the end.
Sorry about the late reaction from my side, but I was

[2022-07-21 15:07] walterwootz commented on #1178
@kzangeli the functional test fit exactly my use case.

I launched the following shell script inside orion container that should be the same as your functional test script:

[code]

All the 3 steps return response as expected, but the error is the same: orion is trying to send notification through http.
Does _orionCurl_ do anything more than my curl test? If not, the problem is not on the requests

[2022-07-21 15:21] kzangeli commented on #1178
ok, that's a good test.
But no, no magic involved. orionCurl just helps with visualizing HTTP headers and stuff like that.
I'm running on the latest - a branch taken from the "develop" branch.
Brand new - very much like you, from what I can see in your docker compose file (image: fiware/orion-ld:latest).
So, still **quite** weird ...
I think I'll have to add some temporary traces, see if we can un

[2022-07-21 15:24] kzangeli commented on #1178
Meanwhile, just to test ...
Add the CLI `-experimental` to the broker, see what happens (as the name says, it's experimental)

[2022-07-22 15:11] kzangeli commented on #1178
FYI:
I'm preparing a new release. Part of the preparation is to remove all temporary traces, including, of course, those new ones about MQTT.
This tag on dockerhub contains the traces:  1.1.0-PRE-993.
The next one will not have them anymore.

[2022-07-27 11:30] Drbvr commented on #1148
We haven't come around to switching back to this implementation with our customer yet. Will let you know if we run into it again.

[2022-07-28 10:40] kzangeli opened #1199 "Metrics"
# Prometheus Style Metrics
A very basic implementation is already available, using the external library **prometheus-c-client**.
However, the library is no good.
The idea is to replace the library for an in-house implementation.

The library is not "ideal" for a number of reasons:
* Forces MHD to be a shared library (the broker already has it as a static library
* The source code is no good - lots

[2022-07-29 09:29] kzangeli commented on #1178
After a lot of debugging we've finally found the reason of this error.

MQTT notifications are implemented only for the case that the notificationMode is set to "threadpool".

I will implement the MQTT notifications also for the transient/persistent notificationMode, but for now, you'll just have to start the broker with the threadpool turned on:
[code]

Note that you can set also the size of the

[2022-08-02 06:59] #1178 closed, assigned to kzangeli

[2022-08-13 14:30] kzangeli opened #1209 "BATCH Create doesn't expand the entity type"
The function is old and about to be deprecated but needs fixing anyway.
This is a very serious bug, how come nobody has discovered it???
My guess, nobody is using `BATCH Create`.
Everybody seems to be using `BATCH Upsert` instead.

Actually, it wasn't as bad as I thought initially.
The bug is only there if "@type" is used instead of "type" for the entity.

[2022-08-25 09:23] dzgrief opened #1216 "How can I use ngsi-ld for entity query sorting?"
/ngsi-ld/v1/entities

What are the sorting parameters？

[2022-08-25 09:32] wistefan commented on #1216
Hi @dzgrief ,
thats not really an Orion-LD question, but rather about the NGSI-LD API. You can find the latest version here: https://docbox.etsi.org/isg/cim/open/Latest%20release%20NGSI-LD%20API%20for%20public%20comment.pdf
A detailed description of that endpoint is under 6.4.

[2022-08-25 11:08] kzangeli commented on #1216
Hi,

you won't find any sorting mechanism in the API spec I'm afraid.
While NGSIv2 has one, NGSI-LD has not.
Orion-LD sorts the entities based on their creation time (oldest first).
It's really the only "non-idiotic" way to do pagination.

Sorry ...

/KZ

On Thu, 25 Aug 2022 at 11:33, Stefan Wiedemann ***@***.***>
wrote:

[2022-08-25 20:01] #1216 closed, assigned to nobody

[2022-08-25 20:01] #1209 closed, assigned to nobody

[2022-08-30 14:34] kiskit opened #1221 "Upsert operation doesn't return the expected status and/or body"
This issue seems to relate to issue #805 .
## Problem statement
A successful upsert operation on both existing and non existing entities does not return the correct body and/or status.
## Modus Operandi
First create an entity such as this one:
[code]
Then use the upsert operation (/entityOperations/upsert) to modify the entity previously created and insert another one:
[code]
## Expectations
In ve

[2022-08-30 14:42] kiskit commented on #805
Hi @kzangeli,
To my understanding, as mentioned in the issue linked (#1221 ), the specification mandates that the status be 201 in the case of an upsert like you described, and that the body be a list of IDs of entities successfully either created or updated. 207 would be used in case at least one operation on at least one entity resulted in an error.

[2022-08-30 14:45] kzangeli commented on #1221
Yes, you're right, the broker isn't up-to-date with the latest changes in the spec.

However, I'm rewriting part of the service routines to use the new mongo driver (mongoc) instead of the older legacy C++ driver, that was stamped as obsolete quite some time ago.

All batch ops are reimplemented and they follow the spec (returning a 201 and an array of entity ids - those entities that were CREATED

[2022-08-30 14:48] kzangeli commented on #805
Yes, correct (almost - only created entities in the response).

This issue is older than the latest decision in ETSI ISG CIM.
I wanted the distinction updated/created but in the end we opted for the (much simpler) 201 with only Created entities in the payload body

[2022-08-30 14:52] kiskit commented on #1221
It's no biggie on our side for now to be honest. Good point about the created thing, I had misread the spec. Thanks

[2022-09-01 16:25] javicond3 opened #1224 "Notifications fired allways even if not watchedAttribute changes"
Notifications sent even if the `watchedAttribute` does not change. I reproduce the issue with the following example:

1. Create the entity:
[code]
2. Create the subscription (it should fire when the **pm10** attribute changes):
[code]
3. Update the entity (the so2 attribute so the notification should not be fired):
[code]
4. Result: I receive the notification ❌
5. Expected: The notification should

[2022-09-02 13:48] kzangeli commented on #1224
That's exactly what you should expect.
If you think of it a little, the value might not have been modified, but the "modifiedAt" has - meaning the value is new, not "old" anymore and this is important info for the temporal database.

That said, it's not interesting for everybody and if you start Orion-LD with the CLI `-noNotifyFalseUpdate`  then the notification will not be sent.
This will be a fi

[2022-09-08 19:22] istyf opened #1226 "Case sensitive comparison of some headers causes issues in HTTP/2 environments"
When moving from Orion-LD 1.0.1 to 1.1.0 we experienced a regression where our solution worked perfectly in a docker composed environment, but failed mysteriously on Kubernetes using an istio service mesh. The problem has been tracked down to the fact that the Accept header is no longer respected, when invoking GET requests for /ngsi-ld/v1/entities or /ngsi-ld/v1/entities/{entityid}, in environmen

[2022-09-08 19:44] istyf commented on #1226
PR submitted. If approved, then please please please consider backporting this to a 1.1.1 release as the current 1.1.0 version is unusable (if you want response payloads in anything but application/json that is) in HTTP/2 environments.

[2022-09-09 10:07] pdmangel2 opened #1228 "Getting 'No such tenant' when starting from scratch"
When starting from scratch (empty database), our nodejs application gets following exception when querying for entities:
{
    "type": "https://uri.etsi.org/ngsi-ld/errors/NonExistingTenant",
    "title": "No such tenant",
    "detail": "Tenant01"
}
The query is done at application startup.

I encountered this with orion-ld version 1.0.1, but also with 1.1.0

This looks like issue #948, which shou

[2022-09-09 11:51] kzangeli commented on #1228
Not exactly the same as issue #948.
You see, tenants are in the end mongo databases.
They are created on demand, just create an entity on any tenant and the database for the tenant will be created, automatically.

Queries on the other hand, as they aren't creating anything, no tenant will be created.
Sending a query on a tenant that does not exist makes very little sense, and it is probably a mist

[2022-09-09 11:51] #1228 closed, assigned to nobody

[2022-09-09 13:55] kiskit opened #1229 "Crash on erroneous q"
Hello
In the following json posted to **/subscriptions**, there is an erroneous _q_.
[code]
It makes orion-ld 1.1.0 crash after logging the message:
_qLex: ngsi-ld query language: after non-regexp comparison operator must come a non-regexp Value: Variable_

[2022-09-09 14:11] kzangeli commented on #1229
ok, noted.
Should be an easy fix.
Thanks for reporting!

[2022-09-09 14:39] kzangeli commented on #1229
BTW, you know how to fix it, right?
Just add quotes for the string:
[code]
Pretty sure you know already.
Just in case ... Wouldn't want to have you waiting and losing valuable time on a stupidity ...

[2022-09-09 14:41] kiskit commented on #1229
Actually yes, I know because I already wasted that time, so yes, no need to worry ;)

[2022-09-09 15:12] kzangeli commented on #1229
OK! :)

So, I implemented a functest for your case, exactly as you describe it in the issue.
Didn't get any crash though ...

Could you please have a look at the PR:
https://github.com/FIWARE/context.Orion-LD/pull/1230

And let me know if I missed something in the functest

False alarm - I started the broker with the CLI `-experimental`, which makes it use an alternative implementation.
All worked

[2022-09-09 21:27] #1226 closed, assigned to nobody

[2022-09-12 08:49] kiskit commented on #1229
Great, I like it when I don't really need to do anything. Thanks for the fix.

[2022-09-12 09:22] kzangeli commented on #1229
"q" for Orion-LD is complex (not only "q"), as Orion-LD implements both NGSI-LD and NGSIv2, and both APIs have "q", only, they're different ...

[2022-09-12 09:22] #1229 closed, assigned to kzangeli

[2022-09-13 19:44] istyf commented on #1226
Just to follow up. Would it be possible to push out a 1.1.1 release based on this fix sometime soon?

[2022-09-16 12:29] kzangeli commented on #1226
Sure, I can do that.
Before releasing I always remove most of the temporal traces, and run a full regression under valgrind, to make sure there aren't any leaks nor errors (possible SIGSEGVs).
A bit busy this week, and next (business trips), so, it's not going to be immediate.
Meanwhile, just use one of the latest tags in dockerhub (not "latest" - one of the latest, including your fix).

[2022-09-17 16:40] kzangeli commented on #1226
Actually, thinking just a little, there's an easier way to do a v1.1.1 - taking it from the v1.1.0 branch (which is pretty much what you propose ...).   Sorry, my head is elsewhere the last couple of days.

Still very busy but, yes, I'll try to do this on Thursday, once back from next week's trip (Kick-Off meeting for a new European project).

[2022-09-22 08:18] kzangeli commented on #1226
Done - v1.1.1 is released

[2022-09-29 14:09] rschwebel commented on #1062
Any news regarding this?

[2022-09-29 14:22] kzangeli commented on #1062
Oh yes.
Everything except Registrations (that still aren't really supported anyway) now uses mongoc and not the legacy driver,
**if** the broker is started with `-experimental` (or with the env var ORIONLD_EXPERIMENTAL=TRUE).

If you want to go one step further and completely disable the old legacy driver, use `-mongocOnly` (env var ORIONLD_MONGOCONLY=TRUE).
If you do that, then all old NGSIv2 wil

[2022-10-10 08:09] Blobonat opened #1244 "attributes subscription option gets ignored when entity was created via entityOperations/create endpoint"
I already created a detailed [issue for the Scorpio Context Broker](https://github.com/ScorpioBroker/ScorpioBroker/issues/337) (please have a look for the steps to reproduce the bug (?))

When creating a subscription for an entity, which was created via the `entityOperations/create` endpoint the selected attributes for the subscription via `attributes` get ignored and only the attributes that were

[2022-10-10 10:48] kzangeli commented on #1244
Yeah, no, if I understand you correctly this seems like a bug.
I will look into it - try starting Orion-LD with the CLI option -experimental (env var ORIONLD_EXPERIMENTAL=TRUE)
That hopefully fixes the problem (but might give you a few other problems :))

[2022-10-10 10:50] Blobonat commented on #1244
Doesn't `command: -experimental -dbhost mongodb` start Orion_LD in the experimental mode?

[2022-10-10 10:52] kzangeli commented on #1244
Yes, exactly.
It's implemented for all NGSI-LD API endpoints except Registrations (which aren't used except for a tiny PoC).
You'll be using the new mongoc driver instead of the old legacy driver

[2022-10-10 13:11] kzangeli commented on #1244
Ah, I see, you're already in experimental mode ...
ok, I'll have a look and fix the problem

[2022-10-10 15:13] Blobonat opened #1245 "Placement of @context in notification data"
Hi,

I noticed a small deviation between Scorpio and Orion-LD with the placement of @context inside a notification with `endpoint.accept: "application/ld+json"`:
Orion-LD places the `@context` on the top level and Scorpio in `data` for each entity.

Orion-LD behavior:
[code]

Scorpio behavior:
[code]

I haven't found any requirement regarding the placement of the `@context` in the NGSI-LD API spec

[2022-10-12 10:39] fbattello opened #1246 "Relationship-Multi-Attribute error on batch upsert"
Hi,

Orion-LD correctly inserts the below entity using the **entities** endpoint, but returns an error when using the **batch upsert** endpoint.

[code]
Error Message :

Orion-ld version :

[2022-10-13 07:39] kzangeli commented on #1246
Yeah, sorry about that.
Orion-LD doesn't support the datasetId (multi-attribute).

As a PoC, a tiny subset of the API was made "datasetId-aware" (2-3 operations) but, that's about it.
It's on the roadmap, of course, it's just not at the top (new NGSI-LD Registrations and Forwarding is - see issue #280)
And, forwarding is a major feature which is gonna take quite a while to finish (6 months?).
So,

[2022-10-13 07:43] kzangeli commented on #1245
I guess we could put the @contexzt in either of the two positions (unless we add to the spec something we've been discussing in ETSI ISG CIM where the NGSI-LD API is defined - prohibiting the @context to be anywhere except the toplevel of a payload body).

In either case, if you receive a notification with 100 entities in the "data" array, and the @context is part of the items of that array, then

[2022-10-13 08:01] kzangeli commented on #1245
Just got the preliminary OK from NEC (owners of Scorpio) to do it "my way"  - just preliminary for now.
Well discuss this in ETSI ISG CIM and amend the API spec accordingly.
A new release of the API spec is due just after Christmas, so it just might be part of that new version.

Once we have a definitive agreement, I'll post again (well, I'll try to remember!)

[2022-10-13 09:13] fbattello commented on #1246
Ok, and thank you for the roadmap.
I better understand why it worked with a unitary operation but not a batch one.
I had to triple-check I built a valid request in batch mode :)
I need the multi-attribute as I develop the [ngsildclient](https://github.com/Orange-OpenSource/python-ngsild-client) Python library that implements _(a subset of)_ the NGSI-LD API on the client side.
For the moment I test

[2022-10-13 09:54] kzangeli commented on #1244
So, I finally got some time to look at these errors you've found.
I'd need some clarifications though - see the issue in Scorpio

[2022-10-13 10:02] kzangeli commented on #1244
First comment - `/ngsi-ld/v1/entityOperations/upsert` REPLACES entities by default.
That would explain why you only receive "speed" in that notification (there aren't any other attributes).
You can modify that behavior with a URL-param "options=update". That's probably what you want.

[2022-10-13 10:33] kzangeli commented on #1244
So, I created a functest, as close to your issue description as I could: https://github.com/FIWARE/context.Orion-LD/pull/1247.
It works just fine, so, perhaps I do something differently.
Take a look at the PR. I believe the functest (there's nothing more in the PR) is easy enough to understand.

Give feedback on how to modify the functest to reproduce the errors, cause, I don't see any errors. Eve

[2022-10-13 10:44] kzangeli commented on #1169
Did that

[2022-10-13 10:44] #1169 closed, assigned to nobody

[2022-10-13 11:26] kzangeli commented on #1246
ok, understood.
I'd ask you to close this issue then, if all is ok.

[2022-10-13 12:07] #1246 closed, assigned to kzangeli

[2022-10-14 08:09] Blobonat commented on #1244
I messed up with the `/ngsi-ld/v1/entityOperations/upsert` endpoint. Thanks for your help and sorry for causing the inconvenience.

[2022-10-14 08:14] kzangeli commented on #1244
That's ok - that's why I'm here. To help :)
No worries, really.
I'm very thankful for any bug reports, even if some of them end up as false positives, so, please, keep at it! :)

[2022-10-14 08:17] kzangeli commented on #1244
False Alarm

[2022-10-14 08:17] #1244 closed, assigned to kzangeli

[2022-10-18 14:51] Drbvr commented on #1062
Definitely looking forward to this! Any chance the mongoc-functionality will become available in a stable release sooner than you have been able to fix it all? The already available services promise to be a great help, but I'd rather not use them in experimental mode.

[2022-10-18 16:58] kzangeli commented on #1062
Yeah, well, I have a few users "brave enough" to use the "-experimental" mode.
It sounds more drastic than it actually is.

The more users I have, the faster I will feel ok with making the mongoc stuff the default mode.
I'd say, turn it on, and if you run into troubles, turn it back off.

FYI, In a few weeks the regs will be implemented using mongoc as well.

[2022-10-19 08:15] Drbvr commented on #1062
Ok, let's give it a try. Should we use 'latest' release for this? I don't think this is in 1.1.1 yet, right?

[2022-10-19 08:21] kzangeli commented on #1062
Don't ever use "latest", as a tag. Pick the latest tag you can find, that's fine.
And 1.1.1 comes from 1.1.0 which is quite old, so, no, use the newest tag you can find, and stick to it until you need to update it, depending on new functionality or bug fixes.

[2022-10-19 13:45] pdmangel2 opened #1248 "query (q) in subscription errors on lists"
Following example returns
`{
  "type": "https://uri.etsi.org/ngsi-ld/errors/BadRequestData",
  "title": "Invalid value for Subscription::q",
  "detail": "forbidden characters in String Filter"
}`

[code]
When trying with     "q": "status==occupied,free" orion-ld crashes

[2022-10-20 07:44] kzangeli commented on #1248
ok, that's not good.
Weird, thought I had this covered by functional tests
I'll have a look at this asap!

[2022-10-20 08:56] kzangeli commented on #1248
ok, think I got it.
There are two problems in your request:

1. "StringLists" in RHS (right-hand-side) haven't been implemented. Sorry about that, I'll get right on it.
2. The backslash isn't an allowed character (at least not in Orion-LD - I need to check this against the NGSI-LD spec).
           Meaning, you can't escape stuff in the payload body.

Try URL-encoding the q instead (and use just a

[2022-10-20 11:17] pdmangel2 commented on #1248
Thanks Ken!
But is '\"' not the way to escape double-quotes in JSON values ? I would expect the JSON parser then to convert escaped characters to their correct value.

[2022-10-20 13:17] kzangeli commented on #1248
Yeah, I implemented for url-encoding to have it the exact same way as URL-params.
Then we discussed it in ETSI ISG CIM some moths agio and decided we should support both url-encoding and "JSON-escaping".
I haven't implemented that last part yet.

Now, I looked at the problem a little more.
It's quite complex as Orion-LD (NGSI-LD)  attempts to be backwards-compatible with Orion (NGSIv2) and especia

[2022-10-20 13:34] pdmangel2 commented on #1248
Thanks for this elaborated explanation.
Since urgent, I have implemented a workaround : instead of specifying a 'q==...', I add the attributes I have to filter on in 'attrs' and I filter when I get updates. Much more complicated, but it works.
I certainly agree with your priorities and I'm willing to do some tests with the 'experimental' mode as soon as I get some time.

[2022-10-21 07:41] fbattello opened #1250 "Do the version from the API endpoint and the one from the docker tag agree ?"
Hi,

I use the Orion-LD docker image tagged `1.2.0-PRE-1117`.
When requesting the API version endpoint from the corresponding container, I get `"orionld version": "post-v1.1.0"`

It looks like that the version returned by the API is stuck to `post-1.1.0` and doesn't mirror the exact version.

[2022-10-21 07:46] kzangeli commented on #1250
Well, one thing is the version of Orion-LD and another thing is the tag in dockerhub.
Orion-LD versions change when releases are made.
dockerhub tags change for every PR merged (and new image pushed to dockerhub).
The broker itself isn't aware of the dockerhub tags.

[2022-10-21 07:46] #1250 closed, assigned to nobody

[2022-10-21 12:12] rschwebel opened #1251 "Use correct path to osDistro.sh script"
The CMakeLists.txt file currently assumes that the source dir is one level above the build dir, but this might not necessairily be the case. Instead of ../, we should use the official CMAKE_BUILD_DIR variable that references the directory where the CMakeLists.txt file is.

I'll send a pull request with a patch in a minute.

[2022-10-21 12:21] rschwebel opened #1253 "It should be possible to overwrite DISTRO"
When cross compiling, it should be able to overwrite the DISTRO normally determined by osDistrolsh.

I'll send a pull request in a minute.

[2022-10-21 12:31] rschwebel opened #1255 "parseArgs: fix 32/64 bit compatiblity in formatstrings for cross compiling"
Trying to print `int64_t` with `%ld` and `uint64_t` with `%lu` results in a compiler error:

`error: format '%lu' expects argument of type 'long unsigned int', but argument N has type 'uint64_t' {aka 'long long unsigned int'}`

when cross built for ARM 32 bit.

The correct way to print these types is with

[code]
instead of `%ld` and

[code]

instead of `%lu`.

MR will follow in a minute.

[2022-10-21 14:05] kzangeli commented on #1253
Cross-compiling the broker?
Interesting, where are you trying to run the broker?

[2022-10-21 14:19] rschwebel commented on #1253
I'm currently mostly trying to find out more about the state of the code base and its build system. For me as an embedded guy, throwing orion-ld into a cross build environment is a good way to find out, as it is more or less a cleanroom environment that has nothing that's by accident there on normal distributions :-) So integration issues are often quickly found.

In the end, I'll probably looking

[2022-10-21 14:22] kzangeli commented on #1253
ok, great. A cleaning process. I'm all for that!
Count on my support

[2022-10-24 20:46] rschwebel commented on #1062
Unfortunately, as far as I see, this "-experimental" method doesn't remove the compile time dependency on the 2016 deprecated mongo-cxx-driver-1.1, right?

[2022-10-25 06:43] kzangeli commented on #1062
Yes, that's right.
And, that part may not be removed in a long time.
Orion-LD still supports NGSIv2 but it needs the legacy driver for that.
To overcome that obstacle isn't easy.
You'd need to "mock" the legacy driver

[2022-10-25 07:10] rschwebel commented on #1062
I'm not sure if I understand you correctly.

mongo-cxx-driver-1.1 has been deprecated by the maintainers back in 2016, six years ago. That means that the code won't get any support any more; it doesn't compile on modern distributions (it contains an old Python 2 based build system which is deprecated as well), and of course it won't get any security updates any more as well. The advise of the mong

[2022-10-25 13:14] kzangeli commented on #1062
Yeah, I know all that, perfectly.
The thing is, Orion-LD is  about NGSI-LD, the NGSIv2 part was inherited from Orion (back in 2018).
Best effort for the NGSIv2 part.
Redoing the NGSIv2 part to support mongoc isn't even part of the roadmap.
Some day, once the NGSI-LD part is free from dependencies of the old code, I can refresh the brqanch and get the new source code from Orion, free from the legac

[2022-10-27 14:42] kiskit opened #1258 "Strange behavior with q and numbers"
Hello there,

and entity created with the field xy set to -1.03 is not returned by this query:
/entities?type=Temperature&q=xy==-1.03
If the entity is created with field set to a negative integer, this request works:
/entities?type=Temperature&q=xy==-103

Funny story, we pulled version 1.15.0-next and from what the debugger shows, it always goes into the QNodeIntegerValue case for negative numbers

[2022-10-27 16:21] kzangeli commented on #1258
ok, interesting!

Might be I have never tested a negative floating point number ...
I'll get right on this. Pretty important bug!

Thanks for reporting!!!

[2022-10-27 17:00] kzangeli commented on #1258
Hopefully fixed it.
Stupid bug, thanks for finding it !!!
Please try again tomorrow morning (or once a new image has been pushed to dockerhub)

[2022-10-28 07:30] kiskit commented on #1258
Hi Ken,

Excellent reactivity and good job, we'll test it eventually. Did you also see the fact that the standard allows for numbers to be expressed with exponentials (I don't know if this is the right term), like 1.03E4 (for 1.03 times 10 to the power of 4)? I don't think Orion can do that or at least couldn't make it work.

[2022-10-28 07:52] kzangeli commented on #1258
Yes, about that you're perfectly right.
Haven't implemented that, perhaps I should.
I'll add it to my ever-growing To-Do-list ... :)

[2022-10-28 07:58] kiskit commented on #1258
Maybe I can help. Stay tuned :)

[2022-10-28 07:59] kzangeli commented on #1258
ok! :)

[2022-10-28 14:32] #1251 closed, assigned to nobody

[2022-10-28 15:56] #1253 closed, assigned to nobody

[2022-11-01 15:09] SBlechmann opened #1260 "Path in context file not transformed properly"
Hey there,

I'm using orionld version 1.1.1 and found a small bug while trying to patch an attribute.

In my context file, I have defined my prefix like this:
"myOntology": "https://<myontology.org/schema/"
"myAttr": "myOntology:myAttr"

When I run a Patch towards http://{{orion}}/ngsi-ld/v1/entities/<myEntity>/attrs/<myAttr> I get the following repsonse
[code]
So the url is not transformed back p

[2022-11-02 11:29] jason-fox opened #1261 "Merge-Patch update supplying the `key-values` format and a `lang` parameter not supported."
1. Create an Entity with a **LanguageProperty**

[code]

Attempt to Merge-Patch update supplying the `key-values` format and a `lang` parameter:

[code]

The broker returns:

[code]

It is expected that  Key-values Merge-Patch update of a single Language should be supported

[2022-11-02 11:36] jason-fox opened #1262 "Merge-Patch keyValues treats Object attributes as Property-of-Property"
Create an entity with an Object property like Address:

[code]

Attempt to update with keyValues:

[code]

The subattributes are treated as Property-of-Property rather than part of the object. In normalized terms, this update should be considered as:

[code]

Not as

[code]

[2022-11-02 11:41] kzangeli commented on #1261
Either that or we forbid this.
It's a quite weird request ...
What if we added more fields to the patch object?
[code]
What should the broker do then?

`options=keyValues` breaks the merge+patch behavior, and so does `lang=es`.
Not so sure this is a very good idea.
This needs to be discussed in ETSI ISG CIM.

_It could easily be done like this instead (without key-values and lang):_
[code]
NOT bre

[2022-11-16 14:37] kzangeli commented on #1260
Yeah, we discussed this.
The change from dot to equal sign is mandatory before storing keys in mongo (well, dots are prohibited).
So, seems like I messed up and used the "mongo transformed" variable instead of the "original value" variable in the error message.
Not very high on my ToDo but yes, I'll fix it.
Bad errors in the log file is only confusing ...

Thanks for reporting!

[2022-11-16 14:39] kzangeli commented on #1255
I believe this issue was addressed in the PR #1256

[2022-11-16 14:39] #1255 closed, assigned to nobody

[2022-11-16 14:48] jason-fox opened #1269 "Massive /entityOperations/upsert results in E11000 duplicate key error on second run"
[code]

Works fine. But running this a second time

[code]

And I get:

[code]

Error log is:

[code]

The full statement can be found in the text attached:

[massive.txt](https://github.com/FIWARE/context.Orion-LD/files/10022784/massive.txt)

[2022-11-16 19:53] rschwebel commented on #1255
Thanks for your help!

[2022-11-17 08:39] ColoDidac opened #1270 "Create an MQTTS subscription using the V1"
Trying to create an MQTTS subscription using the V1 with ngsi-ld/v1. The subscription returns an "Unable to connect to MQTT server" statement.
It's possible to create an MQTTS subscription for the credentials or just plain MQTT?
Thanks!!

[2022-11-17 10:02] #1269 closed, assigned to nobody

[2022-11-17 10:43] kzangeli commented on #1270
Notification over MQTT go via an MQTT server/broker.
In my functional tests I use mosquitto, but any MQTT broker should work.
I guess that's what's missing for you, you haven't started any MQTT broker alongside Orion-LD.

I haven't implemented mqtts yet, only mqtt. Sorry ...

For hints, take a look at this [functest](https://github.com/FIWARE/context.Orion-LD/blob/develop/test/functionalTest/cases

[2022-11-18 07:43] ColoDidac commented on #1270
Thank you so much for the response,
Yes, I think that was my problem.
I will search for some alternative way.
Do you suggest any way to put credentials in a subscription?
Thank you!

[2022-11-18 07:43] #1270 closed, assigned to nobody

[2022-11-21 11:13] ColoDidac opened #1275 "Subscription Credentials"
We are trying to add some credentials to a Subscription, at first, we tried with MQTTS, but it was not possible because it had not been implemented yet.
Now I'm trying to add some credentials to an HTTP subscription, but I can't find a good way to make it work.
There's implemented any way to add credentials to a Subscription?
Thank you!!

[2022-11-21 11:18] #1050 closed, assigned to kzangeli

[2022-11-21 11:21] #508 closed, assigned to nobody

[2022-11-21 11:25] #329 closed, assigned to MohamedSadiq102

[2022-11-21 11:26] kzangeli commented on #1275
Yes!
Use the "receiverInfo" field inside "Subscription::notification::endpoint".
"receiverInfo" is a key-value array of HTTP headers (in the case of HTTP binding) of header names and header values.

You can create a subscription like this:
[code]

Any notification would then be sent with the header "XXX: YYY".

That said, any update/creation of entities that provoke a notification, if they include

[2022-11-21 11:27] #212 closed, assigned to MohamedSadiq102

[2022-11-21 11:28] #28 closed

[2022-11-21 11:28] #27 closed

[2022-11-22 13:56] fbattello opened #1276 "[Subscription] Invalid Q-Filter"
Hi

Orion-LD fails when trying to create the subscription sample [Notify me on low stock](https://ngsi-ld-tutorials.readthedocs.io/en/latest/subscriptions.html) from the NGSI-LD tutorial.

With the following error message :

[code]

From the original sample I've just removed the tenant and replaced the context with the default context, which at the end gives that :
[code]
The docker image is `fiwa

[2022-11-22 14:56] kzangeli commented on #1276
Yeah this is probably due to a bug fix from my side.
Try putting  the RHS of `controlledAsset==urn:ngsi-ld:Building:farm001`  inside double quotes:
[code]

[2022-11-22 15:17] fbattello commented on #1276
Thanks. It works bu adding `%22`.
But not sure I've understood. I'd like to know for the future (I have some subscription payloads built in Python) : which one is LD-compatible ? Without double quotes ? With double-quotes urlencoded ? Both ?
Is it a bug ?

[2022-11-22 15:21] kzangeli commented on #1276
It was a bug, but I fixed it.
You see, Orion-LD supports both NGSI-LD and NGSIv2.
NGSIv2 also has a 'q' filter. Only ... it's different.  No quotes needed for string in RHS for NGSIv2 'q'.
While, in NGSI-LD's 'q', quotes are indeed needed.

So, that's the reason behind the bug, which I found (not too long ago) and I fixed it.
It got a bit tricky to support both (slightly differtent) 'q's at the sa

[2022-11-22 15:25] kzangeli commented on #1276
One note here.
As the 'q' is "normally" used for Query of Entities, and that 'q' comes in the URL, it needs to be URL-encoded.

For subscriptions, the 'q' is part of the payload body and instead of using url-encoding, I should have gone for escaping the quotes.

I decided to not mix things and use the same mechanism for both query and subscriptions.
Not a very good decision, in retrospective and s

[2022-11-22 15:27] kzangeli commented on #1276
If you're happy with my answer, please go ahead and close the issue

[2022-11-22 16:07] fbattello commented on #1276
Thank you for your very detailed answer.

[2022-11-22 16:07] #1276 closed, assigned to nobody

[2022-11-24 11:53] ColoDidac commented on #1275
It seems that works, Thank you!!

[2022-11-24 11:53] #1275 closed, assigned to kzangeli